@font-face {
	font-family: "Mont";
	src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff"), url("../fonts/Mont-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff"),
		url("../fonts/Mont-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Mont";
	src: local("Mont Semi Bold"), local("Mont-Semi-Bold"), url("../fonts/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont-SemiBold.woff") format("woff"),
		url("../fonts/Mont-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
// resset
* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p {
	margin-bottom: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
img {
	height: auto;
	max-width: 100%;
}
input {
	outline: none;
}
body {
	max-width: 100%;
	overflow-x: hidden;
}
//    customize elements
// custom text
.main-title {
	font-family: "Mont";
	font-size: 30px;

	color: #4b5258;
	.main-sm-title {
		font-weight: 600;
	}
	.main-xs-title {
		font-size: 18px;
		font-weight: 400;
	}
}
.mark {
	color: #43aaff;
}
.main-desc {
	font-family: "Mont";
	font-size: 18px;
	color: #4b5258;
}
// polici
.polici-wraper {
	.polici {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin-right: 10px;
		border-radius: 4px;
		height: 13px !important;
		width: 13px !important;
		&:checked {
			&:after {
				position: absolute;
				content: "";
				height: inherit;
				width: inherit;
				background-color: #ffc24d;
				mix-blend-mode: lighten;
			}
		}
	}
	.polici-text {
		font-family: "Mont";
		font-size: 11px;
		line-height: 16px;
		font-weight: 600;

		max-width: 256px;
		text-align: left;
		a {
			text-decoration: underline;
		}
	}
}

//custom buttons
.profesional-btn {
	display: block;
	max-width: 650px;
	border-radius: 100px;
	background-color: #ffc24d;
	padding: 15px;
	font-family: "Mont";
	font-size: 22px;
	line-height: 23px;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	margin-bottom: 65px;
	transition: 0.4s;
	&:hover {
		color: #fff;
		background-color: #e5af4a;
	}
}

//custom ellements
header {
	margin: 18px 0 83px;
	.contact-phones {
		font-family: "Mont";
		font-size: 18px;
		line-height: 18px;
		font-weight: 600;
		color: #4b5258;
		margin-bottom: 4px;
	}
	.work-deays {
		position: relative;
		font-family: "Mont";
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		color: #959a9d;
		text-align: right;
		&:after {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			content: "";
			height: 8px;
			width: 8px;
			background-color: #20ff87;
			border-radius: 50%;
		}
	}
	.messanger {
		.contact-text {
			font-family: "Mont";
			font-size: 12px;
			line-height: 16px;
			font-weight: 400;
			color: #4b5258;
			max-width: 140px;
			margin-right: 10px;
		}
		.ico-wrap {
			a {
				margin: 0 5px;
			}
		}
	}
	.order-consult {
		width: 200px;
		border: 1px solid #43aaff;
		padding: 21px 5px;
		text-align: center;
		border-radius: 100px;
		background: transparent;
		font-family: "Mont";
		font-size: 12px;
		font-weight: 400;
		color: #4b5258;
		transition: 0.4s;
		&:hover {
			transform: scale(1.03);
		}
	}
	.responce-btn {
		display: none;
	}
	.responce-wraper {
		width: 70%;
	}
}
.custom-form {
	position: relative;
	padding: 0px 0px 0px 63px;
	background-image: url(../img/calculator.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120%;
	border-radius: 100px;
	overflow: hidden;
	.form-title {
		margin-top: 70px;
		font-family: "Mont";
		font-size: 24px;
		line-height: 36px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 13px;
		text-align: center;
	}
	.form-desc {
		font-family: "Mont";
		font-size: 16px;
		line-height: 24px;
		color: #ffffff;
		font-weight: 600;
		margin-bottom: 26px;
		text-align: center;
	}
	.btn-wraper {
		max-width: 390px;
		margin-bottom: 15px;
		a {
			position: relative;
			display: inline-block;
			width: 184px;
			height: 70px;
			background-color: #fff;
			border-radius: 20px;
			margin: 0 5px;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.custom-form {
		max-width: 390px;
		input[type="text"] {
			padding: 28px 0 28px 47px;
			border: none;
			outline: none;
			border-radius: 100px;
			background-color: #fff;
			width: 100%;
			font-family: "Mont";
			font-size: 14px;
			font-weight: 400;
			color: #959a9d;
			margin-bottom: 10px;
			&::-webkit-input-placeholder {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
			}
			&::-moz-placeholder {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
			}
			&:-ms-input-placeholder {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
			}
			&::-ms-input-placeholder {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
			}
			&::placeholder {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
			}
		}
		input[type="submit"] {
			font-family: "Mont";
			font-size: 13px;
			line-height: 19px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			width: 100%;
			border-radius: 100px;
			background-color: #ffc24d;
			border: none;
			outline: none;
			padding: 25px 30px;
			margin-bottom: 15px;
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		}
		.chk-wraper {
			margin-left: 20px;
			margin-bottom: 119px;
		}
		.chk {
			display: inline-block;
			position: relative;
			overflow: hidden;
			margin-right: 10px;
			border-radius: 4px;
			height: 13px;
			width: 13px;
			&:checked {
				&:after {
					position: absolute;
					content: "";
					height: inherit;
					width: inherit;
					background-color: #ffc24d;
					mix-blend-mode: lighten;
				}
			}
		}
		.checkBox-text {
			font-family: "Mont";
			font-size: 11px;
			line-height: 16px;
			font-weight: 600;
			color: #ffffff;
			max-width: 256px;
			text-align: left;
			a {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}
// custom bg
.up-bg {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
}
.bt-bg {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
}
// custom buttons
.custom-btn-wraper {
	max-width: 270px;
	a.btn {
		display: block;
		position: relative;
		width: 125px;
		height: 70px;
		border-radius: 20px;
		margin: 0 5px 10px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
// custom slider
.owl-carousel {
	position: relative;
	max-width: 898px;
	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		.owl-prev {
			position: absolute;
			left: -70px;
			height: 63px;
			width: 63px;
			border-radius: 50%;
			background-color: #43aaff;
			background-image: url(../img/arrowDown.svg);
			background-size: 40%;
			background-position: center center;
			background-repeat: no-repeat;
			transform: rotate(90deg);
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		}
		.owl-next {
			position: absolute;
			right: -70px;
			height: 63px;
			width: 63px;
			border-radius: 50%;
			background-color: #43aaff;
			background-image: url(../img/arrowDown.svg);
			background-size: 40%;
			background-position: center center;
			background-repeat: no-repeat;
			transform: rotate(-90deg);
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		}
	}
}
// cleaning
.cleaning {
	padding-bottom: 127px;
	background-image: url(../img/bottom-header-bg.png), url(../img/header-bg.jpg);
	background-size: 100%, contain;
	background-position: center bottom, center right;
	background-repeat: no-repeat;
	.main-title {
		font-weight: bold;
		margin-bottom: 45px;
		.main-sm-title {
			font-weight: 600;
		}
		.main-xs-title {
			font-size: 18px;
			font-weight: 400;
		}
		.line {
			display: inline-block;
			width: 40px;
			height: 2px;
			background: #43aaff;
			margin: 5px 18px;
		}
	}
	.main-desc {
		max-width: 453px;
		margin-bottom: 50px;
		.discont-text {
			font-weight: 600;
		}
	}
	.btn {
		font-family: "Mont";
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		border-radius: 100px;
		padding: 30px;
		transition: 0.4s;

		&:nth-child(2) {
			margin-left: 17px;
		}
	}
	.calc {
		max-width: 297px;
		background-color: #43aaff;
		box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		&:hover {
			background-color: #438cc8;
		}
	}
	.order {
		max-width: 265px;
		background-color: #ffc24d;
		box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		&:hover {
			background-color: #dc940e;
		}
	}
}
// clculation
.calculation {
	padding: 72px 0 160px;
	background-image: url(../img/green-bg-up.svg);
	background-position: center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	.rd {
		background-color: #ffeecc;
	}
	.bl {
		background: #43aaff;
	}
	.block {
		padding: 40px 25px;
		margin-bottom: 24px;
		border-radius: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right bottom;
		height: 90%;
		.block-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 19px;
			font-weight: 700;
			color: #fff;
			max-width: 180px;
		}
	}
	.dev {
		background-image: url(../img/devices.png);
	}
	.cl {
		background-color: #ffc24d;
		background-image: url(../img/cleaning.png);
	}
	.hand {
		background-image: url(../img/hands.png);
	}
	.pay {
		background-color: #ffc24d;
		background-image: url(../img/result.png);
	}
	.cat-list {
		background: #ffffff;
		box-shadow: 0px 0px 20px rgba(29, 31, 33, 0.12);
		border-radius: 100px;
		margin-bottom: 18px;
		.cat-item {
			a {
				display: block;
				padding: 28px 30px;
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				border-radius: 100px;
				color: #4b5258;
				background-color: #fff;
				transition: 0.4s;
				max-width: 300px;
				&:hover {
					background-color: #43aaff;
					color: #fff;
				}
			}
		}
	}
	.main-title {
		text-align: center;
		font-weight: 800;
		margin-bottom: 20px;
	}

	.main-desc {
		text-align: center;
		margin-bottom: 43px;
	}
	.calc-container {
		position: relative;
		padding: 0px 0px 0px 63px;
		background-image: url(../img/calculator.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 100px;
		overflow: hidden;
		.form-title {
			margin-top: 70px;
			font-family: "Mont";
			font-size: 24px;
			line-height: 36px;
			font-weight: 700;
			color: #ffffff;
			margin-bottom: 13px;
			text-align: center;
		}
		.form-desc {
			font-family: "Mont";
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;
			font-weight: 600;
			margin-bottom: 26px;
			text-align: center;
		}
		.btn-wraper {
			max-width: 390px;
			margin-bottom: 15px;
			a {
				position: relative;
				display: inline-block;
				width: 184px;
				height: 70px;
				background-color: #fff;
				border-radius: 20px;
				margin: 0 5px;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.reword-form {
			max-width: 390px;
			input[type="text"] {
				padding: 28px 0 28px 47px;
				border: none;
				outline: none;
				border-radius: 100px;
				background-color: #fff;
				width: 100%;
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				color: #959a9d;
				margin-bottom: 10px;
				&::-webkit-input-placeholder {
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					color: #959a9d;
				}
				&::-moz-placeholder {
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					color: #959a9d;
				}
				&:-ms-input-placeholder {
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					color: #959a9d;
				}
				&::-ms-input-placeholder {
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					color: #959a9d;
				}
				&::placeholder {
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					color: #959a9d;
				}
			}
			input[type="submit"] {
				font-family: "Mont";
				font-size: 13px;
				line-height: 19px;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				width: 100%;
				border-radius: 100px;
				background-color: #ffc24d;
				border: none;
				outline: none;
				padding: 25px 30px;
				margin-bottom: 15px;
				box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
			}
			.polici-wraper {
				max-width: 275px;
				margin-bottom: 120px;
			}

			.polici-text {
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
		.img-wraper {
			position: relative;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				height: 100%;
				width: 100%;
				background-image: url(../img/phone.png);
				background-size: 120%;
				background-repeat: no-repeat;
				background-position: center bottom;
			}
		}
	}
}
.services {
	position: relative;
	top: -2px;
	padding: 136px 0 131px;
	background-color: #f2f9ff;

	.btn-know {
		width: 230px;
		border-radius: 30px;
		padding: 11px 25px;
		text-align: center;
		font-family: "Mont";
		font-size: 22px;
		line-height: 32px;
		color: #fff;
		display: block;
		background-color: #ffc24d;
		margin-bottom: 20px;
	}
	.main-title {
		font-weight: 800;
		text-align: center;
		margin-bottom: 10px;
		line-height: 45px;
	}
	.main-desc {
		text-align: center;
		max-width: 700px;
		line-height: 33px;
		margin-bottom: 37px;
	}
	.block {
		background-color: #ffffff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		overflow: hidden;

		margin-bottom: 30px;
		img {
			height: 200px;
			-o-object-fit: cover;
			object-fit: cover;
			margin-bottom: 20px;
			width: 100%;
		}
		.services-block-title {
			font-family: "Mont";
			font-size: 18px;
			font-weight: bold;
			line-height: 25px;
			margin-bottom: 14px;
			padding: 0 35px;
		}
		.services-block-desc {
			font-family: "Mont";
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			padding: 0 35px 35px;
		}
	}
	.personal-block {
		background-color: #fff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		margin-top: 20px;
		margin-bottom: 30px;
		img {
			margin-right: 45px;
		}
		.text-wraper {
			padding: 44px 20px 56px 40px;
			.block-title {
				font-family: "Mont";
				font-size: 18px;
				line-height: 25px;
				font-weight: 700;
				margin-bottom: 13px;
				color: #4b5258;
			}
			.block-desc {
				font-family: "Mont";
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				color: #4b5258;
			}
		}
	}
	.attentive-block {
		background: #43aaff;
		border-radius: 30px;
		padding: 35px;
		margin-top: 20px;
		margin-bottom: 105px;
		.attentive-title {
			font-family: "Mont";
			font-size: 13px;
			line-height: 18px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 4px;
		}
		.attentive-desc {
			font-family: "Mont";
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #fff;
			margin-bottom: 15px;
		}
		.attentive-link {
			font-family: "Mont";
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #fff;
			margin-bottom: 15px;
			text-decoration: underline;
		}
	}
	.our-work {
		.main-title {
			line-height: 45px;
			font-weight: 700;
			max-width: 552px;
			margin-bottom: 16px;
		}
		.block {
			position: relative;
			background-color: #ffffff;
			box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
			margin-bottom: 30px;

			overflow-y: hidden;
			img {
				position: relative;
				top: 0;
				left: 0;
				display: block;

				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center;
				object-position: center;
			}
			.waranty-img {
				-o-object-fit: contain;
				object-fit: contain;
			}

			.main-block-title {
				font-family: "Mont";
				font-size: 18px;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 14px;
				padding: 0 25px;
			}
			.main-block-desc {
				font-family: "Mont";
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				padding: 0 25px 35px;
			}
		}

		.consalting-container {
			padding: 42px 49px 59px;
			border-radius: 30px;
			background-image: url(../img/consalting.jpg);
			background-position: center center;
			background-size: cover;

			.consalting-title {
				font-family: "Mont";
				font-size: 20px;
				line-height: 28px;
				font-weight: 600;
				color: #ffffff;
				max-width: 357px;
				margin-bottom: 32px;
			}
			.consalting-form {
				input[type="text"] {
					width: 275px;
					border-radius: 30px;
					border: none;
					background: #ffffff;
					padding: 28px 10px 28px 39px;
					font-family: "Mont";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					color: #959a9d;
					margin-bottom: 25px;
					&:placeholder {
						font-family: "Mont";
						font-size: 14px;
						font-weight: 400;
						line-height: 14px;
						color: #959a9d;
					}
				}
				input[type="submit"] {
					display: block;
					font-family: "Mont";
					font-size: 13px;
					line-height: 19px;
					font-weight: 600;
					text-transform: uppercase;
					background: #ffc24d;
					box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
					padding: 28px 10px;
					text-align: center;
					border: none;
					color: #fff;
					border-radius: 100px;
					width: 275px;
					margin-left: 10px;
					margin-bottom: 25px;
				}
				.polici-wraper {
					max-width: 100%;
					.polici-text,
					a {
						max-width: 100%;
						color: #ffffff;
					}
				}
			}
		}
	}
}
// type of services
.type {
	position: relative;
	top: -2px;
	padding: 140px 0 120px;
	background-image: url(../img/green-bg-bt.svg), url(../img/green-bg-up.svg);
	background-position: center top, center bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, 100%;
	.main-sm-title {
		font-weight: 700;
		text-align: center;
		margin-bottom: 10px;
	}
	.main-desc {
		text-align: center;
		max-width: 594px;
		margin-bottom: 40px;
	}
	.block {
		background: #ffffff;

		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		padding: 35px 40px 29px;
		margin-bottom: 20px;
		img {
			display: block;
			height: 95px;
			width: 95px;
			margin-bottom: 27px;
			border-radius: 50%;
			border: 2px solid #43aaff;
		}
		.block-title {
			font-family: "Mont";
			font-size: 16px;
			left: 22px;
			font-weight: 600;
			color: #4b5258;
			text-align: center;
			margin-bottom: 5px;
		}
		.block-desc {
			font-family: "Mont";
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			margin-bottom: 16px;
			color: #4b5258;
			text-align: center;
		}
		.time {
			font-family: "Mont";
			font-size: 12px;
			font-weight: 600;
			text-align: center;
			color: #43aaff;
			line-height: 18px;
			margin-bottom: 10px;
			.duration-desc {
				font-weight: 400;
				color: #959a9d;
			}
		}
		.btn {
			display: block;
			width: 206px;
			border: 1px solid #43aaff;
			border-radius: 100px;
			margin: 0 auto;
			// need to remove
			padding: 16px 30px;
			font-family: "Mont";
			font-size: 12px;
			line-height: 18px;
			font-weight: 700;
			color: #43aaff;
			text-align: center;
			margin-bottom: 5px;
		}
		.btn-active {
			display: block;
			width: 206px;
			background: #43aaff;
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
			border-radius: 100px;
			padding: 16px 30px;
			font-family: "Mont";
			font-size: 12px;
			line-height: 18px;
			font-weight: 700;
			text-align: center;
			color: #fff;
			margin-bottom: 10px;
		}
		.more-link {
			display: block;
			font-family: "Mont";
			font-weight: 400;
			font-size: 12px;
			text-align: center;
			color: #43aaff;
		}
	}
	.profesional-btn {
		margin-top: 100px;
	}
	.main-title {
		text-align: center;
	}
	.additional {
		padding-top: 100px;
		.block {
			padding: 25px;
			margin-bottom: 20px;
			img {
				margin-right: 25px;
				margin-bottom: 0;
			}
			.additional-serv-desc {
				font-family: "Mont";
				font-size: 14px;
				line-height: 19px;
				font-weight: 600;
				color: #4b5258;
				margin-bottom: 5px;
			}
			.additionsl-serv-price {
				position: relative;
				font-family: "Mont";
				font-size: 16px;
				line-height: 24px;
				font-weight: 600;
				color: #43aaff;
				margin-left: 20px;
				&:after {
					position: absolute;
					content: "";
					top: 50%;
					left: -20px;
					transform: translateY(-50%);
					width: 19px;
					height: 2px;
					background: #43aaff;
				}
			}
		}
	}
	.additional-baner {
		margin-top: 10px;
		background-image: url(../img/additional-bg.jpg);
		background-size: 50%;
		background-position: center right;
		background-repeat: no-repeat;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		padding: 51px 60px 60px;
		.additional-baner-desc {
			font-family: "Mont";
			font-size: 20px;
			line-height: 28px;
			color: #4b5258;
			font-weight: 600;
			margin-bottom: 30px;
			max-width: 379px;
			.mark {
				font-weight: 700;
			}
		}
	}

	.additional-btn {
		display: block;
		width: 275px;
		font-family: "Mont";
		font-size: 13px;
		font-weight: 600;
		line-height: 19px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		background: #43aaff;
		padding: 25px 60px;
		box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
		border-radius: 100px;
	}
	.pricelist-baner {
		padding: 39px 58px 58px;
		background-image: url(../img/price-list.jpg);
		background-size: cover;
		border-radius: 30px;
		margin: 120px 0;
		.form-title {
			font-family: "Mont";
			font-size: 24px;
			line-height: 33px;
			font-weight: 600;
			color: #fff;
			max-width: 436px;
			margin-bottom: 45px;
		}
		.form-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 19px;
			font-weight: 600;
			color: #fff;
			margin-bottom: 19px;
			max-width: 436px;
			text-align: left;
		}
		.custom-btn-wraper {
			a.btn {
				background-color: #fff;
			}
		}
		.price-form {
			max-width: 275px;
			input {
				width: 100%;
				border: none;
				border-radius: 100px;
				margin-bottom: 13px;
			}
			input[type="text"] {
				padding: 25px 39px;
				background-color: #fff;
				font-family: "Mont";
				font-size: 14px;
				line-height: 14px;
				font-weight: 600;
				color: #959a9d;
				&::-webkit-input-placeholder {
					padding-left: 39px;
					font-family: "Mont";
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					color: #959a9d;
				}
				&::-moz-placeholder {
					padding-left: 39px;
					font-family: "Mont";
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					color: #959a9d;
				}
				&:-ms-input-placeholder {
					padding-left: 39px;
					font-family: "Mont";
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					color: #959a9d;
				}
				&::-ms-input-placeholder {
					padding-left: 39px;
					font-family: "Mont";
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					color: #959a9d;
				}
				&::placeholder {
					padding-left: 39px;
					font-family: "Mont";
					font-size: 14px;
					line-height: 14px;
					font-weight: 600;
					color: #959a9d;
				}
			}
			input[type="submit"] {
				font-family: "Mont";
				font-weight: 600;
				font-size: 13px;
				line-height: 150%;
				letter-spacing: 0.15em;
				text-transform: uppercase;
				text-align: center;
				color: #ffffff;
				background: #ffc24d;
				box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
				border-radius: 100px;
				padding: 25px 15px;
			}
		}
		.polici-wraper {
			.polici-text,
			a {
				color: #fff;
			}
		}
	}
}
.examples {
	position: relative;
	top: -5px;
	padding: 50px 0;
	background-color: #f2f9ff;
	.main-title {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-desc {
		text-align: center;
		max-width: 541px;
		margin-bottom: 48px;
	}
	.example-list {
		max-width: 621px;
		background: #ffffff;
		box-shadow: 0px 0px 20px rgba(29, 31, 33, 0.12);
		border-radius: 100px;
		margin-bottom: 20px;
		.example-item {
			max-width: 216px;
			background: #ffc24d;
			border-radius: 100px;
			padding: 28px 30px;
			background-color: #fff;
			transition: 0.4s;
			border-radius: 100px;
			a {
				font-family: "Mont";
				font-size: 14px;
				line-height: 14px;
				font-weight: 400;
				color: #4b5258;
			}
			&:hover {
				background-color: #ffc24d;
				a {
					color: #fff;
				}
			}
		}
		.active-item {
			background-color: #ffc24d;
			a {
				color: #fff;
			}
		}
	}
	.example-img {
		display: block;
		border-radius: 30px;
	}
}
.slider {
	position: relative;
	top: -7px;
	background-image: url(../img/green-bg-bt.svg);
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 130px 0;
	.photo-wraper {
		height: 100%;
		width: 100%;
		position: relative;
		border-radius: 30px;
		overflow: hidden;
		.line {
			position: absolute;
			top: 0;
			left: 49.5%;
			height: 100%;
			width: 3px;
			background-color: #fff;
			z-index: 4;
			cursor: move;
			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 63px;
				width: 63px;
				background-image: url(../img/slider-clip-btn.svg);
				background-size: 100%;
			}
		}
		.photo-before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
		.photo-after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 3;
		}
	}
	.main-title {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-desc {
		text-align: center;
		max-width: 541px;
		margin-bottom: 54px;
	}
	.slider-wraper {
		position: relative;
		max-width: 1024px;
		background: #ffffff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		overflow: hidden;
		padding: 10px;
		.text-wraper {
			padding: 60px 50px;
			.slide-title {
				font-family: "Mont";
				font-size: 25px;
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				color: #4b5258;
				margin-bottom: 25px;
			}
			.slide-desc {
				font-family: "Mont";
				font-size: 14px;
				line-height: 21px;
				font-weight: 600;
				color: #4b5258;
				margin-bottom: 6px;
				.desc {
					font-weight: 400;
				}
			}
			.slide-btn {
				display: block;
				font-family: "Mont";
				font-size: 14px;
				line-height: 21px;
				font-weight: 700;
				color: #43aaff;
				margin: 7px 0 0;
				width: 206px;
				border: 1px solid #43aaff;
				border-radius: 100px;
				padding: 20px;
			}
		}
	}
}
.payment {
	position: relative;
	padding: 138px 0 210px;
	background-image: url(../img/payment.png);
	background-position: center center;
	background-size: cover;
	.main-title {
		font-family: "Mont";
		font-size: 30px;
		line-height: 45px;
		font-weight: 600;
		color: #4b5258;
		max-width: 510px;
		margin-bottom: 10px;
	}
	.main-desc {
		font-family: "Mont";
		font-size: 22px;
		line-height: 33px;
		font-weight: 600;
		color: #959a9d;
		max-width: 457px;
		margin-bottom: 41px;
	}
	.contact-wraper {
		max-width: 352px;
		background-color: #fff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		padding: 33px;

		.payment-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			color: #4b5258;
			max-width: 290px;
			margin-bottom: 10px;
		}
		.btn {
			position: relative;
			display: block;
			height: 70px;
			width: 125px;
			border-radius: 20px;
			margin: 0 5px 18px;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.tg {
			background-color: #43aaff;
		}
		.wha {
			background-color: #7ad06d;
		}
		.reword-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 21px;
			font-weight: 400;
			color: #959a9d;
			margin-left: 10px;
		}
	}
}
.inventar {
	padding: 33px 0 48px;
	img {
		display: block;
	}
	.main-title {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-desc {
		text-align: center;
		max-width: 541px;
		margin-bottom: 57px;
		color: #959a9d;
	}
	.inventar-item {
		max-width: 218px;
		margin-bottom: 37px;
		img {
			margin-bottom: 16px;
		}
		.inventar-title {
			font-family: "Mont";
			font-size: 16px;
			line-height: 22px;
			font-weight: 600;
			text-align: center;
			color: #4b5258;
			margin-bottom: 6px;
		}
		.inventar-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 19px;
			font-weight: 400;
			text-align: center;
			color: #4b5258;
		}
	}
	.inventar-form {
		max-width: 275px;
		input[type="text"] {
			font-family: "Mont";
			font-size: 14px;
			line-height: 14px;
			font-weight: 400;
			color: #959a9d;
			width: 100%;
			margin-bottom: 11px;
			padding: 28px 56px;
			background: #ffffff;
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
			border-radius: 100px;
			display: block;
			outline: none;
		}
		input[type="submit"] {
			display: block;
			font-family: "Mont";
			font-size: 13px;
			line-height: 19px;
			font-weight: 600;
			text-transform: uppercase;
			background: #ffc24d;
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
			padding: 28px 10px;
			text-align: center;
			border: none;
			color: #fff;
			border-radius: 100px;
			width: 275px;
			margin-left: 10px;
			margin-bottom: 25px;
		}
		.polici-wraper {
			max-width: 269px;
			.polici {
				margin-right: 13px;
			}
			.polici-text,
			a {
				color: #959a9d;
			}
		}
	}
}
.gift {
	position: relative;
	padding: 135px 0 150px;
	background-image: url(../img/gift-bg.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	.gift-title {
		font-family: "Mont";
		font-size: 30px;
		line-height: 45px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 501px;
		margin-bottom: 36px;
		.main-sm-title {
			font-weight: 600;
		}
	}
	.gift-block {
		max-width: 409px;
		padding: 23px 26px;
		margin-bottom: 10px;
		background: #ffffff;
		border-radius: 30px;
		img {
			height: 70px;
			width: 70px;
		}
	}

	.text-wraper {
		margin-left: 23px;
	}
	.gift-block-title {
		font-family: "Mont";
		font-size: 16px;
		line-height: 32px;
		font-weight: 600;
		margin-bottom: 5px;
		color: #4b5258;
	}
	.gift-block-desc {
		font-family: "Mont";
		font-size: 12px;
		line-height: 14px;
		font-weight: 400;
		color: #959a9d;
		margin-bottom: 10px;
	}

	.gift-btn {
		font-family: "Mont";
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		color: #43aaff;
		width: 150px;
		border: 2px solid#43AAFF;
		border-radius: 10px;
		padding: 8px 10px;
		text-align: center;
	}
}
.sertificats {
	padding: 50px 0 30px;
	width: 100%;
	overflow: hidden;
	.main-title {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-desc {
		text-align: center;
	}
}
.order {
	padding: 60px 0 0;
	.order-container {
		background-image: url(../img/order-bg.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 30px;
		padding: 49px 59px 59px;
		.order-title {
			font-family: "Mont";
			font-size: 24px;
			line-height: 33px;
			font-weight: 700;
			margin-bottom: 36px;
			color: #fff;
			max-width: 340px;
			.order-sm {
				font-weight: 600;
			}
		}
		.order-btn {
			display: block;
			width: 306px;
			font-family: "Mont";
			font-size: 13px;
			line-height: 19px;
			font-weight: 600;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			padding: 25px 30px;
			background: #ffc24d;
			box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
			border-radius: 100px;
			margin-bottom: 24px;
		}
		.order-desc {
			font-family: "Mont";
			font-size: 14px;
			line-height: 19px;
			font-weight: 600;
			color: #fff;
			margin-bottom: 14px;
		}
		.messager-wraper {
			.btn {
				width: 140px;
				background-color: #fff;
				border-radius: 20px;
				padding: 20px 60px;
				margin: 0 5px 25px;
			}
		}
		.contact-info {
			a {
				font-family: "Mont";
				font-size: 18px;
				line-height: 18px;
				font-weight: 600;
				color: #ffffff;
			}
			.work-days {
				position: relative;
				font-family: "Mont";
				font-size: 14px;
				line-height: 14px;
				font-weight: 400;
				color: #ffffff;
				margin-left: 30px;
				&:after {
					position: absolute;
					content: "";
					top: 50%;
					left: -15px;
					transform: translateY(-50%);
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background-color: #20ff87;
				}
			}
		}
	}
}
.question {
	padding: 95px 0 0;
	.main-title {
		text-align: center;
		margin-bottom: 30px;
	}
	.question-list {
		margin-bottom: 12px;
		.question-item {
			position: relative;
			background: #ffffff;
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
			border-radius: 20px;
			padding: 25px 30px;
			margin-bottom: 10px;
			transition: 0.4s;
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				right: 30px;
				height: 35px;
				width: 35px;
				border-radius: 50%;
				background-color: #43aaff;
				transform: translateY(-50%);
				cursor: pointer;
				background-image: url(../img/arrowDown.svg);
				background-position: center center;
				background-repeat: no-repeat;
				transition: 0.4s;
			}
			&:hover {
				transform: scale(1.05);
				&:after {
					transform: translateY(-50%) scale(1.05);
				}
			}

			.question-title {
				font-family: "Mont";
				font-size: 14px;
				line-height: 19px;
				font-weight: 600;
				color: #4b5258;
			}
			.question-desc {
				font-family: "Mont";
				font-size: 14px;
				line-height: 19px;
				font-weight: 400;
				color: #4b5258;
				overflow: hidden;
				height: 0;
				opacity: 0;
				transition: 0.4s;
			}
		}
		.show {
			.question-desc {
				height: auto;
				opacity: 1;
			}
			&:hover {
				&:after {
					transform: rotate(-180deg) translateY(-50%) scale(1.05);
				}
			}
			&:after {
				transform: rotate(-180deg) translateY(-50%);
			}
		}
	}
}

footer {
	padding: 0 0 56px;
	a,
	.footer-text {
		font-family: "Mont";
		font-size: 12px;
		font-weight: 600;
		line-height: 17px;
		color: #4b5258;
	}
	img {
		margin: 0 5px;
	}
}

@media screen and (max-width: 995px) {
	header {
		.logo {
			z-index: 5;
		}
		.responcive-btn {
			display: block;
			height: 50px;
			width: 50px;
			border: 3px solid #43aaff;
			border-radius: 5px;
			z-index: 5;
			background: transparent;
			padding: 10px 5px;
			.btn-row {
				height: 3px;
				width: 100%;
				background-color: #43aaff;
				border-radius: 3px;
				margin-bottom: 8px;
			}
		}
		.responce-wraper {
			padding: 80px 10px;
			position: fixed;
			top: 0;
			left: 0;
			transform: translateX(0);
			min-height: 100vh;
			width: 100vw;
			transition: 0.4s;
			flex-direction: column;
			background-color: #fff;
			z-index: 2;
		}
		.hide {
			position: absolute;
			transform: translateX(-300%);
		}
	}
	.calculation {
		.cat-list {
			.cat-item {
				width: 100%;
				a {
					width: 100%;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
		.calc-container {
			padding: 40px 0;
			.phone-img,
			.img-wraper {
				display: none;
			}
		}
	}
	.services {
		.block {
			padding-top: 20px;
			img {
				height: 200px;
				width: 200px;
				border-radius: 50%;
				border: 2px solid #43aaff;
				margin: 0px auto 20px auto;
				display: block;
			}
			.services-block-title,
			.services-block-desc {
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.calculation .cat-list {
		border-radius: 0;
		.cat-item {
			border-radius: 0;
			a {
				display: block;
				border-radius: 0;
				min-width: 100%;
			}
		}
	}
	.examples .example-list {
		border-radius: 0;
		.example-item {
			border-radius: 0;
			min-width: 100%;
			text-align: center;
		}
	}
}
@media screen and (max-width: 560px) {
	.cleaning {
		.btn {
			padding: 10px;
			font-size: 11px;
		}
	}
	.calculation .calc-container {
		border-radius: 30px;
	}
	.type .pricelist-baner {
		padding: 20px 15px;
		.form-title,
		.form-desc {
			text-align: center;
		}
	}
	footer {
		a {
			margin: 20px 0;
		}
	}
}
@media screen and(max-width: 440px) {
	.services {
		.our-work {
			.consalting-container {
				padding: 42px 20px;
				.consalting-form {
					width: 100%;
					input[type="text"] {
						margin: 0;
						width: 60%;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					input[type="submit"] {
						margin: 0;
						width: 40%;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
		}
	}
}
