* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.computer {
  padding-bottom: 12px;
}
.header {
  background: #eeeff1;
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 161px;
}

.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
}

.nav-menu ul.sub-menu li a {
  margin-right: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000;
  transition: 0.3s;
}

.nav-menu ul.sub-menu li a:hover {
  color: #34547a;
  text-decoration: none;
}

.nav-menu ul.sub-menu li:last-child a {
  margin-right: 0;
}
.banner {
  background: #eeeff1;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  padding-bottom: 15px;
  color: #000000;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.banner-text {
  margin-bottom: 60px;
}


.btnBanner {
  display: block;
  width: 235px;
  padding: 18px 41px;
  text-align: center;
  background: #34547a;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: 0.3s;
}

.btnBanner:hover {
  text-decoration: none;
  background-color: aqua;
}

.parentTextBanner {
  padding-bottom: 146px;
}

.about-me {
  padding: 60px 0px;
  text-align: center;
  background-color: #e5e5e5;
}

.about-me__content {
  margin: 0 auto;
  max-width: 540px;
}

.projects {
  padding: 100px 0px;
  background-color: #34547a;
}


.flex-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap img{
 margin-right: 20px;
 max-width: 40%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information h2 {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.information p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.skills {
  padding: 102px 0px;
  background-color: #e5e5e5;
}


.my-skills h2 {
  margin-bottom: 50px;
}

.my-skills p {
  margin-bottom: 19.88px;
}

.line {
  position: relative;
  height: 4px;
  max-width: 445px;
  background: #c4c4c4;
  margin-bottom: 29.78px;
}

.line::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 70%;
  background: #34547a;
}

.my-photo {
  text-align: center;
}

.my-photo img {
  max-width: 66.7%;
}

.how-i-work {
  padding: 100px 0px;
  background-color: #eeeff1;
  text-align: center;
}

.how-i-work h2 {
  margin-bottom: 50px;
}

.how-i-work p {
  padding-bottom: 57px;
  max-width: 540px;
  margin: 0 auto;
}

.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  width: 100%;
  height: 600px;
  background-size: cover;
}

.ParentVideo iframe {
  width: 100%;
  height: 600px;
}
.youtube .play {
  background: url("../img/youtube.png") no-repeat; /*ВАЖНО: здесь укажите адрес до изображения*/
  background-position: 0 -100px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 100px;
  width: 100px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.youtube:hover .play {
  background-position: 0 0;
}

.ParentGallery {
  padding-top: 28px;
  display: flex;
  flex-wrap: wrap;
}

.fancyChild {
  width: 25%;
  height: 360px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.fancyChild:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/eye.png"),
    linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  background-repeat: no-repeat;
  background-position: center center;
}

.microsoft {
  padding: 72px 405px 100px 405px;
}

.pictures img{
  margin-right: 5px;
}

.questionarie{
  background-color: #EEEFF1;
  text-align: center;
  padding: 100px 0;
}

.orderForm .form-text p {
  margin-bottom: 50px;
}

.questionarie input, textarea {
  background: white;
  outline: none;
  padding: 15px 0 15px 20px;
  border: none;
}
.questionarie input {
  width: 90%;
  margin-bottom: 20px;   
}
.questionarie textarea {
  resize: none;
  width: 100%;
  margin-bottom: 50px;
}
.questionarie button {
  cursor: pointer;
  padding: 15px 40px;
  background-color: #34547a;
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.footer {
  background: #34547A;
  padding: 50px 0;
}

.footer p {
  font-size: 13px;
  line-height: 21px;
  color: white;
}

.footer h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 25px;
}
.footer .contact {
  text-align: left;
}

.footer .vk img {
  margin-right: 10px;
}

.footer .vk{
  text-align: right;
}