@media (min-width: 1440px){
    .page .container {
        max-width: 1200px;
    }
}
@media (max-width: 1199px){
    .header-btn button {
        font-size: 11px;
    }
    .banner-content {
        padding-top: 45px;
        padding-left: 40px;
    }
    .block-title {
        padding: 0 100px 20px;
    }
    .features {
        padding: 60px 0 60px;
    }
    .orange {
        padding: 40px 0;
    }
    .technology {
        padding-top: 40px;
    }
    .speed {
        padding-top: 40px;
    }
    .mode {
        padding: 60px 0;
    }
    .mode .block-title {
        padding: 0 170px 11px;
    }
    .mode-img {
        padding: 0px 150px;
    }
    .pricing {
        padding: 50px 0;
    }
    .testimonials {
        padding: 50px 0 70px;
    }
    #carousel_partner .owl-nav button {
        font-size: 16px;
        width: 50px;
        height: 50px;
    }
    #carousel_partner.owl-theme .owl-nav {
        bottom: -26%;
    }
    .persone{
        padding-top: 20px;
    }
    .lorem p {
        font-size: 14px;
        line-height: 22px;
    }
    .download {
        padding: 60px 0 50px;
    }
    .faq {
        padding: 50px 0 50px;
    }
    .last {
        padding: 50px 0;
    }
}
@media (max-width: 991px){
    .logo {
        display: inline;
    }
    .menu{
        display: none;
    }
    .responsive-menu{
        display: inline-block;
    }
    .responsive-menu i {
        font-size: 48px;
        color: #000;
        padding: 10px 20px 0 0;
        transition: 2s;
    }
    .responsive-menu i:hover{
        color: rgb(68, 68, 68,0.5);
        transform: scale(1.1);
    }
    .header-btn{
        display: none;
    }
    .head-menu {
        padding: 15px 0;
    }
    .logo_resp {
        display: flex;
        justify-content: space-between;
    }
    .banner {
        padding-top: 70px;
    }
    .banner-content {
        padding-left: 20px;
        padding-top: 78px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .banner-content p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0;
    }
    .banner-content img{
        width: 46%;
    }
    .banner-img {
        padding-top: 40px;
    }
    .banner-img  img{
        width: 60%;
    }
    .banner-content button {
        font-size: 10px;
    }
    .features {
        padding: 30px 0 0px;
    }
    .block-title h4 {
        font-size: 12px;
        line-height: 12px;
    }
    .block-title h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .features .window-text a {
        font-size: 18px;
        line-height: 20px;
    }
    .window-text p {
        font-size: 12px;
        line-height: 18px;
    }
    .orange {
        padding: 20px 0;
    }
    .orange-content h3 {
        font-size: 70px;
        line-height: 50px;
        padding-bottom: 8px;
    }
    .orange-content p {
        font-size: 12px;
        line-height: 12px;
    }
    .tech-title h4 {
        font-size: 12px;
        line-height: 0px;
    }
    .tech-title h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .tech-title p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
    .speed-title h4{
        font-size: 12px;
        line-height: 0px;
    }
    .speed-title h2{
        font-size: 20px;
        line-height: 25px;
    }
    .speed-title p{
        font-size: 14px;
        line-height: 20px;
    }
    .speed-title {
        padding-right: 0;
        padding-left: 100px;
    }
    .block-title p {
        font-size: 14px;
    }
    .mode .block-title {
        padding: 0px 100px 11px;
    }
    .mode-img img{
        width: 65%;
    }
    .mode-img {
        padding: 0px 100px;
    }
    .non h3 {
        font-size: 50px;
        line-height: 70px;
    }
    .non h4 {
        font-size: 14px;
        line-height: 8px;
    }
    .non p {
        font-family: 'Poppins';
        font-size: 12px;
        line-height: 12px;
    }
    .non button {
        font-size: 12px;
        line-height: 14px;
    }
    .non {
        border-radius: 10px;
        padding: 25px 0 40px;
    }
    .pricing {
        padding: 30px 0;
    }
    .page .testimonials .block-title p {
        padding-top: 0;
    }
    .download {
        padding: 30px 0 0px;
    }
    .page .download .block-title p {
        padding-bottom: 0px;
    }
    .faq h3 {
        font-size: 25px;
        line-height: 20px;
    }
    .paragraf {
        font-size: 12px;
        line-height: 22px;
    }
    .faq-text .faq-text-title {
        font-size: 14px;
        line-height: 16px;
    }
    .faq {
        padding: 30px 0 20px;
    }
    .foot-content p {
        font-size: 12px;
        line-height: 8px;
    }
    .logo-footer a img{
        width: 12%;
    }
    .last {
        padding: 25px 0;
    }
    
}
@media (max-width: 767px){
    .banner-content img {
        width: 30%;
    }
    .banner-content h1 {
        font-size: 35px;
        line-height: 22px;
    }
    .banner-content {
        padding-left: 0;
        padding-top: 60px;
        text-align: center;
    }
    .block-title h2 {
        font-size: 20px;
    }
    .ttt1 a img, .ttt2 a img,
    .ttt3 a img, .ttt4 a img, 
    .ttt5 a img, .ttt6 a img {
        left: 36%;
    }
    .orange-content h3 {
        font-size: 45px;
        line-height: 38px;
    }
    .orange {
        padding: 20px 0 0;
    }
   .ord_1{
        order: 1;
   }
   .tech-title {
        padding: 0;
        text-align: center;
    }
    .technology {
        padding-top: 40px;
    }
    .tech-img{
        text-align: center;
    }
    .tech-img img,
    .speed-img img{
        width: 50%;
    }
    .speed-title {
        padding-left: 0;
        text-align: center;
    }
    .speed-title {
        padding-top: 0;
    }
    .speed-img{
        text-align: center;
    }
    .mode {
        padding: 40px 0;
    }
    .mode-btn button {
        font-size: 12px;
    }
    .mode-img {
        padding: 0px 38px;
    }
    .non h3 {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0;
    }
    .non button {
        letter-spacing: 0;
    }
    .page .padd{
        padding-right: 0;
    }
    .page .owl-carousel .owl-item p {
        height: 20%;
    }
    .lorem {
        padding: 20px 25px 20px 25px;
    }
    .page .owl-carousel .owl-item .lorem {
        height: 190px;
    }
    #carousel_partner.owl-theme .owl-nav {
        left: 38%;
        bottom: -33%;
    }
    .block-title {
        padding: 0 30px 20px;
    }
    .page .download .block-title h4, 
    .page .download .block-title h2, 
    .page .download .block-title p {
        padding: 0;
    }
}
@media (max-width: 575px){
    .ttt1 a img, .ttt2 a img, .ttt3 a img, .ttt4 a img, .ttt5 a img, .ttt6 a img {
        left: 44%;
        top: -30px;
    }
    .non {
        margin-bottom: 20px;
    }
    .page .padd{
        padding-right: 15px;
    }
    .page #carousel_partner{
       margin-right: 0;
    }
}
@media (max-width: 500px){
    .banner-content h1 {
        font-size: 28px;
        line-height: 25px;
    }
    .banner-content button {
        padding: 10px 20px 12px;
    }
    .orange-content h3 {
        font-size: 40px;
        line-height: 30px;
    }
    .mode .block-title {
        padding: 0px 33px 11px;
    }
    .testimonials {
        padding: 26px 0 70px;
    }
    .page .owl-carousel .owl-item p {
        height: 28%;
    }
    .responsive-menu i {
        font-size: 40px;
    }
    .logo {
        width: 130px;
    }
    .ttt1 a img, .ttt2 a img, .ttt3 a img, .ttt4 a img, .ttt5 a img, .ttt6 a img {
        left: 42%;
    }
}
@media (max-width: 470px){
    .ttt1 a img, 
    .ttt2 a img, 
    .ttt3 a img, 
    .ttt4 a img, 
    .ttt5 a img, 
    .ttt6 a img {
        left: 40%;
    }
    .pricing {
        padding-bottom:0;
    }
    .foot-content p {
        font-size: 10px;
        line-height: 0px;
    }
}
