@import "../../assets/css/resset.scss";
@import "../../assets/css/fonts.scss";
* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
.clearfix {
  &:after,
  &:before {
    display: block;
    content: "";
    clear: both;
  }
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}
header {
  background-color: rgb(99, 146, 235);
  padding: 10px 0;
  .logo {
    float: left;
    margin-right: 10%;
  }
  .nav-container {
    float: left;
    li {
      display: inline-block;
      a {
        display: inline-block;
        font-family: "open_sansbold";
        font-size: 16px;

        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        padding: 20px 10px;
      }
    }
  }
  .contacts {
    float: right;
    li {
      display: inline-block;
      a {
        display: inline-block;
        font-family: "open_sansbold";
        font-size: 16px;

        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 10px;
      }
    }
  }
}
.slider {
  position: relative;
  overflow: hidden;
  .btn {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-image: url(../img/arrow.svg);
    background-size: cover;
    background-position: center center;
    z-index: 99;
  }
  .prew {
    left: 10px;
    transform: translateY(-50%) rotate(-180deg);
  }
  .next {
    right: 10px;
  }
  .slider-wraper {
    transition: 0.6s;
  }
  .slide {
    float: left;
    padding: 90px 50px;
    background-size: cover;
    background-position: center center;
    &:nth-child(1) {
      background-image: url(../img/slide-1.jpg);
    }
    &:nth-child(2) {
      background-image: url(../img/slide-2.jpg);
    }
    &:nth-child(3) {
      background-image: url(../img/slide-3.jpg);
    }
    &:nth-child(4) {
      background-image: url(../img/slide-4.jpg);
    }
    .text-wraper {
      background-color: rgba(255, 255, 255, 0.487);
      padding: 10px 20px;
      border-radius: 5px;
      .slider-text {
        font-family: "open_sansextrabold";
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 40px;
      }
      .slider-description {
        font-family: "open_sanslight";
        font-size: 16px;
        line-height: 28px;
        text-indent: 30px;
        max-width: 300px;
        color: #fff;
      }
    }
  }
}
.main-content {
  padding: 60px 0;
  background-color: rgb(176, 184, 252);
  .sidebar {
    float: left;
    width: 20%;
    margin-right: 2%;
    .item {
      position: relative;
      text-align: center;
      border-bottom: 2px solid rgb(40, 36, 243);
      a {
        display: inline-block;
        font-family: "open_sansbold";
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        padding: 20px 10px;
      }
      .dropdown-menu {
        position: absolute;
        right: -150px;
        top: 0;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.371);
        overflow: hidden;
        opacity: 0;
        transition: 0.4s;
        transform: scaleX(0);
      }
      &:hover {
        .dropdown-menu {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
  }
  .content-wraper {
    float: right;
    width: 75%;
    img {
      float: left;
    }
    .content-desc {
      font-family: "open_sanslight";
      font-size: 16px;
      line-height: 29px;
      color: #000;
      float: left;
    }
  }
}
footer {
  background-color: rgb(99, 146, 235);
  padding: 10px 0;
  a {
    float: left;
  }
  .rights {
    padding-top: 30px;
    font-family: "open_sanslight";
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
}
