* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 50px;
}

.box {
  max-width: 100%;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

.box img {
  filter: brightness(50%) grayscale(0%);
  transition: 0.7s;
  cursor: pointer;
}

.box img:hover {
  filter: brightness(100%) grayscale(100%);
}

.btn1 {
  position: relative;
  display: flex;
  width: 180px;
  height: 55px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
}

.btn2 {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}
.btn2:before,
.btn2:after {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.btn2:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.btn2:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.btn2:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.animation {
  position: relative;
}

.circle {
  background: #2db34a;
  border-radius: 50%;
  height: 70px;
  position: relative;
  width: 70px;
  animation: circle 6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
}

@keyframes circle {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    top: 0;
    left: 1100px;
    background: #f3f92b;
  }

  50% {
    top: 800px;
    left: 1100px;
    background: #e3061d;
  }

  75% {
    left: 0;
    top: 800px;
    background: #6717d2;
  }

  100% {
    left: 0;
    top: 0;
    background: #15e1f2;
  }
}
