@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.woff") format("woff"), url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1269px;
}
.logo {
  width: 150px;
}
.main-lg-head {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 60px;
  color: #333333;
}
.main-head {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  color: #333333;
  margin-bottom: 32px;
}
.sm-title {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.main-desc {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
  margin-bottom: 30px;
}
.btn-wraper {
  max-width: 305px;
}
.btn-wraper .btn {
  border: none;
  width: 147px;
  height: 50px;
  transition: 0.4s;
  border-radius: 4px;
  margin: 0 5px;
}
.btn-wraper .btn:active {
  transform: scale(0.9);
}
.btn-wraper .playMarket-btn {
  background-image: url(../img/svg/google-btn-blue.svg);
  background-size: cover;
  background-position: center center;
}
.btn-wraper .playMarket-btn-usaly {
  background-image: url(../img/svg/google-btn.svg);
  background-size: cover;
  background-position: center center;
}
.btn-wraper .playStore-btn-usaly {
  background-image: url(../img/svg/aple-btn.svg);
  background-size: cover;
  background-position: center center;
}
.btn-wraper .playStore-btn {
  background-image: url(../img/svg/apple-btn-blue.svg);
  background-size: cover;
  background-position: center center;
}
.modals-wraper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modals-wraper .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.modals-wraper .contact-form {
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
}
.modals-wraper .contact-form input,
.modals-wraper .contact-form textarea {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 16px;
  color: #333333;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  outline: none;
  border-radius: 5px;
}
.modals-wraper .contact-form input[type="submit"] {
  color: #fff;
  border: none;
  background-color: #333333;
}
.hide {
  position: sticky;
  display: none;
}
.install {
  padding: 45px 0 70px;
}
.install .label {
  position: fixed;
  top: 92px;
  left: -45px;
  transform: rotate(90deg);
  background: #39cdcc;
  padding: 8px 25px;
  border-radius: 0px 6px 6px 0px;
  font-family: "WorkSans", "Open sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration: capitalize;
  line-height: 20px;
  color: #000000;
}
.install .menu {
  max-width: 300px;
}
.install .menu .menu-item {
  list-style: none;
}
.install .menu .menu-item a {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: #222222;
  transition: 0.4s;
}
.install .menu .menu-item a:hover {
  color: #0082f3;
}
.install .menu .menu-item:first-child a {
  color: #0082f3;
}
.install .toggle-btn {
  display: none;
}
.install .main-lg-head {
  margin: 148px 0 32px;
}
.save {
  padding: 70px 0 44px;
}
.save .main-head {
  margin-top: 43px;
}
.save .main-desc {
  max-width: 310px;
}
.how {
  padding: 23px 0 29px;
}
.how .main-head {
  text-align: center;
}
.how .block {
  position: relative;
  margin-top: 12px;
  padding: 42px 10px 30px;
  box-shadow: 1px 0px 10px #b7b7;
}
.how .block img {
  display: block;
  margin-bottom: 49px;
}
.how .block .sm-title {
  text-align: center;
  margin-bottom: 31px;
}
.how .block .block-desc {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}
.how .block:first-child {
  border-top: 12px solid #582eff;
  box-shadow: 0px 0px 10px #b7b7b7;
}
.how .block:first-child:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -60px;
  height: 40px;
  width: 40px;
  background-image: url(../img/svg/arow.svg);
  background-size: cover;
}
.how .block:nth-child(2) {
  border-top: 12px solid #ff814a;
  box-shadow: 1px 0px 10px #b7b7b7;
}
.how .block:nth-child(2):after {
  position: absolute;
  content: "";
  top: 50%;
  right: -60px;
  height: 40px;
  width: 40px;
  background-image: url(../img/svg/arow.svg);
  background-size: cover;
}
.how .block:nth-child(3) {
  border-top: 12px solid #31c5a1;
  box-shadow: 0px 1px 10px #b7b7b7;
}
.download {
  padding: 136px 0 80px;
  background-color: #31c5a1;
}
.download .download-title {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  max-width: 555px;
  text-align: center;
  margin: 0 auto 40px auto;
}
.download .btn-wraper {
  margin: 0 auto;
}
footer {
  padding: 50px 0 55px;
}
footer .sm-title {
  line-height: 30px;
}
footer address,
footer a,
footer .footer-desc {
  font-family: "WorkSans", "Open sans", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
  color: #333333;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  section {
    padding: 20px 0;
  }
  .install {
    position: relative;
  }
  .install nav {
    width: 100%;
  }
  .install .menu {
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 100%;
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.433);
    transition: 0.4s;
    overflow: hidden;
  }
  .install .menu .menu-item {
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
    text-align: center;
  }
  .install .menu .menu-item:hover {
    border-bottom: 2px solid #000;
    color: #fff;
  }
  .install .toggle-btn {
    display: block;
    position: relative;
    top: -20px;
    left: 80%;
    height: 50px;
    width: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background: transparent;
  }
  .install .toggle-btn:after {
    position: absolute;
    content: "";
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: #000;
  }
  .install .toggle-btn:before {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: #000;
  }
  .install .hide {
    transform: translateX(-200%);
  }
  .main-lg-head {
    margin-top: 30px;
  }
  .how .block {
    margin: 35px 0;
  }
  .how .block:first-child:after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  .how .block:nth-child(2):after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}
