* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}
/*Header*/
header {
    background: url(../img/header.png) ;
    
    background-position: center bottom;
  
    padding-bottom: 200px;
    
}
.responsive_menu {
    display: none;
}
.parents_responsive_menu {
display: flex;
justify-content: space-between;
}
.nav-menu ul.sub-menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    
}
    .nav-menu ul.sub-menu li  {
        list-style: none;
    }
        .nav-menu ul.sub-menu li a {
        margin-right: 48px;
        font-size: 15px;
        line-height: 15px;
        color: #5326D4;
        
        letter-spacing: 1.5px;
        font-family: 'Roboto', sans-serif;
        transition: 0.3s;
        
    }
            .nav-menu ul.sub-menu li a:hover {
                color: #00A4E5;
                text-decoration: none;
            }

.logo img {
    opacity:95%;
   

}
.basket {
    padding-right:10px;
    
}

.logo_text {
    padding-top:150px;
    font-size:60px;
    color:white;
}

.logo_text2 {
    padding-top: 30px;
    font-size: 25px;
    color: white;
}
.logo_buttom_parents {
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo_buttom {
    border: 3px solid #4144BF;
    background: white;
    border-radius: 20px;
    padding: 11px 35px;
    text-decoration: none;
    color: #4144BF;
    font-size: 18px;
    margin: 0 auto;
    transition: box-shadow 0.5s ease-in-out, color 1s ease-in-out;
}
.logo_buttom:hover {
    box-shadow: 0 0 40px 40px #040264 inset;
    color:#FDF8F5;
}


/*header_bottom_logo*/
.header_bottom_logo {
    background: #DEE6F3;
    
}
.logo_buttom_parents a:hover {
    text-decoration: none;
}
    .bottom_logo {
    padding: 0px 13px 0px 13px;
    transition: 0.6s ease;
}
        .bottom_logo:hover {
            transform: translateY(-10px);
           
        }
/*header_bottom_logo*/

/*three_text*/
.three_text {
    padding-top:150px;
}
.text_first {
    font-size: 30px;
    color: #172345;
    font-family: 'Roboto';
}
.Plastic_free {
    text-align:end;
    position:relative;
}
    .Plastic_free::after {
        content: "|";
        position: absolute;
        color: #172345;
        width: 5px;
        height: 18px;
        right: -20px;
        top: -3px;
    }
.Cruelty_free {
    text-align:left;
}
    .Cruelty_free::before {
        content: "|";
        position: absolute;
        color: #172345;
        width: 5px;
        height: 18px;
        top:-3px;
        left: -10px;
    }
.text_two p {
    font-family: 'Roboto';
    font-size: 18px;
    color: #172345;
}
/*three_text*/
/*three_pictutes*/
.three_pictutes {
    padding-top:150px;
    padding-bottom:50px;
}
.three_pictutes_text p {
    font-size: 27px;
    padding-bottom:10px;
}
.three_pictutes_buttom  {
    border: 3px solid #4144BF;
    background: white;
    border-radius: 24px;
    padding: 12px 17px;
    text-decoration: none;
    color: #4144BF;
    font-size: 18px;
    transition: box-shadow 0.5s ease-in-out, color 1s ease-in-out;
}
.three_pictutes_buttom:hover  {
    box-shadow: 0 0 40px 40px #040264 inset;
    color:#FDF8F5;
}

    
    .three_pictutes_text a:hover{
  
    text-decoration: none;
    
}

.three_pictutes_img {
    transition: 0.6s ease;
}
    .three_pictutes_img:hover {
        
        transform: translateY(-20px);
       
    }
    /*three_pictutes*/

/*video*/
.video {
    padding-top:70px;
}
.video_buttom {
    border: 3px solid #4144BF;
    background: #4144BF;
    border-radius: 26px;
    padding: 11px 34px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.5s;
   
}

.video a:hover {
    text-decoration: none;
    box-shadow: 0 0 40px 40px #00A4E5 inset;
    color:#FDF8F5;
    border: 3px solid #00A4E5;
}
.youtube {
    margin-top: 60px;
    margin-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    background-size: cover;
    cursor: pointer;
    width: 100%;
    height: 295px;
}

    .youtube .play {
        background: url('../img/youtube-play-btn.png') no-repeat; /*ВАЖНО: здесь укажите адрес до изображения*/
        background-position: 0 -100px;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        position: absolute;
        height: 100px;
        width: 100px;
        transition: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .youtube:hover .play {
        background-position: 0 0;
    }
#carousel_partners .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl_text {
    font-size:34px;
    padding-bottom:15px;
}
    /*video*/

/*no_plastic*/
.no_plastic {
    background: url('../img/no_plastic.png') no-repeat;
    padding-bottom:130px;
}
.no_plastic_parents {
    position:relative;
}
.no_plastic .no_plastic_textone p {
    font-size: 60px;
    padding-bottom: 0px;
    color: #172345;
}
.no_plastic_parents p {
    font-size: 30px;
    padding-bottom: 125px;
    color: #172345;
}
    .tablet {
    position: absolute;
    top: -5px;
    left: 130px;
}
.no_plastic_buttom {
    border: 3px solid #4144BF;
    background: #4144BF;
    border-radius: 10px;
    padding: 11px 34px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    
}
/* .no_plastic_buttom:hover {     <========= Не розумію чого не працює?
    text-decoration: none;
    box-shadow: 0 0 40px 40px #00A4E5 inset;
    color:#FDF8F5;
    border: 3px solid #00A4E5;
}
 */
    /*no_plastic*/
/*photo_girl*/
.photo_girl {
    padding-top: 170px;
    padding-bottom: 170px;
}
    .photo_girl h2 {
    font-size: 50px;
    color: #172345;
    padding-bottom: 60px;
}
.photo_girl p {
    font-size: 26px;
    color: #172345;
    padding-left: 30px;
}
    /*photo_girl*/

/*bite_photo_parents*/
.bite_photo_parents p {
    margin-bottom:0;
}
.bite_photo_parents {
    padding-bottom: 40px;
}
    .bite_photo_parents1 {
    padding-bottom: 60px;
}
.bite_photo1_parents {
    padding-bottom: 30px;
}
.bite_photo_parents pre {
    margin-bottom: 0;
}
.bite_photo1_text {
    display: flex;
    justify-content: space-between;
    color: #172345;
    font-size:17px;
}
   
    .bite_photo1_text b {
        color: #0038D2;
        font-size:17px;
    }
.bite_photo1_text2 {
    display: flex;
    justify-content: space-between;
    color: #AAAAAA;
    font-size: 14px;
}

.bite_photo_parents2 pre{
    font-size: 12px;
}

.bite_photo {
    transition: 0.6s ease;
}
    .bite_photo:hover {
        
        transform: translateY(-20px);
        cursor: pointer;
    }
    /*bite_photo_parents*/
/*zero_waste*/
.zero_waste {
   background: #d3e1e6;
   
}
.zero_waste_text {
    font-size: 50px;
    padding-bottom:60px;
}

.zero_waste_text1 {
    font-size: 20px;
    padding-bottom: 20px;
}
.zero_waste_buttom {
    border: 3px solid #4144BF;
    background: #4144BF;
    border-radius: 10px;
    padding: 11px 34px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.zero_waste_buttom:hover {     
    text-decoration: none;
    box-shadow: 0 0 40px 40px #00A4E5 inset;
    color:#FDF8F5;
    border: 3px solid #00A4E5;
}
.modal-body form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

    .modal-body form input {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        background: #EEEFF1;
    }

    .modal-body form textarea {
        margin-bottom: 5px;
        padding: 5px;
        padding-bottom: 50px;
        border-radius: 10px;
        border: none;
        resize: none;
        background: #EEEFF1;
    }
.zero_waste_text2 {
    font-size: 12px;
    padding-top: 30px;
}
/*zero_waste*/
/*one_bilion*/
.one_bilion {
    background: #FDF8F5;
    padding-bottom: 100px;
}
.one_bilion p {
    font-size: 11px;
}
   
.one_bilion_h2 {
    font-size: 70px;
}
.one_bilion_p {
    font-size: 18px;
}
.one_bilion_p1 {
    padding-top: 38px;
}
        /*one_bilion*/

        /*Hey*/
.Hey {
    padding-bottom:40px;
}
    .Hey h2 {
    font-size: 50px;
}

.Hey  p {
    font-size: 24px;
}

.Hey h3 {
    font-size: 14px;
    color: #415286;
    text-align:center;
}
.Hey h4 {
    font-size: 20px;
    color: #415286;
    text-align: center;
}
 


        
        /*Hey*/
/*contacts*/
.contacts {
    padding-top: 50px;
    padding-bottom:100px;
    background: #FDF8F5;
}
    .Subscriptions {
    font-size: 16px;
    color: #6C77B5;
    list-style: none;
}
.contacts h2 {
    font-size: 20px;
    
}
.contacts img {
    padding-left:135px;
    padding-bottom:20px;
}
.Subscriptions li{
    padding:5px 0px 5px 0px;
}
.fab {
    padding-right:10px;
    cursor: pointer;
}
    /*contacts*/
footer {
    background: #FDF8F5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
}