* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.conteiner {
  margin: 0 auto;
}
/*header*/
.header {
  background: #eeeff1;
  padding-top: 57px;
}
.row {
  padding-bottom: 130px;
}

/*header*/

/*Menu*/
.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
  white-space: nowrap;
  padding-left: 320px;
}
.nav-menu ul.sub-menu li a {
  margin-right: 42px;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  font-weight: 500;
}
.nav-menu ul.sub-menu li a:hover {
  color: #34547a;
  text-decoration: none;
}
.nav-menu ul.sub-menu li:last-child a {
  margin-right: 0;
}
/*Menu*/

/*baner*/
.banner {
  background: #eeeff1;
  padding-bottom: 145px;
  padding-left: 160px;
}
.button {
  padding-top: 60px;
}
.btn-baner {
  background: #34547a;
  color: white;
  padding: 20px 40px;
  letter-spacing: 2px;
}
.btn-baner:hover {
  text-decoration: none;
  color: rgb(207, 193, 193);
  transition: 0.3s;
}
.parent-text-baner {
  padding-left: 40px;
}
.parent-text-baner h2 {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 48px;
  color: #000;
}
.parent-text-baner p {
  color: #727272;
  line-height: 26px;
  font-family: "Roboto";
  padding-right: 100px;
}
.computer {
  padding-top: 25px;
}
/*baner*/

/*about-me*/

.about {
  padding-left: 690px;
  text-align: center;
}
.about-me h3 {
  padding-bottom: 35px;
  font-weight: 600;
}
.about-me p {
  color: #727272;
  font-family: "Roboto";
}

/*about-me*/
.projects {
  background: #34547a;
  padding: 90px;
  height: 230px;
}
/*about-me*/

/*skills*/
.skills {
  padding-top: 100px;
  padding-bottom: 30px;
}
.skills-me {
  padding-top: 100px;
}
.skills-me h2 {
  padding-bottom: 25px;
}
.skills-me p {
  margin: 0px;
  color: #727272;
}
.skills-me img {
  padding-top: 13px;
  padding-bottom: 30px;
}
/*skills*/

.how-work {
  text-align: center;
}
.work {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 45px;
}
.work h3 {
  padding-bottom: 35px;
  font-weight: 600;
}
.work p {
  color: #727272;
  font-family: "Roboto";
}
.how-work img {
  cursor: pointer;
}

.up-picture {
  display: flex;
}
