a:hover {
  text-decoration: none;
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  color: #000;
}
.main-desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
header {
  padding: 57px 0 146px;
  background-color: #e5e5e5;
}
header .navbar {
  margin-bottom: 162px;
}
header .navbar .navbar-nav .nav-item {
  padding: 0 21px;
}
header .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  padding: 5px;
}
header .navbar-toggler .navbar-row {
  position: absolute;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
header .navbar-toggler:after,
header .navbar-toggler:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 3px;
  width: 90%;
  background-color: #fff;
}
header .navbar-toggler:after {
  top: 10px;
}
header .navbar-toggler:before {
  bottom: 10px;
}
header .nav-item {
  padding: 0 21px;
}
header .nav-item a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: 0.4s;
}
header .nav-item a:first-child {
  color: #34547a;
}
header .nav-item a:hover {
  color: #34547a;
}
header .head-title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #000;
}
header .head-desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}
header .head-btn {
  display: block;
  max-width: 225px;
  padding: 25px 40px;
  background-color: #34547a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 990px) {
  .navbar-nav .nav-item {
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
  }
  .navbar-nav .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.357);
    border-bottom: 2px solid #000;
  }
  .navbar-nav .nav-item:hover a {
    color: #fff;
  }
}
@media screen and (max-width: 580px) {
  .head-image {
    margin-bottom: 50px;
  }
}
