@media (min-width: 1200px) {
    .for_page .container {
        max-width: 1110px;
    }
}

@media (max-width: 1170px) {
    .nav_menu .sub_menu .item_menu .link_item_menu {
        margin-right: 25px;
        font-size: 15px;
    }

    .nav_menu .sub_menu {
        margin-left: 10;
        justify-content: flex-start;
    }
}

@media (max-width: 999px) {

    .header {
        padding: 30px 0 70px 0;
    }

    .parent_text_banner h2, p {
        text-align: center;
    }

    .nav_menu .sub_menu {
        margin-left: 0;
        justify-content: flex-start;
    }

    .container_img_banner {
        justify-content: center;
    }

    .parent_text_banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_banner {
        padding: 40px 0 40px 0;
    }

    .rectangle {
        padding: 50px 0;
    }


    .rectaingle_container {
        justify-content: center;
        margin-bottom: 20px;
    }

    .scills .content_left {
        justify-content: center;
    }

    .scills .content_left .container_text {
        align-items: center;
    }
}

@media (max-width: 770px) {

    .header {
        padding: 20px 0 30px 0;
    }

    .logo {
        justify-content: center;
    }

    .nav_menu .sub_menu .item_menu .link_item_menu {
        margin-right: 18px;
        font-size: 12px;
    }

    .nav_menu .sub_menu {
        padding-top: 20px;
        margin-left: 0;
        justify-content: center;
    }

    .parent_text_banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rectangle {
        padding: 30px 0;
    }

    .scills {
        padding: 50px 0;
    }

    .about_me .container_about_me {
        margin: 50px 0 50px 0;
        width: 360px;
    }

    .video {
        padding: 40px 0 40px 0;
    }

    .video .text {
        width: 360px;
        margin-bottom: 30px;
        padding: 0 10px 0 10px;
    }

    .video .video_img_container .play_btn {
        width: 50px;
    }

    .form {
        padding: 50px 0;
    }

    .form .text_form {
        width: 360px;
        padding: 0 10px 0 10px;
    }

    .footer .contant {
        flex-direction: column;
        margin: 30px 0;
    }

    .footer .contant .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer .contant .logo {
        display: flex;
    }

    .clients .container_clients  {
        margin: 30px 0 30px 0;
    }

    .clients .container_clients .product {
        width: 175px;
    }
}


@media (max-width: 360px) {
    .nav_menu .sub_menu {
        flex-wrap: wrap;
    }


    .parent_text_banner h2 {
            
            font-size: 28px;
            line-height: 29px;
    }

    .parent_text_banner  .btn_banner {
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .about_me .container_about_me {
        margin: 30px 0;
        width: 250px;
        padding: 0 10px;
    }

    .rectangle {
        padding: 20px 0;
    }

    .scills {
        padding: 30px 0;
    }

    .video {
        padding: 30px 0 30px 0;
    }

    .video .text {
        width: 260px;
        margin-bottom: 20px;
        padding: 0 10px 0 10px;
    }

    .video .text h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .video .video_img_container .play_btn {
        width: 30px;
    }

    .form {
        padding: 30px 0;
    }

    .form .text_form {
        width: 250px;
        overflow: hidden;
    }

    .footer .contant {
        margin: 15px 0;
    }

    .clients .container_clients  {
        margin: 20px 0 20px 0;
    }

    .clients .container_clients .product {
        width: 125px;
    }
}