*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Playfair Display', serif;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    background: #ffff;
}
.responsive_menu{
    display: none;
}
.header .sub-menu   {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    padding-top: 40px;
}
.box-logo .box-logo-img{
    margin: 33px 20px 37px 30px;
}
.box-logo .logo-tel{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:  #141414;
}
.box-logo .logo-tel:hover{
    color: #5C8692;
    text-decoration: none;
}
.logo-tel .logo-tel-img{
    padding-right: 10px;
}

.sub-menu .item-menu:nth-child(4){
    padding-right: 20px;  
}
.nav-menu .item-menu a{
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    line-height: 25px;
    color: #141414;
}
.nav-menu .item-menu a:hover{
    color: #5C8692;
    text-decoration: none;
}
.header-icon {
    padding-top: 35px;
}
.header-icon a  img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}
.header-icon  a img{
    padding: 7px 10px 6px;
}
.header-icon a button{
    background: #5C8692;
    color: #ffff;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: -10px 10px 0;
}
.header-icon a button:hover{
    cursor: pointer;
    background:#1ea8ce;
}
.banner{
    background: #EBF3F5;
    padding: 120px 0;
}
.banner-img{
    height: auto;
    max-width: 100%;
}
.parentBanner{
    margin-top: 25px;
}
.parentBanner h4{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #5C8692;
    padding-bottom: 0;
}
.parentBanner h1{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    line-height: 71px;
    letter-spacing: 0.66px;
    color: #141414;
    margin-right: 52px;
}
.parentBanner p{
    font-family: 'Manrope', sans-serif;
    font-size: 19px;
    line-height: 30px;
    color: #555555;
    padding: 19px 85px 26px 0; 
}
.parentBanner a{
    font-family:'Manrope', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.56px;
    color: #FFFFFF;
    background: #5C8692;
    padding: 18px 32px;
}
.parentBanner a:hover{
    background:#1ea8ce;
    text-decoration: none;
    color: #ffff;
}

.block1{
    padding: 100px 0 100px;
    background: #ffff;;
}
.block1 .blog1 .article {
    margin-right: 30px;
}
.block1 .blog1 .article:nth-child(3){
    margin-right: 0;
}
.article .title-article a{
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.312px;
    color: #141414;  
}
.article .title-article a:hover{
    color: #5C8692;
    text-decoration: none;
}
.article .title-article{
    padding-top: 16px;
}
.article .text-article{
    font-family:  'Manrope', sans-serif;
    line-height: 31px;
    letter-spacing: 0.36px;
    color: #555555;
    padding-top: 13px;
    padding-right: 4px;
    padding-bottom: 17px;
}
.article .btn-article{
    font-family:'Manrope', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #141414;
    border: 2px solid #5C8692;
    padding: 16px 27px 17px 26px;
    
}
.article .btn-article:hover{
    text-decoration: none;
    background: rgb(92, 134, 146, 0.3);
    color: #FFFFFF;
}
.article .img-article:hover{
    cursor: pointer;
    opacity: 0.8;
}
.block2{
    padding: 140px  0 120px;
    background: #EBF3F5;
}
.parent-block2-item{
    display: flex;
    flex-wrap: nowrap;
}
.parent-block2-text h4{
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #5C8692;
}
.parent-block2 h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    color: #141414;
    padding-bottom: 14px;
}
.parent-block2-text p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    color: #555555;
    padding-bottom: 30px;
}
.parent-block2-item  div{
    background: #ffff;
    display: inline-block;
}
.item-block2{
    border: 3px solid #1E2C30;
    padding-bottom: 23px;
    margin-right: 12px;
}
.parent-block2-item p{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.264px;
    color: #141414;
    margin: 0;
}

.item-block2 .img1{
    padding: 22px 69px 12px 68px ;
}
.item-block2 .img2{
    padding: 22px 60px 12px 59px ;
}
.item-block2 .img3{
    padding: 20px 61px 12px 60px ;
}
.block2-img{
    height: auto;
    max-width: 100%;    
    display: flex;
    justify-content: right;
    margin-left: 30px;
}
.block3{
    background: #ffff;
    padding: 100px 0 120px; 
}
.block3-square1 img{
    position: absolute;
    bottom: -127px;
    left: -66px;
    width: 90px;
    height: 90px;
}
.block3-title{
    text-align: center;
}
.block3-title h4{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
}
.block3-title h2{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    padding-bottom: 70px;
    }
.block3-img{
    height: auto;
    max-width: 100%;
    }
     
.block3-img img{
    height: 650px;
    padding-right: 19px;
}
.block3-text {
    padding-top: 30px;
    position: relative;
}
.block3-text-prise h4{
    display: inline;
    font-family:  'Playfair Display', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.264px;
    text-transform: capitalize;
    color: #141414;  
}
.block3-text-prise p{
    display: inline;
    float: right;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    color: #141414;
    padding-bottom: 4px;
}
.block3-text-prise{
    padding-top: 15px ;
}
.block3-text .block3-paragraf{
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.36px;
    color: #555555;
    padding-top: 7px;
    padding-bottom: 4px;
}
.linear{
    border-top: 3px solid #141414;
}
.btn-block3{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.56px;
    color: #141414;
    background: #FFFFFF;
    border: 1px solid #5C8692;
    padding: 18px 31px 19px;
    margin-top: 22px;
}
.btn-block3:hover{
    background: rgb(92, 134, 146, 0.3);
    color: #FFFFFF;
}
.bl1{
    border-bottom: 1px solid #1E2C30;
} 

.block3-img2{
    height: auto;
    max-width: 100%;  
}
.block3-img2 img {
    height: 650px;
    padding-left: 19px;
}
.bl1 .block3-top{
    padding-top: 100px;
}

.block3-square2 img{
    position: absolute;
    top: 0;
    right: -65px;
    width: 90px;
    height: 90px;
}
.block4{
    padding: 99px 0 119px;
    background: #EBF3F5;
    
}
.block4-title{
    text-align: center;
    padding-bottom: 40px;
}
.block4-title h4{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
}
.block4-title h2{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
}

.block4-paragraf{
    background: #ffff;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    color: #141414;
    padding: 33px 47px 25px 30px;
     
}
.block4-reviews{
    background:#1E2C30 ;
    color: #FFFFFF;
}
.block4-reviews .block4-reviews1-response .block4-img{
    width: 15%;
    margin: -30px 6px 26px 30px;
    display: inline;
}
.block4-reviews1-response {
    position: relative;
}
.block4-reviews1-response .ddd{
    display: inline-block; 
}
.ddd{
    padding:22px 0 22px 20px;
}
.ddd h4{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    padding-top: 7px;
}
.ddd p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.block4 .block4-reviews1 .ddd-img img{
    display: inline;
}
.block4-reviews .block4-reviews1 .ddd-img img{
    width: 12%;
}
.block4-reviews1-response .vector::before{
    content: url(../img/vector2.png);
    right: 24px;
    bottom: 52px;
    position: absolute;
    width: 12%;
} 
.block5{
    padding: 99px 0 60px;
    background: #ffff;  
}
.block5-title{
    text-align: center;
}
.block5-title h4{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
}
.block5-title h2{
    font-family:'Playfair Display', serif;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    padding-bottom: 70px;
}
.block5-block:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.block5-block h3{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.312px;
    color: #141414;
    padding-top: 14px;
}
.block5-block p{
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
    padding-bottom: 50px;
    padding-top: 11px;
}
.block6{
    padding: 109px 0 110px;
    background: #EBF3F5;
}
.block6-article{
    padding-right: 30px;
}
.block6-article h4{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
    padding-top: 100px;
}
.block6-article h2{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.45px;
    color: #141414;
}
.block6-article p {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #555555;
}
.block6-sale{
    display: flex; 
}
.sale{
    border: 2px solid #5C8692;
    background: #ffff;
    padding: 26px 32px 37px 82px;
    border-right: none;
}
.sale p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #141414;   
}
.sale1 p{
    margin-bottom: 0;
}
.sale a{
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #141414;   
}
.sale a:hover{
    text-decoration: none;
    color: #5C8692;
}
.sale1 p,
.sale2 p{
    position: relative;
}
.sale1 p::before,
.sale2 p::before{
    content: url(../img/tochki.png);
    left: -48px;
    bottom: 2px;
    position: absolute;
}
.sale2 p{
    padding-top: 15px;
    margin-bottom: 0;
}

.block6-input{
    background: #ffff;
    padding: 69px 50px 65px;
}
.form-input input,
textarea{
    width: 100%;
    margin-bottom: 20px;      
}
.form-input input,
textarea{
    height: 65px;
    outline: none;
    border: 2px solid #5C8692;
}
.input-name input{
    background: url(../img/inputname.png) no-repeat; 
    padding-top: 0;
    padding-left: 38px;
}
.input-email input{
    background: url(../img/email.png) no-repeat;
    padding-left: 42px;
}
.input-tel input{
    background: url(../img/tel2.png) no-repeat;
    padding-left: 40px;
} 
.input-text input{
    background: url(../img/book.png) no-repeat;
    padding-left: 40px;
}
.block6-textarea textarea{
    background: url(../img/write.png) no-repeat;
    margin-bottom: 20px;
    resize: none;
    height: 130px;
    padding-left: 40px;
    padding-top: 20px;
}
.block6-btn{
    width: 100%;
    height: 65px;
    background: #5C8692;
    border: none;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.56px;
    color: #FFFFFF;

}
.block6-btn:hover{
    background:#1ea8ce;
}
.block7{
    padding: 102px 0 110px;
}
.block7-title{
    text-align: center;
    background: #ffff;
}
.block7-title h4{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5C8692;
}
.block7-title h2{
    font-family:  'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #141414;
    margin-bottom: 66px;
}

.article2{
    background: #EBF3F5;
    height: 100%;  
}

.block7 .blog2  .column3{
    margin-right: 0;
}

.block7-article-p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.78px;
    text-transform: uppercase;
    color: #5C8692;
}
.title-article2 a{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.44px;
    color: #141414;
}
.title-article2 a:hover{
    color: #5C8692;
    text-decoration: none;
}
.text-article2 p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #555555;
    padding: 14px 24px 24px 26px;
    
}

.img-article2 img{
    max-height: 275px;
    width: 100%;
}
.img-article2 img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.block7-article-p{
    display: flex;
    justify-content: space-between;
    padding: 30px 26px 0;
}

.title-article2 {
    padding: 11px 33px 14px 26px;
}
.blog2-p{
    position: relative;
}
.blog2-p::before{
    content: "";
    border-top: 4px solid #000;
    width: 30px;
    right: 121px;
    top: 6px;
    position: absolute;

}
.blog-padd .blog2-p::before{
    content: "";
    border-top: 4px solid #000;
    width: 30px;
    right: 100px;
    top: 6px;
    position: absolute;
}
.block7-btn{
    text-align: center;
    padding-right: 32px;
    
}
.blog2-btn{
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #141414;
    border: 1px solid #5C8692;
    padding: 18px 32px 19px;
    margin-top: 10px;

}
.blog2-btn:hover{
    text-decoration: none;
    background: rgb(92, 134, 146, 0.3);
    color: #FFFFFF;
}
.last-block{
    padding: 70px 0 112px;
    background: #1E2C30;
    color: #ffff;
    position: relative;
}
.logo-footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #FFFFFF26;
    padding-bottom: 40px;
}
.logo-footer-img img:hover{
    cursor: pointer;
}

.footer-social img{
    border: 1px solid #5C8692;
}
.footer-social .special-img{
    padding: 19px 20px;
    margin-left: 5px;
}
.footer-social .special-img1{
    padding: 18px 21px;
}
.footer-social .special-img2{
    padding: 17px 19px;
    margin-left: 5px;
}
.footer-social img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-middle{
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}
.footer-middle h4{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.352px;
    padding-bottom: 15px;

}
.footer-menu ul li {
    list-style: none;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.17px;
   
}
.footer-menu ul li a{
    color: #FFFFFF;
}
.footer-menu ul li a:hover{
    color: #5C8692;
    text-decoration: none;
}
.footer-address h4{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
    text-align: left;
}
.footer-address li{
    list-style: none;
}
.footer-address li p,
.footer-address li a{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 40px;
    color: #FFFFFF;
}
.footer-address li a:hover{
    color: #5C8692;
    text-decoration: none;
}

.time-work h4{
    font-family:'Playfair Display', serif;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.352px;
    color: #FFFFFF;
}
.time-work ul li{
    list-style: none;
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    line-height: 34px;
    color: #FFFFFF;
}
.footer-end{
    background: #111E22;
    text-align: center;
    padding: 16px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.footer-end p{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.15px;
}













