@media (max-width: 1200px){
    .for_page .container{
        max-width: 1110px;
    }
    .work_video{
        height: 517px;
    }
}
@media (max-width: 991px){
    .responsive_menu{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    
    .parent_responsive_menu{
        display: flex;
        justify-content: space-between;
    }
    .responsive_menu i{
        font-size: 33px;
        color: #34547a;
        transition: 0.3s;
        cursor: pointer;
    }
    .responsive_menu i:hover{
        color: #03d5e4;
    }
    .banner{
        padding: 50px 0;
    }
    .banner-img{
        display: flex;
        justify-content: center;
    }
    .banner .parentTextBaner{
        padding-top: 25px;
        padding-bottom: 18px;
        text-align: center;
    }
    .parentTextBaner p{
        margin: 45px 0;
    }
    .parentTextBaner h2{
        font-size: 39px;
    }
    .about{
        padding: 55px 0;
    }
    .projects{
        padding: 37px 0;
    }
    .skills{
        padding: 41px 0;
    }
    .photos .fancy-Child{
        width: 50%;
    }
    .my_skills{
        padding-bottom: 10px;
        padding-top: 1px;
    }
    .projects img{
        margin-bottom: 50px;
    }
    .work{
        padding: 50px 0;
    }
    .slider-carousel{
        padding-top: 25px;
        padding-bottom: 11px;
    }
    .form_title h2{
        padding: 44px 0 27px 0;
    }
    .work_video{
        height: 380px;
    }
    .footer{
        padding: 26px 0;
    }
    .footer_logos{
        display: flex;
        justify-content: center;
    }
    .footer_text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:768px){
    .banner-img{
        display: flex;
        justify-content: center;
    }
    .banner img{
        display: block;
        padding-bottom: 0;
        padding-top: 32px;
    }
    .projects{
        padding-left: 30px;
        padding: 70px 0;
    }
    
    .logo{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .microsoft img{
        padding-bottom: 30px;
    }
    .work_video{
        height: 285px;
    }
}
@media (max-width:576px){
    .projects{
        padding: 70px 0;
    }
    .projects img{
        padding-left: 30px;
        margin-bottom: 23px;
    }
    .skills{
        padding: 30px 0;
    }
    .my_skills{
        text-align: center;
    }
    .my_skills p{
        padding-right: 275px;
    }
    .form textarea{
        width: 95%;
    }
    .work_video{
        height: 270px;
    }
    .modal input{
        width: 100%;
    }
}
@media (max-width:520px){
    .slider-carousel .owl-carousel .owl-item img{
        display: block;
        margin: 0 auto;
    }
    
}
@media (max-width:480px){
    .photos .fancy-Child {
        width: 100%;
    }
}
@media (max-width:440px){
    .my_skills p:before{
        width: 279px;
        top: 57px;
    }
    .my_skills p:after{
        left: 280px;
        top: 57px;
    }
    .work_video{
        height: 163px;
    }
    .projects{
        padding: 32px 0;
    }
    
}
@media (max-width:368px){
    .projects img{
        padding-left: 5px;
    }
    .my_skills p:before{
        width: 200px;
    }
    .my_skills p:after{
        left: 197px;
    }
}