body {
    font-family: 'Roboto-Regular-400', sans-serif;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.for_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

// ===header===
.header {
    margin-top: 40px;

    .header_wrapper {
        display: flex;
        align-items: center;

        .header_logo {
            max-width: 118px;

            a {
                text-decoration: none;
                cursor: pointer;
            }
        }

        .nav_menu .sub_menu {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;
    
            @media (max-width: 767px) {
                display: none;
            }
        
            .item_menu .link_item_menu{
                text-decoration: none;
                margin-right: 59px;
                font-size: 16px;
                line-height: 19px;
                color: #464646;
                transition: all 1s ease;
                white-space: nowrap;

                @media (max-width: 991px) {
                    margin-right: 39px;
                }
        
                &:hover {
                    color: black;
                    transition: all 1s ease;
                    text-shadow: 0.5px 1px 1px black;
                }
            }
        }
        
        .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
            margin-right: 0px;
        }

        .header_btn {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                cursor: pointer;
                outline: none;

                &:active {
                    outline: none;
                }

                &:focus {
                    outline: none;
                }

                i {
                    font-size: 25px;
                    margin-top: 3px;
                    margin-right: 30px;
                    color: #464646;
                    transition: all 1s ease;
                    display: none;

                    &:hover {
                        color: #1f1e1e;
                    }

                    @media (max-width: 767px) {
                        display: block;
                    }
                }

                div {
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    padding: 18px 39px;
                    border: 1px solid #124F48;
                    background: #124F48;
                    border-radius: 31.5px;
                    transition: all 1s ease;

                    @media (max-width: 470px) {
                        padding: 8px 29px;
                    }

                    &:hover {
                        color: #124F48;
                        background: #FFFFFF;
                        transition: all 1s ease;
                    }
                }
            }

            .btn, .btn-primary {
                border: none;
                background: inherit;
                display: none;
                outline: none;

                @media (max-width: 767px) {
                    display: block;
                }
            }
        }
    }
}

// ===greetings===
.greetings {
    display: flex;
    margin: 70px 61px 0 61px;
    padding: 70px 0 0 121px;
    background: #E9FBF9;
    border-radius: 30px;
    margin-bottom: 81px;

    @media (max-width: 1199px) {
        flex-direction: column;
        padding: 50px 0 0 0;
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        padding: 0;
    }

    .greetings_txt {
        width: 50%;

        @media (max-width: 1199px) {
            width: 100%;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sub_title {
            display: inline-block;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.1em;
            color: #FF6107;
            padding: 4px 22px;
            background: #FFFFFF;
            border: 1px solid #F2FAF9;
            box-sizing: border-box;
            border-radius: 4px;
            transition: all 1s ease;
            margin-bottom: 30px;

            &:hover {
                background: #FF6107;
                color: #FFFFFF;
                border: 1px solid black;
                transition: all 1s ease;
            }
        }

        .title {
            max-width: 570px;
            margin-bottom: 31px;
            
            h3 {
                font-size: 64px;
                line-height: 80px;
                color: #021D1A;
                font-family: 'Poppins-ExtraBold-900', sans-serif;

                @media (max-width: 1399px) {
                    font-size: 58px;
                }

                @media (max-width: 1199px) {
                    font-size: 50px;
                }

                @media (max-width: 991px) {
                    font-size: 43px;
                    line-height: 60px;
                }

                @media (max-width: 767px) {
                    font-size: 37px;
                    text-align: center;
                }
            }
        }

        .description {
            max-width: 428px;
            margin-bottom: 51px;

            @media (max-width: 1199px) {
                padding: 0 15px;
            }
            
            p {
                font-size: 18px;
                line-height: 30px;
                color: #464646;

                @media (max-width: 991px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .btn {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }

            .btn_left_link {
                text-decoration: none;
                cursor: pointer;
                margin-right: 55px;

                @media (max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 30px;
                    margin-left: 10px;
                }

                .btn_left {
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    padding: 18px 39px;
                    background: #FF823B;
                    border-radius: 31.5px;
                    transition: all 1s ease;
                    border: 1px solid #FF823B;

                    @media (max-width: 470px) {
                        padding: 8px 29px;
                    }

                    &:hover {
                        background: #FFFFFF;
                        color: #FF823B;
                        transition: all 1s ease;
                        border: 1px solid #FF823B;
                    }
                }
            }

            .btn_play {
                display: flex;
                align-items: center;

                .btn_play_link {
                    cursor: pointer;
                    text-decoration: none;
                    margin-right: 16px;

                    .btn_right{
                        width: 39px;
                        height: 39px;
                        background: white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        color: #FF823B;
                        border: 1px solid white;
                        transition: all .5s ease;

                        &:hover {
                            transition: all .5s ease;
                            background: #FF823B;
                            color: white;
                            box-shadow: 0.5px 1px 10px rgba(0, 0, 0, 0.199);
                        }

                        i {
                            font-size: 18px;
                            transition: all .5s ease;
                        }
                    }
                }

                h4 {
                    font-family: Roboto-Bold-700;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    color: #FF823B;
                    margin: 0;
                }
            }
        }
    }

    .greetings_img {
        width: 50%;
        position: relative;
        display: flex;
        align-items: flex-end;

        @media (max-width: 1199px) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 767px) {
            justify-content: center;
        }

        .item_img {
            position: relative;
            z-index: 10;

            @media (max-width: 1199px) {
                width: 50%;
            }

            .foto_img {
                position: relative;
                z-index: 10;
            }

            .circle {
                position: absolute;
                top: -78px;
                left: 36px;
                z-index: 2;

                @media (max-width: 1320px) {
                    top: -78px;
                    left: -10px;
                }

                @media (max-width: 1199px) {
                    top: -78px;
                    left: 4px;
                }

                @media (max-width: 767px) {
                    top: -43px;
                    left: 4px;
                }

                @media (max-width: 470px) {
                    @media (max-width: 767px) {
                        top: -35px;
                        left: 4px;
                    }
                }
            }
        }

        .greetings_icon {
            width: 314px;
            // height: 314px;
            position: absolute;
            left: 0;
            bottom: -79px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 43px 39px;
            background: #ffffffd7;
            box-shadow: 0px 3px 84px rgba(142, 199, 192, 0.3);
            border-radius: 20px;
            z-index: 50;

            @media (max-width: 1199px) {
                position: static;
                max-width: 250px;
                max-height: 250px;
                padding: 20px;
            }

            @media (max-width: 767px) {
                display: none;
            }

            .greetings_item {
                max-width: 104px;
                max-height: 104px;
                display: block;
                background: #FFF6D5;
                border-radius: 14px;
                padding: 15px;
                opacity: 1;
                margin-bottom: 18px;

                @media (max-width: 1199px) {
                    max-width: 90px;
                    max-height: 90px;
                    padding: 8px;
                }


                .greetings_item_wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FFC90C;
                    border-radius: 14px;
                    width: 74px;
                    height: 74px;
                    opacity: 1;


                    .icon {
                        max-width: 23px;

                        a {
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            .greetings_item_2 {
                background: #DEFFE5;

                .wrapper {
                    background: #198B39;
                }
            }

            .greetings_item_3 {
                background: #DBEEFF;

                .wrapper {
                    background: #0085FF;
                }
            }

            .greetings_item_4 {
                background: #FFEFE6;

                .wrapper {
                    background: #FF7527;
                }
            }
        }

        .mini_circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #71BBFF;
            position: absolute;
            bottom: 125px;
            left: -39px;

            @media (max-width: 1199px) {
                bottom: 125px;
                left: 59px;
            }

            @media (max-width: 580px) {
                bottom: 25px;
                left: 79px;
            }

            &:hover {
                background: black;
            }
        }

        .mini_2 {
            background: #FFCA45;
            bottom: 292px;
            left: 102px;
            z-index: 11;

            @media (max-width: 580px) {
                bottom: 25px;
                left: 102px;
            }
        }

        .mini_3 {
            background: #FF823B;
            top: 27px;
            left: 102px;

            @media (max-width: 580px) {
                top: -25px;
                left: 9px;
            }
        }

        .mini_4 {
            background: #124F48;
            top: -41px;
            left: 461px;

            @media (max-width: 580px) {
                top: -25px;
                left: 242px;
            }
        }
    }
}

// ===clients===
.clients {
    padding: 89px 0 100px;

    @media (max-width: 1199px) {
        padding: 50px 0 30px;
    }

    .clients_boot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clients_wrapper {
        width: 255px;
        height: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1FAF9;
        border-radius: 10px;
        margin-bottom: 29px;
        transition: all 1s ease-in-out;

        &:hover {
            transition: all 1s ease-in-out;
            background: #ffc1c1;
        }

        @media (max-width: 767px) {
            max-width: 220px;
            max-height: 90px;
        }

        @media (max-width: 470px) {
            max-width: 170px;
            max-height: 75px;
        }
    }
}

// ===services===
.services {
    .services_title {
        a {
            padding: 8px 0 0 22px;
            text-decoration: none;
            cursor: pointer;
            font-family: 'Roboto-Medium-500', sans-serif;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            color: #FF6107;
            transition: all .7s ease;
            margin-bottom: 20px;

            &:hover {
                transition: all .7s ease;
                color: red;
            }
        }

        h3 {
            font-family: 'Poppins-Bold-700', sans-serif;
            font-size: 44px;
            line-height: 80px;
            color: #021D1A;
            margin-top: 18px;

            @media (max-width: 1199px) {
                font-size: 40px;
                line-height: 70px;
            }
            
            @media (max-width: 991px) {
                font-size: 34px;
                line-height: 55px;
            }
            
            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .services_subtitle {
        max-width: 428px;
        margin-top: 73px;
        margin-bottom: 20px;

        @media (max-width: 1199px) {
            margin-top: 55px;
        }
        
        @media (max-width: 991px) {
            margin-top: 40px;
        }
        
        @media (max-width: 767px) {
            margin-top: 23px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
            color: #464646;

            @media (max-width: 1199px) {
                font-size: 16px;
                line-height: 25px;
            }
            
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .services-boot {
        display: flex;
        justify-content: center;

        @media (max-width: 991px) {
            justify-content: flex-start;
        }
    }

    .services_card {
        background: #FFFFFF;
        width: 364px;
        box-shadow: 0px 20px 84px rgba(245, 245, 245, 0.8);
        border-radius: 20px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1199px) {
            width: 300px;
        }

        @media (max-width: 767px) {
            margin: 0 auto;
        }

        .services_card_wrapper {
            width: 350px;
            height: 320px;

            @media (max-width: 1199px) {
                width: 280px;
                height: 280px;
            }

            .icon {
                width: 80px;
                height: 80px;
                background: #DBFFE9;
                opacity: 0.7;
                box-shadow: 30px 44px 84px rgba(208, 211, 231, 0.31);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;

                @media (max-width: 1199px) {
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                }


                a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .icon_2 {
                background: #FFF7CA;
            }

            .icon_3 {
                background: #FFE9E0;
            }

            h4 {
                font-family: "Roboto-Bold-700", sans-serif;
                font-size: 24px;
                line-height: 28px;
                color: #021D1A;
                margin-bottom: 20px;

                @media (max-width: 1199px) {
                    font-size: 20px;
                }
            }

            p {
                font-family: 'OpenSans-Regular-400', sans-serif;
                font-size: 18px;
                line-height: 36px;
                color: #464646;
                margin-bottom: 28px;

                @media (max-width: 1199px) {
                    font-size: 14px;
                }
            }

            .services_btn {
                cursor: pointer;
                text-decoration: none;

                div {
                    display: inline-block;
                    border-radius: 31.5px;
                    padding: 16px 23px 16px 33px;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    color: #124F48;
                    transition: all .8s ease;

                    &:hover {
                        background: #FF823B;
                        color: #FFFFFF;
                        transition: all .8s ease;
                    }

                    i {
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}

// ===achievements===
.achievements {
    padding: 168px 0 140px;

    @media (max-width: 1199px) {
        padding: 80px 0;
    }
    
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    
    @media (max-width: 767px) {
        padding: 40px 0;
    }

    .achievements_wrapper_left, .achievements_wrapper_right {
        .achievements_left_title {
            margin-bottom: 140px;

            @media (max-width: 1199px) {
                margin-bottom: 90px;
            }
            
            @media (max-width: 991px) {
                margin-bottom: 80px;
            }
            
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
            a {
                padding: 8px 0 0 22px;
                text-decoration: none;
                cursor: pointer;
                font-family: 'Roboto-Medium-500', sans-serif;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1em;
                color: #FF6107;
                transition: all .7s ease;
                margin-bottom: 20px;
    
                &:hover {
                    transition: all .7s ease;
                    color: red;

                    @media (max-width: 767px) {
                        margin-left: 50px;
                        transition: all 2s ease;
                    }
                }
            }
    
            h3 {
                font-family: 'Poppins-Bold-700', sans-serif;
                font-size: 44px;
                line-height: 80px;
                color: #021D1A;
                margin-top: 18px;

                @media (max-width: 1199px) {
                    font-size: 39px;
                    line-height: 70px;
                }
                
                @media (max-width: 991px) {
                    font-size: 35px;
                    line-height: 60px;
                }
                
                @media (max-width: 767px) {
                    font-size: 30px;
                    line-height: 40px;
                    text-align: center;
                }

                .color_txt {
                    color: #FF6107;
                }
            }
        }

        .achievements_right_title {
            padding-top: 83px;
            padding-left: 50px;
            margin-bottom: 90px;

            @media (max-width: 1199px) {
                padding-top: 60px;
                margin-bottom: 60px;
            }
            
            @media (max-width: 991px) {
                padding-top: 50px;
                margin-bottom: 50px;
            }
            
            @media (max-width: 767px) {
                padding-top: 35px;
                margin-bottom: 35px;
                padding-left: 0;
            }

            .title_wrapper {
                max-width: 465px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                padding-bottom: 30px;

                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }

                h3 {
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 36px;
                    line-height: 80px;
                    color: rgba(18, 79, 72, 0.37);

                    @media (max-width: 991px) {
                        font-size: 30px;
                    }
                    
                    @media (max-width: 767px) {
                        font-size: 27px;
                        line-height: 40px;
                    }
                }

                p {
                    font-family: 'Roboto-Medium-500', sans-serif;
                    font-size: 18px;
                    line-height: 26px;
                    color: #124F48;
                    margin: 0;

                    @media (max-width: 991px) {
                        font-size: 16px;
                    }
                    
                    @media (max-width: 767px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                a {
                    text-decoration: none;
                    cursor: pointer;
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 14px;
                    line-height: 26px;
                    color: #FF823B;
                    transition: all 1s ease;

                    &:hover {
                        transition: all 1s ease;
                        color: red;
                    }
                }
            }
        }

        .works {
            background: #EDFFFD;
            border-radius: 20px;
            padding-top: 76px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            margin-bottom: 35px;

            .img {
                position: relative;
                z-index: 10;
                margin: 0 auto;
                width: 377px;
                height: 530px;
                max-width: 100%;
                overflow: scroll;
            }

            .circle {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0px;
                left: 0px;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .info {
            max-width: 511px;
            h3 {
                font-family: 'Roboto-Bold-700', sans-serif;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 35px;
            }

            p {
                font-size: 18px;
                line-height: 36px;
                color: #464646;
                margin-bottom: 45px;

                @media (max-width: 767px) {
                    font-size: 15px;
                    margin-bottom: 25px;
                }
            }

            a {
                cursor: pointer;
                text-decoration: none;

                div {
                    display: inline-block;
                    background: #FF823B;
                    border-radius: 31.5px;
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    padding: 18px 28px 18px 36px;
                    color: #FFFFFF;
                    transition: all 1s ease;
                    border: 1px solid #FF823B;

                    @media (max-width: 767px) {
                        padding: 12px 18px 9px 18px;
                        margin-bottom: 30px;
                    }

                    &:hover {
                        transition: all 1s ease;
                        background: #FFFFFF;
                        color: #FF823B;
                    }

                    i {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .achievements_wrapper_right {
        margin: 0 auto;

        .works_2 {
            background: #FFF8F4;
        }

        .info_2 {
            margin-left: 10px;
        }
    }
}

// ===blog===
.blog {
    padding-bottom: 140px;

    @media (max-width: 1199px) {
        padding-bottom: 100px;
    }
    
    @media (max-width: 991px) {
        padding-bottom: 70px;
    }
    
    @media (max-width: 767px) {
        padding-bottom: 40px;
    }
    .blog_title {
        max-width: 670px;
        margin: 0 auto;

        a {
            display: block;
            cursor: pointer;
            text-decoration: none;
            font-family: Roboto-Medium-500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            color: #FF6107;
            text-align: center;
            margin-bottom: 34px;
            transition: all 1s ease;

            @media (max-width: 767px) {
                margin-bottom: 25px;
            }

            &:hover {
                transition: all 1s ease;
                color: red;
            }
        }

        h3 {
            font-family: 'Poppins-Bold-700', sans-serif;
            font-size: 44px;
            line-height: 80px;
            text-align: center;
            color: #021D1A;
            margin-bottom: 25px;

            @media (max-width: 1199px) {
                font-size: 37px;
                line-height: 70px;
            }
            
            @media (max-width: 991px) {
                font-size: 32px;
                line-height: 60px;
            }
            
            @media (max-width: 767px) {
                font-size: 27px;
                line-height: 50px;
            }
        }

        p {
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #464646;

            @media (max-width: 1199px) {
                font-size: 16px;
                line-height: 26px;
            }
            
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 23px;
            }
            
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .slider-carousel {
        .item {
            .data_blog {
                margin-top: 84px;
                max-width: 500px;
                background: #FFFFFF;
                box-shadow: 20px 24px 114px #F5F5F5;
                border-radius: 10px;
                position: relative;
                padding: 30px 0 19px 20px;
        
                .img {
                    max-width: 480px;
                    height: 300px;
                    overflow: hidden;
                    margin-bottom: 40px;
                }
        
                h4 {
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 22px;
                    line-height: 30px;
                    color: #000000;
                    margin-bottom: 35px;
                }
        
                .item_txt {
                    height: 100px;
                    margin-bottom: 45px;

                    p {
                        font-size: 18px;
                        line-height: 30px;
                        color: #464646;

                        @media (max-width: 991px) {
                            font-size: 16px;
                            line-height: 27px;
                        }
                        
                        @media (max-width: 767px) {
                            font-size: 15px;
                            line-height: 24px;
                        }
                    }
                }
        
                a {
                    cursor: pointer;
                    text-decoration: none;
        
                    div {
                        display: inline-block;
                        padding: 18px 39px;
                        background: #ff833b00;
                        border-radius: 31.5px;
                        font-family: 'Roboto-Bold-700', sans-serif;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        color: #124F48;
                        transition: all 1s ease;
        
                        &:hover {
                            color: #FFFFFF;
                            transition: all 1s ease;
                            background: #ff833b;
                        }
                    }
                }
        
                .final_data {
                    width: 75px;
                    height: 75px;
                    padding: 8px 16px;
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 24px;
                    line-height: 30px;
                    color: #FFFFFF;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #124F48;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                }
            }
        }

        .owl-theme .owl-nav {
            position: absolute;
            top: -31px;
            right: 0;

            @media (max-width: 767px) {
                top: 20px;
            }

            .owl-prev, .owl-next {
                color: #88A7A3;
                font-size: 19px;
                &:hover {
                    background: #0084ff00;
                    color: #124F48;
                }
            }
        }

        .owl-theme .owl-dots {
            display: none;
        }
    }
}

// ===pre_footer===
.pre_footer {
    padding: 70px 0;
    background: #E9FBF9;

    @media (max-width: 991px) {
        padding: 50px 0;
    }
    
    @media (max-width: 767px) {
        padding: 40px 0;
    }

    .pre_footer_row {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
        
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }

        .pre_footer_title {
            margin-bottom: 45px;

            @media (max-width: 991px) {
                margin-bottom: 35px;
            }
            
            @media (max-width: 767px) {
                margin-bottom: 25px;
            }

            h3 {
                font-family: 'Poppins-Bold-700', sans-serif;
                font-size: 44px;
                line-height: 66px;
                text-align: center;
                color: #000000;

                @media (max-width: 991px) {
                    font-size: 36px;
                    line-height: 50px;
                }
                
                @media (max-width: 767px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        .pre_footer_link {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                cursor: pointer;
            }

            .link {
                font-family: 'Poppins-Regular-400', sans-serif;
                font-size: 18px;
                line-height: 27px;
                color: #FF823B;
                transition: all 1s ease;
                margin-right: 27px;

                @media (max-width: 991px) {
                    font-size: 16px;
                    line-height: 24px;
                }
                
                @media (max-width: 767px) {
                    font-size: 15px;
                    line-height: 22px;
                }

                &:hover {
                    transition: all 1s ease;
                    color: red;
                }
            }

            .btn {
                div {
                    font-family: 'Roboto-Bold-700', sans-serif;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    padding: 18px 29px 18px 39px;
                    background: #FF823B;
                    border-radius: 31.5px;
                    border: 1px solid #FF823B;
                    transition: all 1s ease;

                    @media (max-width: 991px) {
                        padding: 14px 20px 14px 30px;
                    }
                    
                    @media (max-width: 767px) {
                        padding: 10px 14px 10px 20px;
                    }

                    i {
                        margin-left: 8px;
                    }

                    &:hover {
                        transition: all 1s ease;
                        color: #FF823B;
                        background: #FFFFFF;
                    }
                }
            }
        }
    }

    .pre_footer_row_2 {
        display: flex;
        align-items: center;

        .logo_prefooter {

            @media (max-width: 991px) {
                display: flex;
                justify-content: center;
            }

            .logo {
                @media (max-width: 991px) {
                    margin-bottom: 45px;
                }
            }
        }

        .nav_menu .sub_menu {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;

            @media (max-width: 991px) {
                margin-bottom: 45px;
            }

            .item_menu .link_item_menu{
                cursor: pointer;
                text-decoration: none;
                margin-right: 71px;
                font-size: 18px;
                line-height: 21px;
                color: #124F48;
                transition: all 1s ease;
                white-space: nowrap;
                text-shadow: 0.5px 1px 1px #ff833b00;

        
                &:hover {
                    color: #FF823B;
                    transition: all 1s ease;
                    text-shadow: 0.5px 1px 1px #FF823B;
                }
            }
        }
        
        .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
            margin-right: 0px;
        }

        .iforma {
            a {
                text-decoration: none;
                cursor: pointer;
                font-size: 17px;
                line-height: 36px;
                color: #124F48;
                transition: all 2s ease;

                &:hover {
                    transition: all 2s ease;
                    color: blueviolet;
                }
            }
        }
    }
}


// ===Footer===
.footer {
    margin-top: auto;
    background: #124F48;
    padding: 15px 0 17px;

    .txt {
        p {
            font-family: 'Poppins-Regular-400', sans-serif;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            margin: 0;
            padding: 0;

            @media (max-width: 991px) {
                font-size: 16px;
            }
            
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    .icon {
        display: flex;
        justify-content: flex-end;

        div {
            width: 23px;
            height: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.51);
            border-radius: 50%;
            margin-right: 30px;
            transition: all 1s ease;

            @media (max-width: 991px) {
                margin-right: 20px;
            }
            
            @media (max-width: 767px) {
                margin-right: 15px;
            }

            &:hover {
                transition: all 1s ease;
                background: #FFFFFF;
            }

            a {
                display: block;
                cursor: pointer;
                text-decoration: none;
                margin: 0;
                padding: 0;
                margin-bottom: 3px;

                i {
                    font-size: 12px;
                    color: #124F48;
                }
            }
        }
    }
}
// ===Footer===

// ===modal===

.video_img_container {
    max-width: 100%;
    max-height: 600px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;



    .youtube {
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: all 200ms ease-out;
        cursor: pointer;
        width: 100%;
        height: 600px;
        background-size: cover;

        @media (max-width: 1199px) {
            height: 420px;
        }
        
        @media (max-width: 991px) {
            height: 259px;
        }
        
        @media (max-width: 767px) {
            height: 256px;
        }

        @media (max-width: 470px) {
            height: 195px;
        }
    }

    .youtube .play {
        background: url('../img/youtube/youtube-play-btn.png') no-repeat; 
        background-position: 0 -100px;
        background-size: 100% auto;
        position: absolute;
        height: 100px;
        width: 100px;
        transition: none;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;

        @media (max-width: 991px) {
            height: 50px;
            width: 50px;
            background-position: 0 -50px;
        }
    }

    .youtube:hover .play {
        background-position: 0 0;
    }
}

iframe {
    width: 100%;
    height: 600px;

    @media (max-width: 1199px) {
        height: 420px;
    }
    
    @media (max-width: 991px) {
        height: 259px;
    }
    
    @media (max-width: 767px) {
        height: 256px;
    }

    @media (max-width: 470px) {
        height: 195px;
    }
}

.nav_menu_modal .sub_menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;

    .item_menu .link_item_menu{
        display: block;
        text-decoration: none;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
        color: #464646;
        transition: all 1s ease;
        white-space: nowrap;

        &:hover {
            color: black;
            transition: all 1s ease;
            text-shadow: 0.5px 1px 1px black;
        }
    }
}

.nav_menu .sub_menu .item_menu:last-child .link_item_menu {
    margin-bottom: 0px;
}

