@charset "UTF-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 'Roboto', sans-serif;
    font-size: 14px;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.header{
    background: #EEEFF1;
    padding-top: 57px  ;   
}
.responsive_menu{
    display: none;
}

.nav-menu ul.sub-menu{
    display: flex;
    list-style: none;
    font-size: 16px;
    margin-bottom: 162px; 
    justify-content: end;
}

.nav-menu ul.sub-menu li a{
    margin-right: 42px;
    line-height: 26px;
    color: #000; 
    font-weight: 500;
    transition: 0.3s;
    letter-spacing: 1px;
   
}
.nav-menu ul.sub-menu li a:hover{
    color: #03d5e4;
    text-decoration: none;
}
.nav-menu ul.sub-menu li:nth-child(5) a{
    margin-right: 0;
}

.banner{
    background: #EEEFF1;
    padding-bottom: 146px;
    
}
.banner img {
    display: block;
    margin: 0 auto;
}

.parentTextBanner h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}
.parentTextBanner p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding:40px 0 60px;
}
.parentTextBanner .btnBanner{
    background:#34547A ;
    color: #ffffff;
    padding: 25px 41px;
    text-decoration: none; 
    margin-bottom: 146px;
}
.parentTextBanner a.btnBanner{
    letter-spacing: 0.1em;
}
   
.parentTextBanner a.btnBanner:hover{
    background: #03d5e4;
    transition: 2s;
}
.about {
    margin-top: 119px;
    margin-bottom: 100px;
}
.block2{
    text-align: center;
}
.block2 h3{
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 50px;
   
}
.block2 p{
    text-indent: 15px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    
}

.ic{
    background: #34547A;
    padding-top: 100px;
    padding-bottom: 50px;
}

.icon{
    
    color: #ffffff;
  
}
.icon .icon-text{
    display: inline-block;
}

.icon img{
    margin-right: 20px;
    margin-bottom: 35px;
}
   
.icon h4{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
.icon p{
    font-size: 16px;
    line-height: 26px;
}
.skills{
    background: #ffffff;
    padding-top: 102px;
    padding-bottom: 101px;
}

.my-photo img {
    display: block;
    margin: 0 auto;  
}
   
.my-skills h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color:#000000 ;
    margin-bottom: 50px;
}
.my-skills p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.my-skills .linear{
    border-bottom: 4px solid #C4C4C4;
    position: relative;
    width: 445px;
    margin-bottom: 30px;
    margin-top: 20px;

}
.my-skills .linear:before{
    content: "";
    border-bottom: 4px solid #34547A;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0; 
    
}


.parent-video{
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 57px;
}
.block3{
    text-align: center;
}
.block3 h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
.block3 p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-top: 50px;
    text-indent: 19px;
}


.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.parent-video iframe{
    width: 100%;
    height: 600px;
}

.youtube .play {
    background: url(../img/youtube.png) no-repeat; 
    background-position: 0 -100px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 100px;
    width: 100px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}
.youtube:hover{
    transform: scale(1.1);
    transition: 0.3s;

}

.parent-galery{
    padding-top: 28px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.parent-galery img{
    height: 100%;
    width: 100%;
}
.parent-galery .fancyChild{
    width: 25%;
    max-height: 360px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
.parent-galery .fancyChild:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/view.png),linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    background-repeat: no-repeat;
    background-position: center center;
    
}
.slider-carousel{
	padding-top: 72px;
	padding-bottom: 100px;
}
.slider-carousel .owl-carousel .owl-item img{
	width: auto;
}


.input{
    background: #EEEFF1;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.block4{
   
    text-align: center;
}
.block4 h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;     
}
.block4 p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-top: 50px;
    text-indent: 19px;
    margin-bottom: 65px;
}


.input-email, 
.input-name {
    background: #FFFFFF;
    padding: 17px 44px 18px 20px; 
    border: none;
    outline: none;
    margin-bottom:20px;
}


.input-name{
    margin-right: 30px;
}
.text-texterea {
    background: #FFFFFF;
    width: 100%;
    
    border: none;
    outline: none;
    padding: 17px 0 143px 20px;
    resize: none;
}

.btn-Send{
    padding: 19px 40px;
    background: #34547A;
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 50px;
    
}
.btn-Send:hover{
    background: #03d5e4;
    transition: 2s;
}

footer{
    background: #34547A;
    color: #FFFFFF;
}
.end{
    display:inline-block;
}
.end h3{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding-top: 50px;

}
.end p{
    font-size: 13px;
    line-height: 21px;
    margin-top: 20px;
    display:inline-block;
    text-align: right;
}
.end-i{
    padding-top: 56px;
    float: right;
    cursor: pointer;
    font-size: 40px; 
}
.end-i i:nth-child(2){
    padding: 0 10px 0;
    
    
}
