* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}


.for_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    background: rgba(34, 34, 34, 0.232);
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

    .post {
        width: 32%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 0 0 10px black;

        @media (max-width: 991px) {
            width: 48%;
        }

        @media (max-width: 575px) {
            width: 100%;
        }

        img {
            @media (max-width: 575px) {
                width: 100%;
            }
        }

        h2 {
            text-align: center;
            height: 88px;
            overflow: hidden;
            margin: 10px 10px 0 10px;

            @media (max-width: 767px) {
                font-size: 26px;
            }
        }

        a.watch_link {
            text-decoration: none;
            color: #222;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            background: rgba(17, 16, 16, 0.423);
            border-radius: 10px;
        }

        .price {
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            @media (max-width: 991px) {
                flex-direction: column;
            }

            .prise_now {
                font-size: 40px;
                color: red;
                font-weight: 700;
            }

            a.buy_now {
                text-decoration: none;
                padding: 6px 20px 10px 20px;
                display: inline-block;
                background: #222;
                border-radius: 20px;
                color: white;
                margin: 0;

                @media (max-width: 991px) {
                    margin-top: 30px;
                    padding: 6px 30px 10px 30px;
                }
            }
        }
    }
}