@charset "UTF-8";
/* CSS Document */
 .responsive_menu 
  {
    display: none;
  }

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
img {

margin: 0 auto;
display: block;
margin-top: 26px;
}
/*header*/
.header {
  background: #eeeff1;
  padding-top: 57px;
}
/*header*/
/*Banner Block*/
/*Menu*/
.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
}
.nav-menu ul.sub-menu li a {
  margin-right: 42px;

  font-size: 16px;
  line-height: 26px;
  color: 000;
  font-weight: 500;
  transition: 0.3 s;
}
.nav-menu ul.sub-menu li a:hover {
  color: #34547a;

  text-decoration: none;
}
.nav-menu ul.sub-menu li a:last child {
  margin-right: 0;
}
/*Menu*/
.banner {
  padding-top: 162px;

  background: #eeeff1;
  padding-bottom: 146px;
}
/*Banner Block*/

.parentTextBaner h2 {
  margin-top: 79px;
  font-size: 48px;
}
.for_page {
  min-height: 100%;
  position: relative;
}


.page {
  padding-bottom: 167px;
}

.banner .parentTextBanner a {
  background: #34547a;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 25px 41px;
  margin-top: 85px;
  display: inline-block;
 
  }
  .banner .parentTextBanner a:hover {
  background: #000000;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 25px 41px;
}
 
  }
   .banner .parentTextBanner p{
    margin-top: 60px;
   	    margin-bottom: 85px;
} 
.banner .parentTextBanner h2{

	 font-weight: 500;
    font-size: 48px;
    line-height: normal;
    color: #000000;
    margin-bottom: 10px;
  }

.about .wrapper
{
  height: 250px;
  background: #34547A;
   position: relative;
}
.wrapper 
{
 
 display: flex;


}
.icon_bg
{
  width: 3.13px;
  height: 1.67px;
  position: relative;
  left: 0;
  top: 0;
}


.project_main
{
  width: 141px;
  height: 50px;
  padding: 10px;
  display: block;
  margin: 20px;
}
.project_main_2
{
margin-left: 10px;
}
.about
{ 
 /* margin-left: 822px;*/
  justify-content: center;
  
  width: 1250px;
}
.about .text_2
{
  margin-left: ;
 
  background: white;
}
.icon_bg_1
{
  padding-left: 149px;
}
.Rectangle
{
  width: 555px;
  height: 450px;
}
.next .line 
{
  position: relative;
  width: 445px;
  height: 4px;
  border-right-color: red;
}
.line:before
{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 349px;
  height: 4px;
  background-color: #34547a;
}
