*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}

/*header*/
.header{
	background: #EEEFF1;
	padding-top: 57px;
}
.responsive_menu{
	display: none;
}
	/*Menu*/
		.nav-menu ul.sub-menu{
			display: flex;
			list-style: none;
		}
		.nav-menu ul.sub-menu li a{
			margin-right: 42px;
			font-size: 16px;
			line-height: 26px;
			color: #000;
			font-weight: 500;
			transition: 0.3s;
		}
		.nav-menu ul.sub-menu li a:hover{
			color: #03d5e4;	
			text-decoration: none;
		}
		.nav-menu ul.sub-menu li:nth-child(5) a{
		   margin-right: 0;
		}
	/*Menu*/
/*header*/


/*Banner Block*/
.banner{
	background: #EEEFF1;
	padding-top: 162px;
	padding-bottom: 146px;
}
.parentTextBaner h2{
	font-weight: 500;
	font-size: 48px;
	line-height: 79px;
	color: #000000;
	margin-bottom: 60px;
}
.parentTextBaner p{
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	margin-bottom: 60px;
}
.banner_img img{
	margin: 0 auto;
	display: block;
	margin-top: 26px;
}
.btnBanner{
	background: #34547A;
	padding: 15px 0;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	transition: 0.3s;
	width: 225px;
	display: block;
}
.btnBanner:hover{
	background: #03d5e4;
	text-decoration: none;
	color: #FFFFFF;
}
/*.parentText{
	max-width: 500px;
}*/
/*Banner Block*/
.Parentvideo{
	padding: 100px 0;
}
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
	background-size: cover;
	width: 100%;
	height: 600px;
}
.Parentvideo iframe{
	width: 100%;
	height: 600px;
}
.youtube .play {
    background:url("../img/youtube-play-btn.png") no-repeat;
    background-position: 0 -100px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 100px;
    width: 100px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}
.ParentGalery{
	padding-top: 28px;
}
.ParentGalery{
	display: flex;
	flex-wrap: wrap;
}
.ParentGalery .fancyChild{
	width: 25%;
	max-height: 360px;
	overflow: hidden;
	position: relative;
	transition: 0.3s;
}
.ParentGalery .fancyChild:hover:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/view.png"),linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
	background-repeat: no-repeat;
	background-position: center center;
}
.slider-carousel{
	padding-top: 72px;
	padding-bottom: 100px;
}
.slider-carousel .owl-carousel .owl-item img{
	width: auto;
}
.TabsProf{
	padding: 100px 0;
}
.TabsProf .nav-tabs {
    border-bottom:none;
}
.TabsProf .nav-tabs .nav-link {
    background: #2196f3;
    color: #fff;
    border: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 10px;
	margin-right: 1px;
	transition: 0.3s;
}
.TabsProf .nav-tabs .nav-link:hover{
	background: #032157;
}
 .TabsProf .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #fff;
    border-color: inherit;
    background: #133068;
}
.TabsProf .tab-content{
	padding: 20px;
    border: 1px #ccc solid;
}

