.container{
    width: 1200px;
    margin: 0 auto;
    background: rgb(217 224 132);
}
img{
    width: 900px;
    height: 500px;
    padding-top: 10px;
}
.block {
    padding: 0 150px ;
    padding-bottom: 15px;
}
p{
    font-size: 25px;
    text-align: center;
    color: #0b0ad0;
    font-style: italic;
    margin: 0;
}