* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1020px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #36aeae;
}

header .logo {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 10px;
  color: #fff;
  float: left;
}

header .logo:hover {
  color: #ccc;
}

header .nav-menu {
  float: right;
}

header .nav-menu li {
  list-style: none;
  display: inline-block;
}

header .nav-menu li a {
  position: relative;
  display: inline-block;
  padding: 20px 10px;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

header .nav-menu li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .nav-menu li a:hover {
  color: #ccc;
}

header .nav-menu li a:hover::after {
  width: 100%;
}

section {
  background-color: #a5a6a7;
  padding: 50px 0;
}

section .content-wraper {
  background-color: #d5dfe6;
  border-radius: 5px;
  padding: 20px 10px;
  float: left;
  max-width: 300px;
  margin: 20px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section .content-wraper:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #fff;
}

section .content-wraper .image-wraper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
}

section .content-wraper .image-wraper img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section .content-wraper .image-wraper:hover .text-wraper {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

section .content-wraper .image-wraper:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

section .content-wraper .image-wraper .text-wraper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rbga(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section .content-wraper .image-wraper .text-wraper .image-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

section .content-wraper .content-title {
  font-family: sans-serif;
  font-size: 17px;
  text-align: center;
  color: #18181d;
  margin-bottom: 20px;
}

section .content-wraper .content-desc {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
  word-break: break-all;
  padding: 0 15px;
}

section .content-wraper .content-btn {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #2681d6;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section .content-wraper .content-btn:hover {
  background: #1f5383;
}

footer {
  padding: 20px 0;
  background-color: #000;
}

footer .logo {
  font-family: sans-serif;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

footer .copyr {
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  float: right;
}
/*# sourceMappingURL=style.css.map */