@media (min-width: 1440px){
    .page .container {
        max-width: 1110px;
    }
}
@media (max-width: 1299px){
    .blog {
        padding-left: 100px;
    }
    .coment-text {
        left: 100px;
    }

    .others {
        padding: 55px 55px 59px 82px
    }
    .kindof {
        width: 65%;
    }
    .kind .visit {
        padding-top: 12px;
        padding-bottom: 30px;
    }
    .kind {
        padding-left: 25px;
    }
    .kind h2 {
        width: 66%;
    }
}
@media (max-width: 1199px){
    .coment-text {
        bottom: 15px;
        left: 0px;
        width: 78%;
    }
    .blog {
        padding-left: 0;
    }
    .photograf .content-text h4 {
        font-size: 36px;
        line-height: 50px;
    }
    .phorma button {
        right: 70px;
    }
    .kindof {
        width: 85%;
    }
    .kind h2 {
        width: 90%;
    }
    .others {
        padding-bottom: 132px;
    }
    .meet {
        right: -145px;
    }
}
@media (max-width: 991px){
    .menu{
        display: none;
    }
    .responsive-menu{
        display: block;
    }
    .responsive-menu i {
        font-size: 48px;
        color: #444444;
        padding: 10px 20px 0 0;
        transition: 2s;
    }
    .responsive-menu i:hover{
        color: rgb(68, 68, 68,0.5);
        transform: scale(1.1);
    }
    .logo {
        position: static;
        width: 40%;
    }
    .logo_resp {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .banner {
        padding: 50px 0 100px;
    }
    .banner-block {
        padding: 0;
    }
    .banner-block h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .banner .banner-block h1 span {
        font-size: 40px;
        line-height: 60px;
    }
    .banner-block p {
        padding-bottom: 45px;
    }
    .block1{
        padding-top: 20px;
    }
    .meet {
        right: -185px;
        padding: 20px 0 30px 20px;
    }
    .meet h3 {
        padding-bottom: 0;
    }
    .blog {
        text-align: center;
    }
    .blog h2 {
        font-size: 35px;
        line-height: 40px;
        padding-bottom: 25px;
    }
    .coment-text {
        bottom: 35px;
        left: 0px;
        width: 78%;   
    }
    .coment-text h3 {
        font-size: 20px;
        line-height: 30px;
        padding: 12px 20px 0 0;
    }
    .coment-text p {
        font-size: 12px;
        line-height: 22px;
        padding-right: 5px;
    }
    .coment-text h4 {
        font-size: 14px;
        line-height: 16px;
    }
    .coment-text span {
        font-size: 10px;
        line-height: 23px;
    }
    .photo-text h4 {
        font-size: 12px;
        line-height: 17px;
    }
    .photo-text p {
        font-size: 10px;
        line-height: 2px;
    }
    .photo-text {
        height: 50%;
    }
    .photo-text-2 h4 {
        font-size: 14px;
        line-height: 0px;
        padding-bottom: 26px;
        text-align: center;
    }
    .photo-text-2 p {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 0px;
    }
    .photo_3 {
        padding: 28px 65px 40px 37px;
    }
    .photograf .content-text h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .photograf .content-text .lorem {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .photograf .resours a {
        font-size: 14px;
        line-height: 10px;
    }
    .resours p {
        font-size: 10px;
        line-height: 14px;
    }
    .photograf .content-text {
        padding: 18px 30px 12px;
    }
    .block2 {
        padding-bottom: 350px;
    }
    .block2-img {
        padding-bottom: 0;
    }
    .block3 h2 {
        font-size: 35px;
        line-height: 0px;
        padding-top: 280px;
    }
    .box-prise {
        padding: 12px 15px 10px 15px;
    }
    .box-prise h4 {
        font-size: 12px;
        line-height: 18px;
    }
    .box-prise h3 {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 40px;
        line-height: 27px;
        color: #000000;
        padding-bottom: 15px;
    }
    .box-prise h3 {
        font-size: 35px;
        line-height: 15px;
    }
    .box-prise p {
        padding-right: 15px;
    }
    .box-prise button {
        line-height: 15px;
    }
    .others {
        padding-top: 20px;
    }
    .others h2,
    .kind h2 {
        font-size: 25px;
        padding-bottom: 35px;
    }
    .kindof p {
        font-size: 12px;
        line-height: 20px;
    }
    .kindof h3 {
        font-size: 16px;
        line-height: 16px;
    }
    .kindof a {
        font-size: 12px;
        line-height: 22px;
    }
    .others {
        padding-bottom: 148px;
    }
    .girl-coment {
        left: -62px;
        width: 70%;
        padding: 20px 20px 0px 25px;
    }
    .girl-coment h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .girl-coment p {
        font-size: 10px;
        line-height: 18px;
    }
    .girl-coment h4 {
        font-size: 10px;
        line-height: 20px;
    }
    .girl-photo button {
        font-size: 10px;
        line-height: 15px;
    }
    .file-title h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .file-title h2 {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .phorma form {
        width: 92%;
    }
    .block123 ul li a {
        font-size: 9px;
        line-height: 14px;
    }
    .block123 h3 {
        font-size: 14px;
        line-height: 14px;
        padding-left: 20px;
    }
    .block123 ul li {
        padding-left: 20px;
    }
    .view button {
        font-size: 10px;
        line-height: 10px;
    }
    .lastblock {
        padding: 50px 0 0;
    }
}
@media (max-width: 767px){
    .responsive-menu i {
        font-size: 40px;
        padding: 10px 20px 0 0;
    }
    .search-form button {
        width: 35%;
        font-size: 12px;
    }
    .input-search {
        font-size: 12px;
    }
    .banner .banner-block h1 span {
        font-size: 35px;
    }
    .banner-block h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .banner-block p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 10px;
    }
    .banner-block button {
        font-size: 16px;
        line-height: 20px;
    }
    .banner .banner-block button span {
        font-size: 10px;
    }
    .banner {
        padding: 30px 0 70px;
    }
    .meet {
        position: static;
    }
    .canhelp h3 {
        font-size: 20px;
    }
    .block1 li a {
        font-size: 12px;
        line-height: 22px;
    }
    .blog h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .coment-text {
        height: 33%;
    }
    .block2-img {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .photo-text {
        height: 40%;
        width: 58%;
    }
    .photo-text-2 h4 {
        font-size: 20px;
    }
    .photo-text-2 p {
        font-size: 16px;
        line-height: 25px;
    }
    .photo_3 {
        padding: 70px 77px 80px 77px;
        width: 100%;
    }
    .photograf .content-text h4 {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 8px;
    }
    .photograf .content-text .lorem {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 0px;
    }
    .photograf .content-text {
        width: 62%;
    }
    .photograf {
        margin: 20px;
    }
    .photo_1 {
        width: 100%;
    }
    .photo_2 img,
    .photo_2{
        width: 100%;
    }
    .photo-text h4 {
        font-size: 14px;
        line-height: 25px;
    }
    .photo-text {
        padding-right: 76px;
    }
    .photo-text p{
        padding-bottom: 10px;
    }
    .coment {
        padding-bottom: 66px;
    }
    .resours:before {
        top: 14px;
        left: 12px;
    }
    .resours p {
        padding: 5px 0 5px 60px;
    }
    .photograf .resours a {
        padding: 5px 0 0 60px;
    }
    .block2 {
        padding-bottom: 260px;
    }
    .block3 h2 {
        font-size: 25px;
        padding-top: 250px;
    }
    .box-prise {
        padding: 35px;
        margin: 20px;
    }
    .info {
        padding: 0;
    }
    .info {
        padding: 0px 0 0px 0px;
    }
    .info-button {
        padding-top: 15px;
        padding-bottom: 20px;
        text-align: left;
    }
    .others {
        position: static;
        padding-bottom: 70px;
    }
    .others h2 {
        padding-top: 20px;
        text-align: center;
    }
    .girl-coment {
        padding: 30px 34px 30px 30px;
    }
    .girl-coment {
        width: 60%;
    }
    .girl-photo button {
        right: 110px;
    }
    .kind {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .kind h2{
        width:auto;
    }
    .phorma button {
        right: 10px;
    }
    .file-title h2 {
        font-size: 25px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .file-title h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .block123 {
        margin-bottom: 30px;
    }
    .block123 ul li a {
        font-size: 14px;
    }
    .block123 h3 {
        font-size: 16px;
    }
    .view button {
        font-size: 14px;
    }
    .file {
        padding: 50px 0;
    }
    .block123 ul {
        padding-bottom: 25px;
    }
    .logo-footer p {
        font-size: 13px;
        line-height: 20px;
    }
    .submenu-footer li a {
        font-size: 12px;
        line-height: 12px;
    }
    .submenu-footer h4 {
        font-size: 15px;
        line-height: 10px;
        padding-top: 20px;
    }
    .menu-footer {
        padding-bottom: 20px;
    }
    .lastblock {
        padding-top: 18px;
    }
    .logo-footer {
        display: flex;
    }
    .logo-f-img {
        padding: 30px 10px 0 40px;
    }
}
@media (max-width: 500px){
    .logo {
        width: 20%;
    }
    .search-form button {
        left: 159px;
        width: 25%;
    }
    .banner {
        padding: 10px 0 30px;
    }
    .banner .banner-block h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .banner .banner-block h1 span {
        font-size: 30px;
    }
    .banner-block p {
        font-size: 14px;
        line-height: 22px;
    }
    .banner-block button {
        font-size: 14px;
        line-height: 17px;
    }
    .meet h3 {
        font-size: 18px;
        line-height: 15px;
    }
    .meet p {
        font-size: 12px;
        line-height: 20px;
    }
    .text33 {
        padding-right: 160px;
    }
    .meet button {
        font-size: 12px;
        right: 135px;
        padding: 10px 12px;
    }
    .page h2{
        font-size: 20px;
    }
    .page h3{
        font-size: 16px;
    }
    .photograf .content-text {
        width: 65%;
        margin-top: 100px;
    }
    .photograf {
        padding: 0;
        margin: 0 20px;
    }
    .photograf .content-text h4 {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .block3 h2 {
        padding-top: 182px;
    }
    .block3 .box-prise span {
        font-size: 12px;
        line-height: 20px;
    }
    .girl-photo button {
        right: -18px;
    }
    .phorma button {
        font-size: 12px;
    }
    .phorma .input-search2 {
        font-size: 12px;
    }
    .phorma button {
        right: -5px;
    }
    .box-prise {
        padding: 25px 0 10px 20px;
    }
    .girl-coment {
        width: 80%;
    }
    .phorma {
        padding-bottom: 32px;
    }
    .block123 ul li a {
        font-size: 12px;
    }
    .copyright {
        padding-top: 12px;
    }
    .file {
        padding: 25px 0;
    }
    .copyright p {
        padding-right: 6px;
    }
    .photo-text h4 {
        line-height: 20px;
    }
    .photo-text {
        padding-right: 50px;
    }
    .block3 h2 {
        padding-bottom: 20px;
    }
}
@media (max-width: 470px){
    .meet button {
        font-size: 10px;
        right: 80px;
    }
    .coment-text h4{
        padding-right: 0;
    }
    .coment-text {
        height: 46%;
    }
    .photo-text {
        padding-right: 20px;
    }
    .photo_3 {
        padding: 50px 77px 60px 77px
    }
    .resours {
        width: 100%;
    }
    .photograf .resours a {
        font-size: 12px;
        line-height: 0px;
    }
    .resours p {
        font-size: 8px;
        line-height: 10px;
    }
    .photograf {
        background-position: center;
    }
    .phorma button {
        right: -20px;
    }
    .block2-img {
        padding-bottom: 10px;
    }
}

