*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
html,
body{
    height: 100%; 
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.page{
    font-family: 'Poppins', sans-serif;
}
/*HEADER*/
.header{
    position: relative;
}
.responsive-menu{
    display: none;
}
.menu li a i{
    color: #524B9A;
    font-size: 18px;
}
.menu li a i:hover{
    opacity: 0.5;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    transition: 400ms ease-in-out;
}
.menu ul li:hover{
    transform: scale(1.1) translate(2%);
}
.menu ul li a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}
.menu ul li a:hover{
    color: #F55F39;
    text-decoration: none;
}
.logo{
    position: absolute;
    width: 65%; 
}
.logo:hover{
    opacity: 0.5;
}
.search{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.search .search-form{
    position: relative;
    width: 100%;
}
.input-search{
    padding: 10px 0 10px 50px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid rgba(217, 217, 217, 1);
}
.input-search:focus{
    outline: none;
}
.search-form button{
    position: absolute; 
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: none;
    background: #B8BDC9;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(224, 224, 224, 1);
}
.search-form button:focus{
    outline: none;
}
.search-form button:hover{
    background: #F55F39;
}
.search .search-form:before{
    content: "";
    background: url("../img/Group.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 10px;
    width: 50%; 
    height: 50%;
}
/*BANNER*/
.banner{
    background: url(../img/banner.png) center / cover no-repeat;
    height: 100%;
}
.banner-block{
    padding: 155px 0 177px 50px;
}
.banner-block h1{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 49px;
    line-height: 65px;
    color: #444444;
}
.banner .banner-block h1 span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 49px;
    line-height: 65px;
    color: #2BCA8B;
    border-bottom:  4px solid #2BCA8B;
}
.banner-block p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    line-height: 37px;
    color: #444444;
    padding-bottom: 97px;
   
}
.banner-block button{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    color: #4D4D4D;
    padding: 5px 25px;
    background: #ffff;
    border: none;
    transition: 1s;
}
.banner-block button:focus{
    outline: none;
}
.banner .banner-block button span{
    font-size: 14px;
    text-transform: capitalize;
    color: #4D4D4D;
}
.banner .banner-block button:hover{
    background: #F55F39;
    color: #ffff;
    cursor: pointer;
}
/*BLOCK1*/
.block1{
    padding: 50px 0 56px;
    position: relative;
}
.canhelp h3{   
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #2BCA8B;
}
.block1 li{
    list-style: none;
}
.block1 li a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #252061;
}
.block1 li a:hover{
    color: #F55F39;
    text-decoration: none;
}
.meet{
    background: url(../img/phon2.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: -204px;
    bottom: 0;
    padding: 37px 0 50px 37px;
}
.meet h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 26px;
}
.meet p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.img-people img{
    border-radius: 10px;
}
.img-people{
    position: relative;
}
.photo3{
    padding-left: 30px;
}
.img-people:after{
    content: url("../img/2.png");
    position: absolute;
    top: 10px;
    left: 60px;
}
.meet button{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    background: #2BCA8B;
    bottom: 20px;
    right: 170px;
    padding: 12px 15px;
    border: none;
}
.meet button:focus{
    outline: none;
}
.meet button:hover{
    background: #F55F39;
}
.text33 {
    padding-right: 200px;
    position: relative;
}
/*BLOCK2*/
.block2{
    position: relative;
    padding-bottom: 500px;
}
.blog h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 52px;
    line-height: 49px;
    color: #444444;
    padding-bottom: 60px;
}
.block2 .blog span{
    border-bottom: 4px solid #F55F39;
    color: #F55F39;
}
.blog {
    padding-left: 84px;
}
.coment{
    position: relative;
    padding-bottom: 135px;
    display: flex;
    justify-content: flex-end;
}
.coment-text{
    position: absolute;
    bottom: 0;
    left: 83px;
    background: #ffff;
    z-index: 1;
    width: 68%;
    height: 50%;
}
.coment-text h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #252061;
    padding: 28px 20px 0 0;
}
.coment-text p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #969696;
    padding-right: 45px;
}
.coment-text h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #252061;
    padding-left: 10px;
    padding-right: 40px;
}
.coment-text span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #252061;
}
.name-robert{
    display: inline-block;
}
.img-robert{
    display: inline-block;
}
.photo_1{
    padding-bottom: 30px;
}
.photo_2{
    position: relative;
    padding-bottom: 30px;
}
.photo-text{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffff;
    width: 68%;
    height: 46%;
}
.photo-text p{ 
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #929292;
    padding: 10px 0 4px 17px;
    margin: 0;
}
.photo-text h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #252061;
    padding-right: 55px;
}
.photo_3{
    background: url(../img/phon2.png) no-repeat;
    background-size: cover;
    padding: 45px 120px 40px 60px;
}
.photo-text-2{
    display: inline-block;
}
.photo-text-2 h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 26px;  
}
.photo-text-2 p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 19px;
}
.photo-text-2 button{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: capitalize;
    color: #F55F39;
    background: none;
    border: none;
}
.photo-text-2 button:focus,
.photo-text-2 button:hover{
    outline: none;
    color: rgb(245, 94, 56,0.5);
    cursor: pointer;
}
.block2-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 100px;
}
.photograf{
    background: url("../img/phot.png") no-repeat; 
    background-size: cover; 
    padding: 180px 0 0; 
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 0;
}
.photograf .content-text{
    background: #352F77;
    width: 48%;
    padding: 49px 52px 25px ;
}
.photograf .content-text h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    padding-bottom: 22px;
}
.photograf .content-text .lorem{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.resours{
    background: #2BCA8B;
    width: 85%;
    position: relative;
}
.photograf .resours a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 5px 0 0 80px;
}
.photograf .resours a:hover{
    text-decoration: none;
    color:#F55F39;
}
.resours p{
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 23px;
    color: #FFFFFF;
    padding: 5px 0 0 80px;
}
.resours:before{
    content: url("../img/Vector.png");
    position: absolute;
    top: 20px;
    left: 25px;
}
/*BLOCK3*/
.block3{
    background: url(../img/phon3.png) no-repeat;
    background-size: cover;
}
.block3 h2{
    padding-top: 340px; 
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 52px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 62px;
}
.box-prise{
    background: #ffff;
    padding: 41px 0 20px 41px;
    transition: 2s;
}
.box-prise h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #183EB6;
    padding-bottom: 10px;
}
.box-prise h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 55px;
    line-height: 34px;
    color: #000000;
    padding-bottom: 15px;
}
.block3 .box-prise span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #000000;
}
.box-prise ul{
    padding-bottom: 20px;
}
.box-prise ul li{
    list-style: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 10px;
}
.box-prise ul i{
    color: #1FDB6A;
    padding-right: 5px;
}
.box-prise button{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #1FDB6A;
    padding: 12px 25px;
    border: none; 
}
.box-prise button:focus{
    outline: none;
}
.box-prise button:hover{
    background: #F55F39;
    cursor: pointer;
}
.box-prise p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    color: #9DA0AC;
    padding-top: 21px;
    padding-right: 100px;
}
.box-prise:hover{
    transform: scale(1.1);
}
.info{
    padding: 70px 0 149px
    50px;
}
.info h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 21px;
    line-height: 23px;
    color: #FFFFFF;
}
.info i{
    color: #ffff;
    font-size: 14px;
    padding-right: 10px;
}
.info p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 16px;
}
.info-button{
    padding-top: 97px;
    text-align: center;
}
.info-button button{  
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
    background: none;
    border: none;
}
.info-button button:focus{
    outline: none;
}
.info-button button:hover{
    color: #F55F39;
    cursor: pointer;
}
/*SAY*/
.say{
    position: relative;
    background: #F0F0F0;
}
.others{
    position: absolute;
    top: -10%;
    left: 0;
    background: #ffff;
    z-index: 1;
    padding: 55px 55px 59px 205px;
}
.others h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #444444;
    padding-bottom: 49px;
}
.say .others span{
    color: #2BCA8B;
    border-bottom: 4px solid #2BCA8B;
}
.girl-photo{
    position: relative;
}
.girl-photo img{
    box-shadow: 6px 12px 24px -3px rgb(194 194 194);
}
.girl-coment{
    position: absolute;
    bottom: 0px;
    left: -62px;
    width: 61%;
    background: #ffff;
    padding: 30px 34px 30px 30px;
}
.girl-coment h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #524B9A;
}
.girl-coment p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #050505;
}
.girl-coment h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #524B9A;
}
.girl-photo button{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    background: rgba(43, 202, 139, 1);
    position: absolute;
    bottom: 35px;
    right: -8px;
    padding: 12px 25px;
    border: none;
}
.girl-photo button:focus{
    outline: none;
}
.girl-photo button:hover{
    background: #F55F39;
    cursor: pointer;
}
.kind h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #444444;
    width: 50%;
    padding-bottom: 42px;
    padding-top: 50px;
}
.say .kind span{
    color: #2BCA8B;
    border-bottom: 4px solid #2BCA8B;
}
.kindof{
    width: 50%;
    position: relative;
}
.kindof h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #524B9A;
    border-top: 2px solid #DADADA;;
    padding-top: 20px;
}
.kindof p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #363636;
    padding-right: 30px;
}
.kindof a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #4163AC;  
}
.kindof a:hover{
    text-decoration: none;
    color:#F55F39 ;
}
.kind .visit a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-transform: capitalize;
    color: #F55F39;
}
.kind .visit{
    padding-top: 30px;
    padding-bottom: 55px;
}
.kind .visit a:hover{
    text-decoration: none;
    color:rgb(245, 94, 56,0.5);
}
.kindof button{
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 24px;
    border: none;
}
.kindof button:focus{
    outline: none;
}
.kindof button:hover{
    color:#F55F39;
    cursor: pointer;
}
/*FILE*/
.file{
    padding: 100px 0;
}
.file-title h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 49px;
    text-align: center;
    color: #444444;
}
.file-title h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 52px;
    line-height: 49px;
    text-align: center;
    color: #444444;
    padding-bottom: 62px;
}
.phorma{
    padding-bottom: 60px;
} 
.phorma form{
    position: relative;
     display: flex;
    justify-content: center;
}
.phorma form:before {
    content: "";
    background: url("../img/Group.png") no-repeat;
    position: absolute;
    top: 15px;
    right: 162px;
    width: 50%; 
    height: 50%;
}
.phorma .input-search2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(224, 224, 224, 1);
    padding: 14px 122px 14px 68px;
    border: 2px solid rgba(157, 160, 172, 1);
    border-radius: 3px 0px 0px 3px;
}
.phorma .input-search2:focus{
    outline: none;
}
.phorma form{
    position: relative;
}
.phorma button{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(224, 224, 224, 1);
    background: rgba(43, 202, 139, 1);
    padding: 15px 57px 17px 57px ;
    position: absolute;
    top: 0;
    right: 122px;
    border: none;
    border-radius: 0px 3px 3px 0px;
}
.phorma button:focus{
    outline: none;
}
.phorma button:hover{
    cursor: pointer;
    background: #F55F39;
}
.block123{
    border: 3px solid #E6E8EE;
    padding-top: 29px;
   
}
.block123 h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #252061;
    padding-left: 30px;
}
.block123 ul{
    padding-bottom: 53px;
}
.block123 ul li{
    list-style: none;
    padding-left: 30px;
}
.block123 ul li a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #F55F39;
}
.block123 ul li a:hover{
    opacity: 0.5;
    text-decoration: none;
}
.block123 li a i{
    color: #252061;
    padding-right: 10px;
}
.view{
    background: #EEF1F6;
    padding-left: 30px;
}
.view button{  
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 11px;
    line-height: 23px;
    color: #252061;
    background: none;
    border: none;
    padding-top: 16px;
    padding-bottom: 14px;
}
.view button:focus{
    outline: none;
}
.view button:hover{
    cursor: pointer;
    color: rgb(37, 32, 97,0.5);
}
/*FOOTER*/
.lastblock{
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
    padding: 130px 0 80px;
}
.logo-footer p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 25px;
}
.logo-footer a img{
    transition: 2s;
}
.logo-footer a img:hover{
    transform: scale(1.1);
}
.submenu-footer{
    display: inline-block;
}
.menu-footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 49px;
}
.submenu-footer h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.submenu-footer li{
    list-style: none;
}
.submenu-footer li a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #ABA8CA;
}
.submenu-footer li a:hover{
    text-decoration: none;
    color: #F55F39;
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
}
.copyright p{
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    padding-right: 10px;
}
.copyright a{
    color: #F55F39;
}
.copyright a:hover{
    color: rgb(245, 95, 57,0.5);
    text-decoration: none;
}