@media (min-width: 1200px) {
  .for-page .container {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .clients-img {
    width: 200px;
  }
  .form-btn {
    margin-left: 365px;
  }

  .youtube {
    height: 520px;
  }
}

@media (max-width: 991px) {
  .responsive-menu {
    display: block;
  }

  .responsive-menu i {
    font-size: 33px;
    color: #34547a;
    transition: 0.3s;
    cursor: pointer;
  }
  .responsive-menu i:hover {
    color: #035ed4;
  }
  .nav-menu {
    display: none;
  }

  .parent-responsive-menu {
    display: flex;
    justify-content: space-between;
  }

  .banner {
    padding: 50px 0;
  }

  .banner-img {
    text-align: center;
  }

  .parent-text {
    text-align: center;
    margin-top: 20px;
  }

  .parent-text h1 {
    margin-bottom: 10px;
    font-size: 40px;
  }

  .parent-text p {
    margin-bottom: 41px;
  }

  .btn-banner {
    padding: 14px 22px;
  }

  .youtube {
    height: 380px;
  }

  .projects-item {
    margin-bottom: 20px;
  }

  .gallery .fancy-child {
    width: 50%;
  }

  .clients-img {
    width: 200px;
    margin: 0 auto;
  }

  .form-btn {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .youtube {
    height: 280px;
  }

  .form-btn {
    margin-left: 160px;
  }

  .form-name input,
  .form-email input {
    padding: 17px 61px 18px 20px;
  }

  .form-message textarea {
    padding: 23px 335px 100px 40px;
  }
  footer {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .parent-text h1 {
    font-size: 35px;
  }

  .youtube {
    height: 240px;
  }

  .gallery .fancy-child {
    width: 100%;
  }

  .clients-img {
    width: 200px;
    margin: 0 auto;
  }

  .form-content {
    display: grid;
  }

  .form-name {
    margin-bottom: 25px;
    margin-right: 0;
  }

  .form-btn {
    margin-left: 130px;
  }

  .form-name input,
  .form-email input {
    padding: 17px 61px 18px 20px;
  }

  .form-message textarea {
    padding: 23px 150px 100px 40px;
  }
}

@media (max-width: 470px) {
}
