body {
    background-color: rgb(19, 146, 146);
}

.square {
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    left: 10px;
    top: 10px;
    animation-timing-function: linear;
    -webkit-animation: move 20s;
}

@-webkit-keyframes move {
    0% {
        background-color: navajowhite;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: sandybrown;
        left: 1220px;
        top: 0px;
    }

    50% {
        background-color: yellow;
        left: 1220px;
        top: 800px;
    }

    75% {
        background-color: tomato;
        left: 0px;
        top: 800px;
    }

    100% {
        background-color: midnightblue;
        left: 0px;
        top: 0px;
    }
}

.text {
    font-size: 75px;
    font-family: impact;
    position: absolute;
    color: oldlace;
    left: 475px;
    top: 150px;
    -webkit-animation: fade 7s;
}

.second {
    display: inline-block;
    width: 800px;
    height: 800px;
    padding-top: 400px;
}

.picture {
    width: 400px;
    height: 700px;
    padding-top: 700px;
    filter: opacity(55%);
}

.picture:hover {
    filter: grayscale(85%);
    -webkit-filter: grayscale(85%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.click {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(207, 115, 250, 0.84), rgba(38, 14, 70, 0.84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(111, 52, 138, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: impact;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.3em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
}

.click:hover {
    background-image: linear-gradient(#e2a2ff, #110520 50%);
}