body {
    margin: 0;
    padding: 0;
}

@keyframes sprite {
    to {
        background-position: -8640px;
    }
}

.console {
    height: 1024px;
    width: 1240px;
    background:url("https://i.imgur.com/zLh2Pgs.png");
    transform: tran3slate(-25%, -25%) scale(0.5);
    animation: sprite 1.5s steps(7) infinite;
    -webkit-animation: sprite 1.5s steps(6) infinite;
    -webkit-transform: tran3slate(-25%, -25%) scale(0.5);
    -moz-transform: tran3slate(-25%, -25%) scale(0.5);
    -ms-transform: tran3slate(-25%, -25%) scale(0.5);
    -o-transform: tran3slate(-25%, -25%) scale(0.5);
}