/*responsive*/
@media (min-width: 1200px){
    .for_page .container{
        max-width: 1725px;
    }
    
}
@media (max-width: 1200px){
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-menu{
        display: none;
    }
    .responsive-menu{
        display: block;
    }
    .banner{
        padding-top: 100px;
    }
    .banner-text{
        margin-top: 0;
    }
    .workout-text h1{
        font-size: 54px;
    }
    .workout-text span{
        font-size: 54px;
    }
    .workout-text p{
        font-size: 18px;
    }
    .btn-workout{
        display: flex;
    }
    .exersices-text{
        margin-top: 0;
    }
    .meals{
        padding-top: 235px;
    }
    .meals-text{
        margin-top: -189px;
    }
}
@media (max-width: 991px){
    .meals{
        padding-top: 90px;
    }
    .meals-text{
        margin-top: -83px;
    }
    .heart{
        text-align: center;
        margin-bottom: 20px;
    }
    .calories{
        text-align: center;
        margin-bottom: 20px;
    }
    .steps{
        text-align: center;
    }
    .exersices{
        padding: 0;
    }
}
@media (max-width: 767px){
    .banner{
        padding-top: 41px;
    }
    .banner-text h1{
        font-size: 45px;
    }
    .fit p{
        max-width: none;
    }
    .yoga{
        margin-top: 61px;
    }
    .running{
        margin-top: 55px;
    }
    .cycling{
        margin-top: 57px;
    }
    .workout{
        padding: 15px 0;
    }
    .exersices-text h1{
        font-size: 48px;
    }
    .exersices-text span{
        font-size: 48px;
    }
    .performance-title h1{
        font-size: 48px;
    }
    .performance-title span{
        font-size: 48px;
    }
    .performance-text h1{
        font-size: 48px;
    }
    .performance-text span{
        font-size: 48px;
    }
    .meals-text h1{
        font-size: 48px;
    }
    .meals-text span{
        font-size: 48px;
    }
    .indicators{
        padding-top: 65px;
        padding-bottom: 51px;
    }
}
@media (max-width: 576px){
    .meals{
        padding-top: 145px;
    }
}
@media (max-width: 400px){
    .btnBanner{
        padding: 16px 27px;
        font-size: 25px;
    }
    .btnActivity{
        padding: 12px 22px;
    }
    .meals{
        padding-top: 145px;
    }
    .meals-text{
        margin-top: -28px;
    }
}