/*css*/
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
a{
    text-decoration: none;
}
.responsive-menu{
    display: none;
}
.logo{
    cursor: pointer;
}
.header{
    background: white;
}
.menu{
    padding: 40px 0;
    display: flex;
    justify-content: end;
    line-height: 68px;
}
.nav-menu ul.sub-menu {
    display: flex;
    list-style: none;
}
.nav-menu ul.sub-menu li a{
    padding: 15px 50px;
    font-size: 21px;
    font-weight: 600;
    color: #4E7D96;
    border-radius: 40px;
    transition: 0.5s; 
    margin-right: 18px;
}
.nav-menu ul.sub-menu li a:hover{
    background: #4E7D96;
    color: white;
    border-radius: 40px;
    text-decoration: none;
}
/*banner*/
.page{
    background: url(../img/bg.png);
    
    background-repeat: round;
}
.banner{
    
    position: relative;
    overflow: hidden;
    padding-bottom: 74px;
}
.banner:before{
    content: url(../img/vector.png);
    position: absolute;
    top: -147px;
    left: 0;
}
.banner-text{
    margin-top: 156px;
}
.banner-text h1{
    font-size: 68px;
    font-weight: 600;
    max-width: 827px;
    color: #ffffff;
}
.banner-text p{
    font-size: 20px;
    color: white;
    font-weight: 600;
    max-width: 638px;
    margin-top: 22px;
    margin-bottom: 25px;
    
}
.adv h2{
    font-size: 36px;
    color: white;
    display: flex;
    margin-left: 20px;
}
.adv{
    margin-bottom: 30px;
}
.advantage{
    display: -webkit-inline-box;
    margin-right: 40px;
}
.timer{
    display: -webkit-inline-box;
}
.btnBanner{
    background: #4E7D96;
    color: white;
    padding: 16px 70px;
    border-radius: 60px;
    font-size: 36px;
    transition: 0.4s;
}
.btnBanner:hover{
    text-decoration: none;
    background: #ffffff;
    color: #4E7D96;
}


/*banner*/

/*activity*/
.activity .container{
    padding: 0 90px;
}
.activity{
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}
.activity:before{
    content: url(../img/vector2.png);
    position: absolute;
    top: 160px;
    left: 0;
}
.activity-title{
    text-align: center;
    margin-bottom: 60px;
    
}
.activity-title h1{
    font-size: 68px;
    color: #4E7D96;
}
.activity-title span{
    font-size: 68px;
    color: #99bccf;
}
.fit{
    text-align: center;
    border-radius: 14px;
    background: #f1f6fa;
    padding-top: 30px;
    padding: 30px 30px 0px 30px;
    display: inline-block;
}
.fit h3{
    color: #4E7D96;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 25px;
    
}
.fit p{
    color: #4E7D96;
    font-size: 14px;
    max-width: 240px;
    padding-bottom: 97px;
    margin: 0 auto;
}
.btnActivity{
    color: white;
    background: #4E7D96;
    transition: 0.4s;
    border-radius: 40px;
    padding: 12px 35px;
}
.btnActivity:hover{
    text-decoration: none;
    background: #88a7ff;
    color: #ffffff;
}
.yoga{
    margin-top: 190px;
}
.cycling{
    margin-top: 190px;
}
/*activity*/

/*workout*/
.workout{
    padding: 70px 0;
}
.workout-text h1{
    font-size: 68px;
    color: #4E7D96;
}
.workout-text span{
    color: #99bccf;
    font-size: 68px;
}
.workout-text p{
    font-size: 20px;
    color: #99bccf;
    max-width: 638px;
}
.btn-workout{
    margin-top: 30px;
}
.btnWorkout{
    background: #4E7D96;
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 32px;
    margin-right: 25px;
}
.btnWorkout:hover{
    text-decoration: none;
    background: #88a7ff;
    color: #ffffff;
}
.btnWorkout2{
    border: solid 3px #4E7D96;
    border-radius: 30px;
    color: #4E7D96;
    padding: 7px 20px;
    font-size: 32px;
    transition: 0.4s;
    
}
.btnWorkout2:hover{
    text-decoration: none;
    background: #4E7D96;
    color: white;
}
/*workout*/

/*exersices*/
.exersices{
    padding: 70px 0;
}
.exersices-text{
    max-width: 638px;
    margin-top: 200px;
}
.exersices-text h1{
    font-size: 68px;
    color: #4E7D96;
}
.exersices-text span{
    color: #99bccf;
    font-size: 68px;
}
.exersices-text p{
    font-size: 20px;
    color: #99bccf;
    max-width: 638px;
    margin-bottom: 30px;
}
.exersicesBtn{
    background: #4E7D96;
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 32px;
    margin-right: 25px;

}
.exersicesBtn:hover{
    text-decoration: none;
    background: #88a7ff;
    color: #ffffff;
}
/*exersices*/

/*performance*/
.performance{
    padding-top: 70px;
    position: relative;
    overflow: hidden;
}
.performance:before{
    content: url(../img/vector\ \(4\).png);
    position: absolute;
}
.performance-title{
    text-align: center;
    margin-bottom: 100px;
}
.performance-title h1{
    font-size: 68px;
    color: #4E7D96;
}
.performance-title span{
    color: #99bccf;
    font-size: 68px;
}
.performance-text h1{
    font-size: 68px;
    color: #4E7D96;
}
.performance-text span{
    color: #99bccf;
    font-size: 68px;
}
.performance-text p{
    font-size: 20px;
    color: #99bccf;
    max-width: 638px;
}
.performance-btn{
    margin-top: 30px;
}
.btnPerformance{
    background: #4E7D96;
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 32px;
}
.btnPerformance:hover{
    text-decoration: none;
    background: #88a7ff;
    color: #ffffff;
}
.meals{
    padding-top: 160px;
}
.meals-text h1{
    font-size: 68px;
    color: #4E7D96;
}
.meals-text span{
    color: #99bccf;
    font-size: 68px;
}
.meals-text p{
    font-size: 20px;
    color: #99bccf;
    max-width: 638px;
}
.btnMeals{
    background: #4E7D96;
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 32px;
    
}
.meals-btn{
    margin-top: 30px;
}
.btnMeals:hover{
    text-decoration: none;
    background: #88a7ff;
    color: #ffffff;
}
.meals-img{
    margin-top: -188px;
}
.indicators{
    padding-top: 160px;
    padding-bottom: 120px;
}
/*performance*/

/*footer*/
.footer{
    padding: 40px 0;
    background: #4E7D96; 
}
.footer-links li {
    list-style: none;
    border-right: solid 1px #ffffff;
    margin-right: 8px;
}
.footer-links li:last-child{
    border: none;
}
.footer-links a{
    color: white;
    margin-right: 10px;
    transition: 0.3s;
}
.footer-links li a:hover{
    color: aqua;
    text-decoration: none;
}
.site{
    text-align: center;
    transition: 0.3s;
}
.site-link:hover{
    color: aqua;
    text-decoration: none;
}
.site-link{
    color: white;
}
.menu-footer{
    display: flex;
    justify-content: center;
}
.footer-social{
    text-align: center;
    margin-top: 20px;
}
.footer-social img{
    margin-right: 25px;
    cursor: pointer;
}
.copyright h3{
    font-size: 18px;
    color: #4E7D96;
}
.copyright{
    background: #cedce3;
    padding: 20px 0;
    text-align: center;
}
/*footer*/
.responsive-menu .fas{
    font-size: 36px;
}