@media (min-width: 1440px){
    .for_page .container {
        max-width: 940px;
    } 
}
@media (max-width: 1199px){
    .banner {
        padding: 305px 200px;
    }
    .header-icon a {
        padding-right: 10px;
    }
    .block4-title p {
        padding-bottom: 10px;
    }
    .block3-title p {
        padding-bottom: 12px;
    }
    .block3 {
        padding: 35px 0;
    }
    .input-name {
        margin-right: 18px;
    }
    .header-icon {
        left: 40px;
    }

}
@media (max-width: 991px){
    .logo {
        padding-top: 100px;
    }
    .logo a {
        font-size: 25px;
    }
    .navigation{
        padding-left: 0;
        padding-right: 0;
    }
    .header-icon {
        left: 30px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    .header-icon a {
        padding-right: 0;
    }
    .banner {
    padding: 205px 98px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .banner-btn a {
        padding: 9px 20px 9px;
    }
    .banner-btn {
        padding-top: 13px;
    }
    .block1-article {
        padding-bottom: 20px;
        text-align: center;
    }
    .block1-img {
        display: inline-block;
    }
    .block1-title h2 {
        font-size: 25px;
        line-height: 0px;
    }
    .block1-title p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .block1-article p {
        font-size: 14px;
    }
    .block2 {
        padding: 35px 0 35px;
    }
    .block2 h2 {
        font-size: 25px;
    }
    .block2 a {
        font-size: 14px;
    }
    .block3-title h2 {
        font-size: 25px;
        line-height: 0px;
    }
    .block3-title p {
        font-size: 16px;
    }
    .block3 {
        padding: 50px 0;
    }
    .block4 {
        padding: 50px 0 45px;
    }
    .input-name {
        margin-right: 13px;
    }
    .block4-title h2 {
        font-size: 25px;
        line-height: 0px;
    }
    .block4-title p {
        font-size: 16px;
        line-height: 20px;
    }
    .input-name, 
    .input-email {
        font-size: 14px;
    }
    .text-texterea {
        font-size: 14px;
    }
    .last-block {
        padding: 10px 0 0;
    } 
}
@media (max-width: 767px){
    .responsive_menu {
        display: flex;
        justify-content: center;
    }
    .responsive_menu i {
        font-size: 40px;
        color: #CF404D;
        cursor: pointer;
        padding-top: 20px;
        transition: 2s;
    }
    .responsive_menu i:hover{
        color: #FFFFFF;
        transform: scale(1.1);
        
    }
    .navigation,
    .header-icon{
        display: none
    }
    .logo {
        padding-top: 50px;
    }
    .logo a {
        font-size: 20px;
    }
    
    .banner {
        padding: 138px 20px;
    }
    .block1 {
        padding: 40px 0 0px;
    }
    .last-block p {
        font-size: 14px;
    }
    .block3 img:hover{
        transform: none;
    }

}
@media (max-width: 500px){
    .banner {
        padding: 68px 20px;
    }
    .banner-content h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .banner-content p {
        font-size: 14px;
        line-height: 0px;
    }
    .block1-title h2 {
        font-size: 19px;
    }
    .block1-title p {
        font-size: 14px;
        padding-bottom: 12px;
    }
    .block1-article {
        padding-left: 20px;
        padding-right: 20px;
    }
    .block1-img img {
        width: 55%;
    }
    .block1-img {
        max-width: 85px;
        height: 60px;
    }
    .block1-article h3 {
        font-size: 16px;
        line-height: 16px;
    }
    .block2 h2 {
        font-size: 19px;
    }
    .block2-btn {
        justify-content: flex-start;
    }
    .block2 a {
        padding: 8px 18px 12px;
    }
    .block2 {
        padding: 12px 0 17px;
    }
    
    .block3-title h2 {
        font-size: 19px;
        padding-bottom: 8px;
    }
    .block3-title p {
        font-size: 14px;
        padding-bottom: 0;
    }
    .block4-title h2 {
        font-size: 19px;
    }
    .block4-title p {
        font-size: 14px;
        line-height: 0px;
    }
    .input-name {
        margin-right: 10px;
    }
    .block4 {
        padding: 30px 0 30px;
    }
}
@media (max-width: 467px){
    .banner {
        padding: 135px 0px;
    }
    .banner-content h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .banner-btn a {
        padding: 9px 15px 9px;
        font-size: 14px;
    }
    .last-block p {
        font-size: 12px;
    }
}