* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}


.for_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #000000;
    font-family: 'Roboto-Regular', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}



// header
.header {

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 34px;

        .header_logo {

            a.header_logo {
                text-decoration: none;
                margin-right: 20px;
            }

            a.header_btn {
                text-decoration: none;
                padding: 10px 20px;
                background: #E8244F;
                border-radius: 12px;
                color: #fff;
                transition: all .8s ease;

                &:hover {
                    transition: all .8s ease;
                    background: #fff;
                    color: #E8244F;
                }

                &:active {
                    transition: all .8s ease;
                    background: #200df1;
                    color: #ffff00;
                }
            }
        }

        .header_nav {
            display: flex;

            .nav_menu .sub_menu {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 0;
        
                @media (max-width: 991px) {
                    display: none;
                }
            
                .item_menu {

                    .link_item_menu{
                        text-decoration: none;
                        margin-right: 34px;
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 1px;
                        transition: all 1s ease;
                        white-space: nowrap;
                        color: #fff;
    
                        &:hover {
                            color: #FF4A32;
                            transition: all 1s ease;
                        }
                    }

                    .link_item_menu.active {
                        color: #FF4A32;
                        transition: all 1s ease;
                    }
                }
            }
            
            .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
                margin-right: 20px;
            }

            a.header_icon {
                text-decoration: none;
                margin-left: 26px;

                @media (max-width: 991px) {
                    display: none;
                }

                div {
                    width: 22px;
                    height: 20px;
                }
            }
        }

        .header_icon {

            display: flex;
            padding-left: 5px;

            div {
                transition: .8s;

                &:hover {
                    transition: all .8s ease;
                    transform: rotate(1080deg);
                }
    
                @media (max-width: 991px) {
                    display: none;
                }
            }

            .user {
                margin-right: 20px;
            }
        }
    }
}

// welcome
.welcome {
    .welcome_container {

        .welcome_img {
            width: 533px;
            height: 533px;
            background: url(../img/main/welcome/Frame.png);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 auto;
            position: relative;

            @media (max-width: 570px) {
                width: 400px;
                height: 400px;
                background-size: cover;
            }

            @media (max-width: 470px) {
                width: 360px;
                height: 360px;
            }

            @media (max-width: 360px) {
                width: 250px;
                height: 250px;
            }

            .welcome_text {
                width: 900px;
                position: absolute;
                left: -230px;
                top: 30%;

                @media (max-width: 991px) {
                    left: -15%;
                    width: 650px;
                }

                @media (max-width: 767px) {
                    left: 8%;
                    width: 475px;
                }

                @media (max-width: 570px) {
                    top: 35%;
                    left: 17%;
                    width: 475px;
                }

                @media (max-width: 470px) {
                    top: 38%;
                    left: 20%;
                    width: 255px;
                }

                @media (max-width: 360px) {
                    left: 7%;
                }

                h3 {
                    font-size: 114px;
                    line-height: 125px;
                    color: #FFFFFF;

                    @media (max-width: 991px) {
                        font-size: 80px;
                        line-height: 85px;
                    }

                    @media (max-width: 767px) {
                        font-size: 60px;
                    }

                    @media (max-width: 570px) {
                        font-size: 40px;
                        line-height: 56px;
                    }

                    @media (max-width: 470px) {
                        font-size: 30px;
                        line-height: 40px;
                    }


                    span {
                        color: rgba(0, 0, 0, 0);
                        margin-right: 3px;
                    }
                }
            }
        }

        .welcome_items {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            padding: 0 9px;

            .item {

                p{
                    font-size: 18px;
                    line-height: 27px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                }

                h4 {
                    font-size: 20px;
                    line-height: 22px;
                    color: #FFFFFF;
                    margin-bottom: 5px;
                }

                h5 {
                    font-size: 11px;
                    line-height: 16px;
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}

// modal
.modal_window {
    position: absolute;
    left: 0;
    top: -150%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.592);
    z-index: 2;
    transition: all 1s ease;
    // display: none;

    .modal_item {
        width: 350px;
        height: auto;
        background: #fff;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        opacity: 1;
        border-radius: 20px;
        box-shadow: 0 0 20px black;
        margin-top: 50px;
        color: #000;
        padding-top: 20px;
        padding-bottom: 30px;
        
        .modal_text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px 0 10px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 30px;
                margin-bottom: 6px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            // align-items: center;
            row-gap: 20px;

            input {
                width: 70%;
                padding: 10px;
                margin: 0 auto;
                border-radius: 10px;
                font-size: 15px;
                border: 2px solid #E8244F;

                &:hover, &:focus {
                    border: 2px solid #E8244F;
                }
            }

            .input_btn {
                background: #E8244F;
                color: #fff;
                transition: all .8s ease;

                &:hover {
                    background: #fff;
                    color: #E8244F;
                    transition: all .8s ease;
                }

                &:active {
                    background: rgb(8, 19, 245);
                    color: #d0f904;
                    border: 2px solid rgb(8, 19, 245);
                    transition: all .3s ease;
                }
            }

            label {
                margin-left: 54px;
                color: rgba(14, 14, 14, 0.658);
                cursor: pointer;
                font-size: 12px;
            }

            .input_textarea {
                width: 70%;
                padding: 10px;
                margin: 0 auto;
                border-radius: 10px;
                border: 2px solid #E8244F;
                resize: none;
                font-size: 15px;
                display: none;

                &:hover, &:focus {
                    border: 2px solid #E8244F;
                }
            }

            .input_textarea.active {
                display: block;
            }
        }
    }
}

.modal_window.active {
    top: 0;
    transition: all 1s ease;
}



.modal_item_2 {
    position: absolute;
    right: -318px;
    top: 100px;
    width: 350px;
    height: auto;
    background: #000;
    margin: 0 auto;
    z-index: 3;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin-top: 50px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    overflow: hidden;
    transition: all 1s ease;

    .link_active {
        position: absolute;
        top: 30%;
        left: 0;
        width: 30px;
        height: 160px;
        border-radius: 20px 0 0 20px;
        background: #E8244F;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
            transform: rotate(90deg);
            font-size: 20px;
            margin: 0;
            padding: 0;
            color: #fff;
        }
    }

    .modal_text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        row-gap: 20px;

        input {
            width: 70%;
            padding: 10px;
            margin: 0 auto;
            border-radius: 10px;
            font-size: 15px;
            border: 2px solid #E8244F;

            &:hover, &:focus {
                border: 2px solid #E8244F;
            }
        }

        .input_btn {
            background: #E8244F;
            color: #fff;
            transition: all .8s ease;

            &:hover {
                background: #fff;
                color: #E8244F;
                transition: all .8s ease;
            }

            &:active {
                background: rgb(8, 19, 245);
                color: #d0f904;
                border: 2px solid rgb(8, 19, 245);
                transition: all .3s ease;
            }
        }

        label {
            margin-left: 54px;
            color: rgba(14, 14, 14, 0.658);
            cursor: pointer;
            font-size: 12px;
        }

        .input_textarea {
            width: 70%;
            padding: 10px;
            margin: 0 auto;
            border-radius: 10px;
            border: 2px solid #E8244F;
            resize: none;
            font-size: 15px;
            display: none;

            &:hover, &:focus {
                border: 2px solid #E8244F;
            }
        }

        .input_textarea.active {
            display: block;
        }
    }
}

.modal_item_2.active {
    right: 0;
    background: #fff;
    transition: all 1s ease;

    .link_active {
        border-radius: 0 20px 20px 0;
        
    }
}






// togle & side bar
.toggle {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
    margin-bottom: 20px;
    position: relative;
    top: 27px;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #B08EAD;
        transform: translateY(-8px);
        transition: 0.5s;
    }

    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #B08EAD;
        transform: translateY(8px);
        transition: 0.5s;
        box-shadow: 0 -8px 0 #B08EAD;
    }

    @media (max-width: 991px) {
        display: block;
    }

    // @media (max-width: 400px) {
    //     position: absolute;
    //     top: 33px;
    //     right: 20px;
    // }
}

.toggle.active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    transition: all .8s ease;

    &::before {
        transform: translateY(0px) rotate(45deg);
        transition: 0.5s;
        background: #B08EAD;
    }

    &::after {
        transform: translateY(0px) rotate(-45deg);
        transition: 0.5s;
        box-shadow: 0 0 0 #B08EAD;
        background: #B08EAD;

        &:hover {
            transition: .5s;
            background: #FF4A32;
        }
    }
}

.sidebar {
    position: fixed;
    background: #000;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
    width: 100vw;

    .active {
        right: 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li {
            list-style: none;

            a {
                color: #fff;
                display: block;
                text-decoration: none;
                cursor: pointer;
                font-size: 15px;
                margin: 10px 0;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all .4s ease;

                &:hover {
                    transition: all .4s ease;
                    color: #FF4A32;
                }

                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }


        // a.btn {
        //     margin-top: 40px;
        //     cursor: pointer;
        //     text-decoration: none;
        //     width: 178px;
        //     padding: 16px 0;
        //     text-align: center;
        //     border: 1px solid #FFFFFF;
        //     color: #FFFFFF;
        //     font-size: 18px;
        //     line-height: 30px;
        //     transition: all .8s ease;

        //     &:hover {
        //         transition: all .8s ease;
        //         border: 1px solid rgb(44, 44, 252);
        //         color: rgb(44, 44, 252);
        //         background: yellow;
        //     }
        // }
    }

    a.header_icon {

        img.imgsvg {
            width: 35px;
        }
    }
}

.sidebar.active {
    right: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    border: 0;
}

