body {
    background: url(y-so-serious-white.png);
    position: relative;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    align-items: center;
}
.chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: -2px -2px 23px #0aededcc;
}
.link {
    position: absolute;
    bottom: 81px;
    right: 57px;
    transition: 0.5s;
}
.link:hover {
    transform: scale(1.2)
}

.girl {
    order: 1;
}
.gif {
    height: 341px;
    width: 292px;
    background: url(clipart3191609.png) no-repeat;
    margin: 0 auto;
    animation: child 1s steps(4) infinite;
}

@keyframes child {
    0% {
        background-position: 10px;
    }
    100% {
        background-position: -1158px;
    }
}
.text {
    margin-left: 100px;
    order: 2;
}

.text h1 {
    font-weight: 700;
    font-size: 200px;
    text-align: center;
    color: #1f3851;
}
.text h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #777;
    margin-bottom: 10px;
}
.text p {
    margin-bottom: 29px;
    text-align: center;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    max-width: 500px;
}
.text p a {
    text-decoration: none;
    color: #092949;
}
.text p a:hover {
    color: rgb(168, 119, 214);
}
.buttons {
    display: flex;
}
.buttons a {
    margin: 0 auto;
    box-shadow: 0px 1px 2px rgba(10, 51, 114, 0.75);
    outline: none;
    font-size: 16px;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 13px;
    background: linear-gradient(
90deg,#54c4e6 9.07%,#4e1dd4 87.84%);
    border-radius: 5px;
    display: block;
    text-decoration: none;
    transition: 2s;
}

.buttons a:hover {
    transform: scale(1.1);
    background: linear-gradient(
90deg,#4e1dd4 10.77%,#54c4e6 94.08%);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
}
