@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BlackItalic.woff2") format("woff2"), url("../fonts/SourceSansPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BoldItalic.woff2") format("woff2"), url("../fonts/SourceSansPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Italic.woff2") format("woff2"), url("../fonts/SourceSansPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBoldItalic.woff2") format("woff2"), url("../fonts/SourceSansPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-MediumItalic.woff2") format("woff2"), url("../fonts/OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Italic.woff2") format("woff2"), url("../fonts/PTSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-BoldItalic.woff2") format("woff2"), url("../fonts/PTSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.woff2") format("woff2"), url("../fonts/PTSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2"), url("../fonts/PTSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/gilroy-medium.woff") format("woff");
  /* Firefox >= 3.6, any other modern browser */
  font-style: normal;
  font-display: swap;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
svg {
  height: auto;
  max-width: 100%;
}
li {
  list-style: none;
}
.modal-wraper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.611);
  z-index: 999;
  opacity: 1;
  transition: height, width 0.1s, background-color 0.4s;
  overflow: hidden;
  padding: 30px 10px;
}
.modal-wraper .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  cursor: pointer;
  z-index: 10;
}
.modal-wraper .content-wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
}
.modal-wraper .content-wraper .sign {
  border-radius: 5px;
  padding: 20px 10px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #516ea9;
}
.modal-wraper .content-wraper .sign .inp-wraper {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #99efd0;
}
.modal-wraper .content-wraper .sign .inp-wraper input {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  color: #fff;
  width: 100%;
  border: 1px solid #f2994a;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 20px;
  background: transparent;
}
.modal-wraper .content-wraper .sign .inp-wraper input::placeholder {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.modal-wraper .content-wraper .sign .inp-wraper input:focus {
  background-color: rgba(255, 255, 255, 0.392);
  outline: none;
}
.modal-wraper .content-wraper .sign .inp-wraper input[type="submit"] {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  background-color: #f2994a;
  color: #fff;
  cursor: pointer;
}
.modal-wraper iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
}
.hide {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
}
.btn-wraper .btn {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #f2994a;
  background: transparent;
  border: 1px solid #f2994a;
  border-radius: 3px;
  transition: 0.4s;
  box-shadow: transparent;
}
.btn-wraper .btn:hover {
  background-color: #f2994a;
  color: #fff;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}
.btn-wraper .active {
  background-color: #f2994a;
  color: #fff;
}
.main-title {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-weight: 700;
  color: #99efd0;
}
.main-title span {
  color: #f2994a;
}
.main-desc {
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  color: #8476aa;
}
main {
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}
.reasons {
  padding: 60px 0 0;
  background-image: url(../img/head-frame.png);
  background-repeat: no-repeat;
  background-position: right 0 top 100%;
}
.reasons header {
  margin-bottom: 120px;
}
.reasons header .logo {
  padding-right: 45px;
}
.reasons header .menu-wraper {
  width: 100%;
}
.reasons header .header-menu {
  flex-wrap: wrap;
}
.reasons header .menu-item {
  padding: 15px 15px 0;
}
.reasons header .menu-item a {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
  transition: 0.4s;
}
.reasons header .menu-item a:hover {
  color: #f2994a;
}
.reasons header .btn-wraper .btn {
  width: 110px;
  padding: 8px 20px;
  margin: 0 10px;
}
.reasons header .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 5px;
  display: none;
}
.reasons header .navbar-toggler:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 50%;
  height: 2px;
  width: 90%;
  transform: translateX(-50%);
  background-color: #fff;
}
.reasons header .navbar-toggler:before {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 50%;
  height: 2px;
  width: 90%;
  transform: translateX(-50%);
  background-color: #fff;
}
.reasons header .navbar-toggler .navbar-toggler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 95%;
  background-color: #fff;
}
.reasons .head-title {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 44px;
  font-weight: 700;
  color: #99efd0;
  line-height: 50px;
  max-width: 530px;
  margin-bottom: 19px;
}
.reasons .head-desc {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
  max-width: 468px;
  margin-bottom: 40px;
}
.reasons .btn-wraper .btn {
  padding: 13px 10px;
  width: 157px;
  margin: 0 10px 60px;
}
.reasons .video-baner {
  position: relative;
  height: 80px;
  width: 140px;
  background-color: #361c5d;
  border-radius: 4px;
  margin-right: 20px;
}
.reasons .video-baner .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  fill: #fff;
  transition: 0.4s;
}
.reasons .video-baner .play-btn:hover {
  fill: #95a1bb;
}
.reasons .video-desc {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #8476aa;
  max-width: 380px;
  margin-bottom: 5px;
}
.reasons .video-prewiev-link {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #6d6d78;
  transition: 0.4s;
}
.reasons .video-prewiev-link:hover {
  color: #f2994a;
}
.reasons .image-wraper .human-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.choice {
  position: relative;
  padding: 0 0;
  width: 100%;
  overflow-x: hidden;
  z-index: 2;
}
.choice:before {
  position: absolute;
  content: "";
  opacity: 0.4;
  top: 0%;
  left: -5%;
  width: 384px;
  height: 566px;
  background-image: url(../img/svg/choise-left-bg.svg);
  background-size: contain;
  z-index: 1;
}
.choice:after {
  position: absolute;
  content: "";
  opacity: 0.4;
  top: 0%;
  right: -5%;
  width: 384px;
  height: 566px;
  background-image: url(../img/svg/choise-left-bg.svg);
  background-size: contain;
  z-index: 1;
}
.choice .logo-wraper {
  padding: 80px 0 75px;
  max-width: 1025px;
}
.choice .logo-wraper div {
  text-align: center;
}
.choice .logo-wraper a {
  display: inline-block;
  padding: 20px 0;
}
.choice .logo-wraper a img {
  opacity: 0.3;
  transition: 0.4s;
}
.choice .logo-wraper a img:hover {
  opacity: 1;
}
.choice .main-title {
  font-size: 42px;
  margin-bottom: 13px;
  text-align: center;
}
.choice .main-desc {
  line-height: 22px;
  text-align: center;
  margin-bottom: 50px;
}
.choice .choice-wraper {
  position: relative;
  width: 60%;
}
.choice .choice-wraper img {
  position: absolute;
  left: -42px;
}
.choice .choice-item-title {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #99efd0;
  margin-bottom: 10px;
}
.choice .choice-item-desc {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #8476aa;
  max-width: 247px;
  padding-left: 25px;
  margin-bottom: 40px;
}
.increase {
  padding: 170px 0 67px;
  background-image: url(../img/svg/way-bg.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
.increase .increase-title {
  font-size: 42px;
  line-height: 55px;
  max-width: 470px;
  margin-bottom: 16px;
}
.increase .increase-desc {
  line-height: 28px;
  max-width: 470px;
  margin-bottom: 44px;
}
.increase .btn {
  display: block;
  padding: 14px 10px;
  width: 155px;
}
.increase .image-wraper {
  position: relative;
  top: -5px;
  left: -38px;
  max-width: 357px;
  z-index: 0;
}
.increase .image-wraper .overwiev-wraper {
  position: absolute;
  top: 22px;
  left: -31%;
  z-index: 55;
}
.increase .image-wraper .increase-image {
  position: relative;
  border-radius: 10px;
  z-index: 4;
  margin: 0 auto;
  display: block;
}
.increase .image-wraper .arrow-sq {
  position: absolute;
  bottom: -36px;
  left: 135px;
  width: 89px;
  height: 80px;
  background-color: #13c296;
  border-radius: 9px;
  box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
  z-index: 5;
}
.increase .image-wraper .arrow-sq img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.increase .image-wraper:after {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 13px;
  height: 152px;
  width: 140px;
  background-image: url(../img/svg/increase-bg.svg);
  background-size: cover;
  z-index: 1;
}
.increase .increase-container {
  padding-top: 186px;
}
.increase .way-title {
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  max-width: 750px;
  margin-bottom: 15px;
}
.increase .way-desc {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  max-width: 415px;
  margin: 0 auto 48px;
}
.increase .profit-title {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #99efd0;
  margin-bottom: 16px;
  text-align: center;
}
.increase .profit-desc {
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  line-height: 20px;
  max-width: 291px;
  text-align: center;
}
.project {
  padding: 100px 0 0;
  background-image: url(../img/Frame.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.project .main-title {
  font-size: 42px;
  text-align: center;
  max-width: 770px;
  margin-bottom: 46px;
}
.project .btn-wraper .btn {
  padding: 17px 10px;
  width: 164px;
  margin-bottom: 345px;
}
.invest {
  padding: 20px 0;
  background-image: url(../img/svg/map.svg);
  background-position: center right;
  background-repeat: no-repeat;
}
.invest .main-title {
  font-size: 42px;
  max-width: 470px;
  padding-top: 55px;
  margin-bottom: 32px;
}
.invest .main-desc {
  font-size: 15px;
  line-height: 28px;
  max-width: 470px;
  margin-bottom: 46px;
}
.invest .btn-wraper .btn {
  padding: 17px 10px;
  width: 155px;
}
.invest .invest-data-wraper {
  position: relative;
  max-width: 260px;
}
.invest .invest-data-box {
  position: relative;
  max-width: 260px;
  border-radius: 10px;
  overflow: hidden;
}
.invest .invest-data-box .text-container {
  background-color: #fff;
  padding: 20px 30px 22px;
}
.invest .invest-data-box .text-container .box-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  color: #212b36;
  margin-bottom: 2px;
}
.invest .invest-data-box .text-container .box-desc {
  font-family: "Open Sans", sans-serif, "roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: #637381;
  margin-bottom: 22px;
}
.invest .invest-data-box .text-container .box-sum {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #13c296;
  margin-bottom: 5px;
}
.invest .invest-data-box .text-container .box-link {
  font-family: "Open Sans", sans-serif, "roboto";
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 13px;
  color: #98a4af;
  margin-bottom: 20px;
}
.invest .invest-data-box .text-container .info-wraper {
  border-top: 1px solid #d6dbdf;
  padding-top: 15px;
}
.invest .invest-data-box .text-container .info-wraper .data-info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #212b36;
}
.invest .invest-data-box .text-container .info-wraper .data-desc {
  font-family: "Open Sans", sans-serif, "roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: #637381;
}
.invest .invest-label {
  position: absolute;
  padding: 15px 30px;
  right: -130px;
  bottom: 103px;
  width: 130px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #516ea9;
}
.invest .invest-label .label-desc-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  margin-bottom: 1px;
}
.invest .invest-label .label-desc {
  font-family: "Open Sans", sans-serif, "roboto";
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  line-height: 13px;
}
.help {
  padding: 160px 0 96px;
  background-image: url(../img/svg/finding-bg-right.svg);
  background-position: center right;
  background-repeat: no-repeat;
}
.help .img-wraper {
  position: relative;
}
.help .img-wraper img {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
}
.help .img-wraper .help-icon {
  position: absolute;
  bottom: 50px;
  left: -79px;
}
.help .img-wraper:before {
  position: absolute;
  content: "";
  bottom: 41px;
  right: 0px;
  height: 65px;
  width: 62px;
  background-image: url(../img/svg/finding-info-right.svg);
  background-size: cover;
}
.help .img-wraper:after {
  position: absolute;
  content: "";
  top: -20px;
  left: -32px;
  height: 62px;
  width: 132px;
  background-image: url(../img/svg/finding-info.svg);
  background-size: cover;
  z-index: 0;
}
.help .main-title {
  font-size: 26px;
  padding-top: 60px;
  margin-bottom: 32px;
}
.help .main-desc {
  line-height: 20px;
  max-width: 414px;
  margin-bottom: 53px;
}
.help .block .block-image {
  margin-bottom: 20px;
}
.help .block .block-title {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #99efd0;
  margin-bottom: 8px;
}
.help .block .main-desc {
  max-width: 225px;
}
.help .block .main-desc:first-child {
  margin-right: 65px;
}
.subscribe {
  padding: 100px 0 0;
  background-image: url(../img/svg/reasons-bg.svg);
  background-position: center center;
}
.subscribe .form-wraper {
  padding: 50px 10px;
  max-width: 940px;
  margin: 0 auto;
  background: rgba(60, 62, 125, 0.8);
  backdrop-filter: blur(134px);
  border-radius: 5px;
}
.subscribe .form-wraper .main-title {
  font-size: 36px;
  color: #f2994a;
  margin-bottom: 20px;
}
.subscribe .form-wraper .main-desc {
  font-size: 16px;
  margin-bottom: 26px;
  max-width: 396px;
  text-align: center;
}
.subscribe .form-wraper .inp-wraper {
  max-width: 436px;
  margin-bottom: 16px;
}
.subscribe .form-wraper .inp-wraper input[type="email"] {
  padding: 18px 16px;
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  width: 75%;
  background-color: #f6f6f65f;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.subscribe .form-wraper .inp-wraper input[type="email"]:focus {
  background-color: rgba(255, 255, 255, 0.727);
}
.subscribe .form-wraper .inp-wraper input[type="email"]::placeholder {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.subscribe .form-wraper .inp-wraper input[type="submit"] {
  padding: 18px 10px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  color: #fff;
  width: 25%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f2994a;
}
footer {
  padding: 145px 0 79px;
  background-image: url(../img/svg/Frame.svg);
  background-size: cover;
  background-position: center center;
}
footer .pre-footer {
  max-width: 984px;
  margin-bottom: 68px;
}
footer .pre-footer .logo {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #f2994a;
}
footer .pre-footer .social-nav {
  margin-left: 0;
}
footer .pre-footer .social-nav li {
  padding: 0 8px;
}
footer .pre-footer .social-nav li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 5px 13px;
  border-radius: 50%;
  background-color: #f6f6f65f;
  transition: 0.4s;
}
footer .pre-footer .social-nav li a:hover {
  background-color: #f6f6f6b6;
}
footer .footer-lists {
  max-width: 980px;
}
footer .footer-title {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  margin-bottom: 25px;
}
footer .footer-list {
  padding-left: 0;
  margin-bottom: 120px;
}
footer .footer-list li {
  margin-bottom: 16px;
}
footer .footer-list li a {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  color: #fff;
  transition: 0.4s;
}
footer .footer-list li a:hover {
  color: #f2994a;
}
footer .copy-nav {
  margin: 0 auto;
}
footer .copy-nav li {
  margin: 0 17px;
}
footer .copy-nav li a {
  font-family: "Inter", sans-serif, "roboto", "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8d8d8d;
}
@media screen and (max-width: 992px) {
  .reasons {
    padding: 20px 0;
  }
  .reasons header .menu-wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    transition: 0.4s;
    padding: 10px 20px;
  }
  .reasons header .menu-wraper .header-menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .reasons header .menu-wraper .menu-item {
    padding: 15px 0;
    text-align: center;
    transition: 0.4s;
    background: transparent;
    width: 100%;
  }
  .reasons header .menu-wraper .menu-item:hover {
    background-color: #d6dbdf;
  }
  .reasons header .navbar-toggler {
    display: block;
  }
  .reasons header .hide {
    transform: translateY(-200%);
  }
  .reasons header .show {
    transform: translateY(0%);
  }
  .increase,
  .choice,
  .project,
  .invest,
  .help,
  .subscribe {
    padding: 20px;
  }
  .increase .main-title,
  .choice .main-title,
  .project .main-title,
  .invest .main-title,
  .help .main-title,
  .subscribe .main-title {
    font-size: 27px;
    line-height: 35px;
    width: 100%;
    text-align: center;
  }
  .increase-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .choice .choice-wraper {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .increase .profit-desc {
    max-width: 100%;
  }
  .image-wraper {
    margin-top: 30px;
  }
  .choice .choice-wraper {
    width: 100%;
  }
  .choice .choice-item-desc {
    padding-left: 0;
  }
  .invest .btn-wraper {
    margin-bottom: 40px;
  }
  .invest .btn-wraper .btn {
    display: block;
  }
  .help .block .main-desc {
    min-width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 575px) {
  .choice .choice-wraper {
    width: 100%;
    text-align: center;
  }
  .choice .choice-wraper .choice-item-title {
    text-align: center;
  }
  .choice .choice-item-desc {
    width: 100%;
    text-align: center;
  }
  .invest {
    margin-bottom: 80px;
  }
  .invest .invest-data-box {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .invest .invest-label {
    width: 100%;
    bottom: -15%;
    left: 0;
    border-radius: 10px;
    text-align: center;
  }
}
