* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.header {
  background: #eeeff1;
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 161px;
}

.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
}

.nav-menu ul.sub-menu li a {
  margin-right: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000;
  transition: 0.3s;
}

.nav-menu ul.sub-menu li a:hover {
  color: #34547a;
  text-decoration: none;
}

.nav-menu ul.sub-menu li:last-child a {
  margin-right: 0;
}
.banner {
  background: #eeeff1;
}

body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-top: -10px;
  padding-bottom: 15px;
  color: #000000;
}
body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 60px;
}

.btnBanner {
  display: block;
  width: 235px;
  padding: 25px 41px;
  text-align: center;
  background: #34547a;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: 0.3s;
}

.btnBanner:hover{
text-decoration: none;
color: aqua;
}

.parentTextBanner {
  padding-bottom: 146px;
}
