* {
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.modal-wraper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 989;
}

.modal-wraper .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 5px;
  background-color: white;
  max-width: 400px;
}

.modal-wraper .modal-content .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
  cursor: pointer;
  font-family: sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal-wraper .modal-content .close:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-wraper .modal-content .modal-title {
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.modal-wraper .modal-content .input-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0 auto;
}

.modal-wraper .modal-content input,
.modal-wraper .modal-content textarea {
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
  display: inline-block;
  border: 1px solid black;
  background-color: transparent;
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
  outline: none;
  border-radius: 3px;
  resize: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal-wraper .modal-content input::-webkit-input-placeholder,
.modal-wraper .modal-content textarea::-webkit-input-placeholder {
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
}

.modal-wraper .modal-content input:-ms-input-placeholder,
.modal-wraper .modal-content textarea:-ms-input-placeholder {
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
}

.modal-wraper .modal-content input::-ms-input-placeholder,
.modal-wraper .modal-content textarea::-ms-input-placeholder {
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
}

.modal-wraper .modal-content input::placeholder,
.modal-wraper .modal-content textarea::placeholder {
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
}

.modal-wraper .modal-content input:focus,
.modal-wraper .modal-content textarea:focus {
  background-color: #d6d6d6;
}

.modal-wraper .modal-content input[type="submit"] {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  background-color: #56e244;
  border: none;
  cursor: pointer;
}

.main-section {
  background-image: url(../img/main-img.jpg);
  background-position: center center;
  background-size: cover;
}

.main-section .bg {
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.529);
}

.container {
  max-width: 1200px;
  height: 1000px;
  margin: 0 auto;
}

.menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-wraper .logo {
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.menu-wraper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
}

.menu-wraper ul li {
  padding: 0 20px;
  list-style: none;
}

.menu-wraper ul a {
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.btn {
  display: block;
  max-width: 200px;
  margin: 250px auto;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #56e244;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */