* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.header {
  background: #eeeff1;
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 161px;
}

.page {
  position: relative;
}

.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
}

.nav-menu ul.sub-menu li a {
  margin-right: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000;
  transition: 0.3s;
}

.nav-menu ul.sub-menu li a:hover {
  color: #34547a;
  text-decoration: none;
}

.nav-menu ul.sub-menu li:last-child a {
  margin-right: 0;
}
.banner {
  background: #eeeff1;
}

body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-top: -10px;
  padding-bottom: 15px;
  color: #000000;
}
body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 60px;
}

.btnBanner {
  display: block;
  width: 235px;
  padding: 25px 41px;
  text-align: center;
  background: #34547a;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: 0.3s;
}

.btnBanner:hover {
  text-decoration: none;
  color: aqua;
}

.parentTextBanner {
  padding-bottom: 146px;
}

.activated-li {
  color: rgb(0, 231, 231) !important;
}

.popup-board {
  display: none;
  position: fixed;
  z-index: 5;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 10px;
}

.popup-board p {
  transform: rotate(45deg);
  font-size: 40px;
  color: azure;
  position: absolute;
  top: -8px;
  left: 90%;
  cursor: pointer;
}

.popup-board p:hover {
  color: azure;
}

.board-content {
  width: 100%;
  text-align: center;
  position: relative;
}

.board-content h2 {
  font-size: 25px;
  color: azure;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(133, 133, 133);
}

.board-content input {
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}

.board-content a {
  padding: 5px 10px;
  background: #34547a;
  color: azure;
}

.board-content a:hover {
  text-decoration: none;
  background-color: aqua;
  color: 727272;
}

.popup-board-active {
  display: block;
}

.page-dimmed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836);
  pointer-events: none;
}

.pop-up-button {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0px;
  bottom: 50px
}

.pop-up-button .send {
  font-size: 30px;
  height: 75px;
  text-align: center;
  padding: 10px;
  background-color: aqua;
  color: azure;
  transform: rotate(-90deg);
  border-radius: 10px;
}


.form-container-button{
  display: flex;
  flex-direction: column;
  visibility: hidden;;
}


.board-content {
  width: 100%;
  text-align: center;
  position: relative;
}

.form-container-button h2 {
  font-size: 25px;
  color: rgb(48, 48, 48);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(133, 133, 133);
}

.form-container-button input {
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}

