* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.header {
  background: #eeeff1;
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 161px;
}

.page {
  position: relative;
}

.nav-menu ul.sub-menu {
  display: flex;
  list-style: none;
}

.nav-menu ul.sub-menu li a {
  margin-right: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000;
  transition: 0.3s;
}

.nav-menu ul.sub-menu li a:hover {
  color: #34547a;
  text-decoration: none;
}

.nav-menu ul.sub-menu li:last-child a {
  margin-right: 0;
}
.banner {
  background: #eeeff1;
}

body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-top: -10px;
  padding-bottom: 15px;
  color: #000000;
}
body
  > main
  > div
  > section
  > div
  > div
  > div.col-xl-7.col-lg-7.col-md-12.col-sm-12
  > div
  > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 60px;
}

.btnBanner {
  display: block;
  width: 235px;
  padding: 25px 41px;
  text-align: center;
  background: #34547a;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: 0.3s;
}

.btnBanner:hover {
  text-decoration: none;
  color: aqua;
}

.parentTextBanner {
  padding-bottom: 146px;
}

.activated-li {
  color: rgb(0, 231, 231) !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #3f9bb8 !important;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40% !important;
  position: relative;
}

.modal-content h2 {
  font-family: "ElMessiri";
  text-align: center;
  font-size: 25px;
  color: rgb(224, 224, 224);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(133, 133, 133);
}

.modal-content input {
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}

.modal-content a {
  width: 30%;
  margin: 0 auto;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding: 8px 20px;
  background-color: #190e75;
  color: white;
  transition: 0.5s ease-in-out;
}

.modal-content a:hover {
  background-color: #7a45db;
  text-decoration: none;
  color: white;
}

.modal-content p {
  transform: rotate(45deg);
  font-size: 40px;
  color: azure;
  position: absolute;
  top: 15px;
  left: 95%;
  cursor: pointer;
}

.modal-content p:hover {
  color: rgb(166, 175, 175);
}

.form_window {
  padding: 20px;
  width: 350px;
  background: #3f9bb8;
  border-radius: 5px;
  position: fixed;
  top: 315px;
  right: -350px;
  transition: 1s ease-in-out;
  z-index: 2;
}

.form_window h2 {
  font-family: "ElMessiri";
  text-align: left;
  font-size: 25px;
  color: rgb(224, 224, 224);
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(133, 133, 133);
}

form input {
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 15px;
}
form a {
  width: 40%;
  margin: 0 auto;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding: 8px 0px;
  background-color: #190e75;
  color: white;
  transition: 0.5s ease-in-out;
}

form a:hover {
  background-color: #7a45db;
  text-decoration: none;
  color: white;
}

form button:hover {
  background: #4777d1;
}

.open {
  content: "Open";
  position: absolute;
  top: 25%;
  left: -95px;
  padding: 8px 40px;
  font-family: "ProximaNovaSemibold";
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transform: rotate(-90deg);
  background: #018abe;
  border-radius: 5px;
  color: #ffffff;
}

.translate-modal {
  right: 1px;
}
