@media (min-width: 1200px) {
  .for_page .container {
    max-width: 1110px;
  }
}

@media (max-width: 1199px) {
  .video .video_img_container {
    max-height: 500px;
  }
  .video .video_img_container .youtube {
    height: 500px;
  }
}

@media (max-width: 991px) {
  .video .video_img_container {
    max-height: 380px;
  }
  .video .video_img_container .youtube {
    height: 400px;
  }
  .video .video_img_container .youtube .play {
    background-position: 0 -70px;
    height: 70px;
    width: 70px;
  }
  .header {
    padding: 30px 0 40px 0;
  }
  .header .parent_responsive_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .parent_responsive_menu .responsive_menu {
    display: block;
  }
  .header .parent_responsive_menu .responsive_menu i {
    font-size: 33px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    cursor: pointer;
    color: #34547A;
  }
  .header .parent_responsive_menu .responsive_menu i:hover {
    color: #00D5E4;
  }
  .banner {
    padding: 10px 0 60px 0;
  }
  .banner .parent_text_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .parent_text_banner h2, .banner .parent_text_banner p {
    text-align: center;
  }
  .banner .img_banner {
    padding: 10px 0 40px 0;
  }
  .banner .btn_banner {
    width: 203px;
    padding: 16px;
    font-size: 15px;
    line-height: 20px;
  }
  .nav_menu {
    display: none;
  }
  .rectangle {
    padding: 50px 0;
  }
  .rectaingle_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .scills .content_left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .scills .content_left .container_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parrent_galery .fancy_child {
    width: 50%;
  }
  .parrent_galery .child_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .parrent_galery .child_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .parrent_galery .child_3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .parrent_galery .child_4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .parrent_galery .child_5 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .parrent_galery .child_6 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .parrent_galery .child_7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .parrent_galery .child_8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 767px) {
  .video .video_img_container {
    max-height: 280px;
  }
  .video .video_img_container .youtube {
    height: 350px;
  }
  .nav_menu .sub_menu {
    padding-top: 20px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .parent_text_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rectangle {
    padding: 30px 0;
  }
  .scills {
    padding: 50px 0;
  }
  .about_me .container_about_me {
    margin: 50px 0 50px 0;
    width: 360px;
  }
  .video {
    padding: 40px 0 40px 0;
  }
  .video .text {
    width: 360px;
    margin-bottom: 30px;
    padding: 0 10px 0 10px;
  }
  .video .video_img_container .play_btn {
    width: 50px;
  }
  .form {
    padding: 50px 0;
  }
  .form .text_form {
    width: 360px;
    padding: 0 10px 0 10px;
  }
  .footer .contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients .container_clients {
    margin: 30px 0 30px 0;
  }
  .clients .container_clients .product {
    width: 175px;
  }
}

@media (max-width: 470px) {
  .video .video_img_container {
    max-height: 230px;
  }
}

@media (max-width: 360px) {
  .nav_menu .sub_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .parent_text_banner h2 {
    font-size: 28px;
    line-height: 29px;
  }
  .parent_text_banner .btn_banner {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .about_me .container_about_me {
    margin: 30px 0;
    width: 250px;
    padding: 0 10px;
  }
  .rectangle {
    padding: 20px 0;
  }
  .scills {
    padding: 30px 0;
  }
  .video {
    padding: 30px 0 30px 0;
  }
  .video .text {
    width: 260px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
  }
  .video .text h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .form {
    padding: 30px 0;
  }
  .form .text_form {
    width: 250px;
    overflow: hidden;
  }
  .footer .contant {
    margin: 15px 0;
  }
  .clients .container_clients {
    margin: 20px 0 20px 0;
  }
  .clients .container_clients .product {
    width: 125px;
  }
}
/*# sourceMappingURL=restyle.css.map */