* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto_regular', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.for_page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* ===Header=== */
.header {
  background: #EEEFF1;
  padding: 57px 0 140px 0;
}

.header .parent_responsive_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .parent_responsive_menu .responsive_menu {
  display: none;
}

/* ===Nav Menu=== */
.nav_menu .sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 90px;
}

.nav_menu .sub_menu .item_menu .link_item_menu {
  margin-right: 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.nav_menu .sub_menu .item_menu .link_item_menu:hover {
  color: #34547A;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.nav_menu .sub_menu .item_menu:last-child .link_item_menu {
  margin-right: 0px;
}

/* ===Nav Menu=== */
/* ===Header=== */
/* ===Banner Block=== */
.banner {
  background: #EEEFF1;
  padding: 21px 0 188px 0;
}

.container_img_banner {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.img_banner {
  display: block;
  margin: 0 auto;
}

.parent_text_banner h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  padding-bottom: 20px;
}

.parent_text_banner p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 40px;
}

.parent_text_banner .btn_banner {
  display: block;
  width: 225px;
  padding: 25px;
  background: #34547A;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  text-decoration: none;
  border: 1px solid #34537a00;
}

.parent_text_banner .btn_banner:hover {
  color: #34547A;
  background: #FFFFFF;
  border: 1px solid #34547A;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

/* ===Banner Block=== */
.about_me {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 91px 15px 114px 15px;
}

.about_me .container_about_me {
  max-width: 540px;
  height: auto;
}

.about_me .container_about_me h2 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 30px;
}

.about_me .container_about_me p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  background: #34547A;
  padding: 100px 0;
}

.rectangle .rectaingle_container {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rectangle .rectaingle_container .rectaingle_contant {
  width: 141px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rectangle .rectaingle_container .rectaingle_contant img {
  max-height: 50px;
  max-width: 50px;
}

.rectangle .rectaingle_container .rectaingle_contant .rem {
  width: auto;
  height: auto;
  max-height: 25px;
}

.rectangle .rectaingle_container .rectaingle_contant .rem h3 {
  font-weight: 500;
  font-size: 23px;
  color: #FFFFFF;
}

.rectangle .rectaingle_container .rectaingle_contant .rem p {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.scills {
  width: auto;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0 108px 0;
}

.scills .content_left {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scills .content_left .container_text {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scills .content_left .container_text .up_text {
  margin-bottom: 50px;
}

.scills .content_left .container_text .up_text h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.scills .content_left .container_text .down_text {
  width: 100%;
  max-width: 445px;
  height: auto;
}

.scills .content_left .container_text .down_text p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.scills .content_left .container_text .down_text div {
  width: 100%;
  height: 4px;
  background: #C4C4C4;
  position: relative;
  margin-bottom: 12px;
}

.scills .content_left .container_text .down_text div::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 4px;
  background: #34547A;
  -webkit-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

.scills .content_left .container_text .down_text div:hover:after,
.scills .content_left .container_text .down_text :focus:after {
  width: 80%;
  -webkit-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

.scills .contant_right {
  width: 100%;
  height: auto;
}

.video {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E5E5E5;
  padding: 96px 0 100px 0;
}

.video .text {
  margin: 0 auto;
  max-width: 540px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 57px;
}

.video .text h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
}

.video .text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.video .video_img_container {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video .video_img_container .youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  width: 100%;
  height: 600px;
  background-size: cover;
}

.video .video_img_container .youtube .play {
  background: url("../img/youtube-play-btn.png") no-repeat;
  background-position: 0 -100px;
  background-size: 100% auto;
  position: absolute;
  height: 100px;
  width: 100px;
  -webkit-transition: none;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.video .video_img_container .youtube:hover .play {
  background-position: 0 0;
}

.video iframe {
  width: 100%;
  height: 600px;
}

.parrent_galery {
  padding-top: 28px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parrent_galery .fancy_child {
  width: 25%;
  max-height: 445px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.parrent_galery .fancy_child:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/view.png) no-repeat, -webkit-gradient(linear, left bottom, left top, from(rgba(52, 84, 122, 0.8)), to(rgba(52, 84, 122, 0.8)));
  background: url(../img/view.png) no-repeat, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  background-position: center center;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.slider-carousel .items {
  max-width: 255px;
  max-height: 120px;
}

.slider-carousel .owl-theme .owl-dots .owl-dot {
  display: none;
}

.form {
  width: 100%;
  height: auto;
  background: #EEEFF1;
  padding: 100px 15px;
}

.form .text_form {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.form .text_form h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
}

.form .text_form p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 65px;
}

.form_child {
  max-width: 540px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.form_child .container_form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

.form_child .container_form_input .form_input {
  width: 45%;
  height: auto;
  margin-bottom: 20px;
}

.form_child .container_form_input .form_input input {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
  padding: 17px 0 18px 20px;
  border: none;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
  outline: none;
}

.form_child .input_textarea {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.form_child .input_textarea textarea {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 17px 0 143px 20px;
  border: none;
  resize: none;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
  outline: none;
}

.form_child .btn_input {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.form_child .btn_input input {
  width: 190px;
  height: auto;
  padding: 20px 0;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  background: #34547A;
  border: none;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  border: 1px solid #34537a00;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.438);
}

.form_child .btn_input input:hover {
  color: #34547A;
  background: #FFFFFF;
  border: 1px solid #34547A;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: auto;
  background: #34547A;
  padding: 50px 0;
}

.footer .contant {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contant .text {
  width: auto;
  height: auto;
}

.footer .contant .text h3 {
  font-family: Roboto_medium, sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer .contant .text p {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .contant .logo {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contant .logo a {
  margin-left: 21px;
}

.footer .contant .logo a:nth-child(1) {
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */