@media (min-width: 1200px) {
	.for_page.container {
		max-width: 1110px;
	}
}

@media (max-width: 1199px){

}
@media (max-width: 991px){
 .responsive_menu 
  {
    display: block;
  }
   .responsive_menu  i 
   {
font-size: 33px;
color: #34547a;
transition: 0.3s;
cursor: pointer;
   }
   .responsive_menu  i:hover 
   {
   	
   	color: #03d5e4;
   }
  .nav-menu 
  {
  	display: none;
  }
  .parent_responsive_menu {
  	display: flex;
  	justify-content: space-between;
  }
  .banner 
  {
  	padding: 50px 0;
  }
  .banner .parentTextBanner {
  	margin-top: 20px;
  }
  .banner .parentTextBanner  h2 
  {
  	font-weight: 500;
  	font-size: 48px;
  	line-height: normal;
  	color: #000000;
  	margin-bottom: 10px;
  }
     .banner .parentTextBanner p
     {
     	margin-bottom: 20px;
} 
}
@media (max-width: 767px){

}
@media (max-width: 500px){
  .banner .parentTextBanner  h2 
  {
  	font-size: 35px;
 
  }




}
@media (max-width: 470px){
  .banner .parentTextBanner a {
  
  	font-size: 14px;
  
  	padding: 9px 0px;
  	width: 183px;
  	margin: 9px;
  }
}


@media (min-width: 1200px) {
  .for_page .about {
    margin: auto;
    max-width: 1110px;
  }
}
